.jmb-dialog-invition{
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
} 
.jmb-dialog-invition-header{
	font-size: 14px;
	font-weight: bold;
    	margin: 5px;
    	text-align: center;
}
.jmb-dialog-invition .jmb-profile-mini-info{
	 background: none repeat scroll 0 0 #5F8D34;
	 margin: 10px;
	 padding: 5px;
}
.jmb-dialog-invition .jmb-profile-mini-info table{
	background: none repeat scroll 0 0 #F1E4B0;
	width:100%;
}
.jmb-dialog-invition-fields{
	margin: 10px;
}
.jmb-dialog-invition-fields table{
	margin-left: 30px;
}
.jmb-dialog-invition-fields table span.title{
	font-weight: bold;
}
.jmb-dialog-invition-fields input{
	border: 1px solid #999999;
	margin-left: 10px;
    	width: 200px;
}
.jmb-dialog-invition-send{
	margin-right: 10px;
	text-align: right;
}
.jmb-dialog-invition-send input{
	border: 2px solid #999999;
	border-radius: 3px 3px 3px 3px;
    	cursor: pointer;
}

.jmb-profile-mini-photo {
	height: 90px;
	width: 81px;
}
.jmb-profile-mini-photo div {
	border: 2px solid #000000;
}
.jmb-profile-mini-info-body {
	padding-left: 5px;
	padding-top: 10px;
    	vertical-align: top;
}
