[data-familytreetop-color="0"]{
    color: #924192;
}
[data-familytreetop-color="1"]{
    color: #415981;
}
.familytreetop-is-mother-line {
    background: #FFABFF !important;
}
.familytreetop-is-mother-line > * {
    background: none !important;
}
.familytreetop-is-father-line {
    background: #B3CFFF !important;
}
.familytreetop-is-father-line > * {
    background: none !important;
}
[class-familytreetop="module-padding"] {
    padding: 20px;
}
.familytreetop-hover-effect:hover {
    background: #dff0d8 !important;
}
.familytreetop-hover-effect:hover  td {
    background: none !important;
}
.familytreetop-gallery li{
    border: 1px solid white;
    padding: 5px 0px;
}
.familytreetop-gallery li.active{
    border: 1px solid yellow;
}
.parent-box img:hover, .child-box img:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.familytreetop-this-month-data {
    background: url('../images/this-month-data.png');
    width: 22px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
}
.familytreetop-popover-footer {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.familytreetop-table-td td {
    padding: 4px;
}
