<div class="jmb-dialog-profile-content-basic">
    <form id="jmb:fullprofile:basic" method="post" target="iframe-profile">
        <div class="jmb-dialog-button-submit"><input type="submit" value="Save"></div>
        <div class="jmb-dialog-profile-content-basic-body">
            <table style="width:100%;">
                <tr>
                    <td>
                        <div style="width:135px;height:150px;" class="jmb-dialog-avatar">
                            <div class="jmb-dialog-profile-death-marker">&nbsp</div>
                        </div>
                    </td>
                    <td valing="top">
                        <table id="basic_fields">
                        <tr>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_GENDER</span>:</div></td>
                            <td>
                                <div class="gender text">
                                    <span>
                                        <select name="gender">
                                            <option value="F">FTT_MOD_PROFILE_EDITOR_FORM_GENDER_FEMALE</option>
                                            <option value="M">FTT_MOD_PROFILE_EDITOR_FORM_GENDER_MALE</option>
                                        </select>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_LIVING</span>:</div>
                            </td>
                            <td>
                                <div class="living text">
                                    <span>
                                        <select name="living">
                                            <option value="1">FTT_MOD_PROFILE_EDITOR_FORM_LIVING_YES</option>
                                            <option value="0">FTT_MOD_PROFILE_EDITOR_FORM_LIVING_NO</option>
                                        </select>
                                    </span>
                                </div>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_FIRST_NAME</span>:</div>
                            </td>
                            <td colspan="3">
                                <div class="first_name text">
                                    <span>
                                        <input name="first_name" type="text" value="">
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_MIDDLE_NAME</span>:</div>
                            </td>
                            <td colspan="3">
                                <div class="middle_name text">
                                    <span>
                                        <input name="middle_name" type="text" value="">
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_LAST_NAME</span>:</div>
                            </td>
                            <td colspan="3">
                                <div class="last_name text">
                                    <span>
                                        <input name="last_name" type="text" value="">
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_KNOW_AS</span>:</div>
                            </td>
                            <td colspan="3">
                                <div class="nick text">
                                    <span>
                                        <input name="nick" type="text" value="">
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="date_fields">
                            <tr id="birthdate">
                                <td>
                                    <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_BORN</span>:</div>
                                </td>
                                <td>
                                    <div class="birth_date text">
                                        <span>
                                            <select name="birth_days"></select>
                                            <select name="birth_months"></select>
                                            <input name="birth_year" type="text" style="width:40px;" maxlength="4" placeholder="Year" value="">
                                            <input name="birth_option" type="checkbox"> FTT_MOD_PROFILE_EDITOR_FORM_UNKNOW
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_BORNPLACE</span>:</div>
                                </td>
                                <td>
                                    <div class="birth_place text">
                                        <span>
                                            <input name="birth_city"  type="text" placeholder="Town/City" value="">
                                            <input name="birth_state" type="text" placeholder="Prov/State" value="">
                                            <input name="birth_country" type="text" placeholder="Country" value="">
                                        </span>
                                     </div>
                                 </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_DEATH</span>:</div>
                                </td>
                                <td>
                                    <div class="death_date text">
                                        <span>
                                            <select name="death_days"></select>
                                            <select name="death_months"></select>
                                            <input name="death_year" type="text" style="width:40px;" maxlength="4" placeholder="Year" value="">
                                            <input name="death_option" type="checkbox"> FTT_MOD_PROFILE_EDITOR_FORM_UNKNOW
                                         </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_DEATHPLACE</span>:</div>
                                </td>
                                <td>
                                    <div class="death_place text">
                                        <span>
                                            <input name="death_city"  type="text" placeholder="Town/City" value="">
                                            <input name="death_state" type="text" placeholder="Prov/State" value="">
                                            <input name="death_country" type="text" placeholder="Country" value="">
                                         </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>