<div class="jmb-dialog-profile-content-union">
    <form method="post">
        <div class="jmb-dialog-profile-content-unions-header">
            <div class="title count"><span>FTT_MOD_PROFILE_EDITOR_FORM_UNION</span></div>
            <div id="current_partner" class="title">
                <input name="current_partner" type="radio"><span>FTT_MOD_PROFILE_EDITOR_FORM_SHOW_CURRENT_PARTNER</span>
            </div>
            <div id="button">
                <input type="submit" value="FTT_MOD_PROFILE_EDITOR_SAVE">
            </div>
        </div>
        <div class="jmb-dialog-profile-content-unions-body">
            <table>
                <tr>
                    <td>
                        <div>
                            <div class="jmb-dialog-profile-content-unions-person">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="info">
                                                <div class="full_name text"><span></span></div>
                                                <div class="birthday text"><span></span></div>
                                                <div class="birthplace text"><span></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar text">
                                                <span>
                                                    <div width="72" height="80" class="jmb-dialog-avatar">
                                                        <div class="jmb-dialog-profile-death-marker">&nbsp</div>
                                                    </div>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-left: 10px;" class="jmb-dialog-profile-content-unions-person">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="spouse_avatar text">
                                                <span>
                                                    <div width="72" height="80" class="jmb-dialog-avatar">
                                                        <div class="jmb-dialog-profile-death-marker">&nbsp</div>
                                                    </div>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info">
                                                <div class="spouse_full_name text"><span></span></div>
                                                <div class="spouse_birthday text"><span></span></div>
                                                <div class="spouse_birthplace text"><span></span></div>
                                            </div>
                                         </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top"><div class="jmb-dialog-profile-content-unions-part">
                        <table id="union_event">
                            <tr>
                                <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_TYPE</span>:</div></td>
                                <td><select name="marr_type"><option value="MARR">FTT_MOD_PROFILE_EDITOR_FORM_TYPE_MARRIAGE</option></select></td>
                            </tr>
                            <tr id="marrdate">
                                <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_DATE</span>:</div></td>
                                <td>
                                    <div class="marr_date text">
                                        <span>
                                            <select name="marr_days"></select>
                                            <select name="marr_months"></select>
                                            <input name="marr_year" type="text" style="width:40px;" maxlength="4" placeholder="Year" value="">
                                            <input name="marr_option" type="checkbox">&nbsp;<span id="unknown">FTT_MOD_PROFILE_EDITOR_FORM_UNKNOW</span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr id="marrplace">
                                <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_FORM_LOCATION</span>:</div></td>
                                <td>
                                    <div class="marr_place text">
                                        <span>
                                            <input name="marr_city"  type="text" placeholder="Town/City" value="">
                                            <input name="marr_state" type="text" placeholder="Prov/State" value="">
                                            <input name="marr_country" type="text" placeholder="Country" value="">
                                        </span>
                                     </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="deceased text">
                                        <span>
                                            <input name="deceased" type="checkbox" style="position:relative; top:3px;">
                                            &nbsp;<span id="divorce">FTT_MOD_PROFILE_EDITOR_FORM_DIVORCE</span>&nbsp;
                                            <input placeholder="Year" name="marr_divorce_year" type="text" style="width:40px;" value="" maxlength="4">
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>