.lManipulator {
}

.lManipulator table {
	border: none !important;
}

.lManipulator div {
	text-align: center !important;
}
		
.lManipulatorImg {
	height:27px;
	width:30px;
	cursor:pointer;
}

.lManipulatorParam {
	vertical-align:middle;
	text-align:center;
}

.lManipulatorImg1 {
	background:url("../imgs/layout.gif") no-repeat 0px 0px;
}

.lManipulatorImg2 {
	background:url("../imgs/layout.gif") no-repeat -29px 0px;
}

.lManipulatorImg3 {
	background:url("../imgs/layout.gif") no-repeat -58px 0px;
}
		
.lManipulatorImgSelected1 {
	background-position:0px -26px;
}

.lManipulatorImgSelected2 {
	background-position:-29px -26px;
}

.lManipulatorImgSelected3 {
	background-position:-58px -26px;
}
