<div class="well margin-top-15 hidden" data-formworker-block familytreetop="module">
    <fieldset style="padding-bottom: 10px;">
        <legend>
            <div style="height:40px;">
                <div class="pull-left"><span familytreetop="union-title" style="margin-left:10px;" data-l10n-id="TPL_FAMILYTREETOP_EDITOR_TABS_UNIONS_UNIONS"></span></div>
                <div class="pull-right">
                    <div familytreetop="union-button" style="margin-right: 10px;">
                        <button familytreetop="current" class="btn disabled hidden" data-l10n-id="TPL_FAMILYTREETOP_BUTTON_CURRENT"></button>
                        <button familytreetop="set-current" class="btn btn-primary hidden" data-l10n-id="TPL_FAMILYTREETOP_BUTTON_SET_CURRENT"></button>
                    </div>
                </div>
            </div>
        </legend>
        <input style="display:none;" name="family_id" type="text" class="form-control hidden" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="well" style="background: white;margin: 5px;">
                        <div class="row">
                            <div class="col-md-4" style="min-width:120px;" data-familytreetop-avatar></div>
                            <div class="col-md-8" style="text-align:left;" data-familytreetop-user-data></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well" style="background: white;margin: 5px;">
                        <div class="row">
                            <div class="col-md-4" style="min-width:120px;" data-familytreetop-avatar></div>
                            <div class="col-md-8" style="text-align:left;" data-familytreetop-user-data></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-12" style="padding-left: 5px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control" data-formworker-group-by="marriage" name="start_month">
                                    <option value="0" data-l10n-id="TPL_FAMILYTREETOP_MONTH"></option>
                                    <option value="1" data-l10n-id="TPL_FAMILYTREETOP_JANUARY"></option>
                                    <option value="2" data-l10n-id="TPL_FAMILYTREETOP_FEBRUARY"></option>
                                    <option value="3" data-l10n-id="TPL_FAMILYTREETOP_MARCH"></option>
                                    <option value="4" data-l10n-id="TPL_FAMILYTREETOP_APRIL"></option>
                                    <option value="5" data-l10n-id="TPL_FAMILYTREETOP_MAY"></option>
                                    <option value="6" data-l10n-id="TPL_FAMILYTREETOP_JUNE"></option>
                                    <option value="7" data-l10n-id="TPL_FAMILYTREETOP_JULY"></option>
                                    <option value="8" data-l10n-id="TPL_FAMILYTREETOP_AUGUST"></option>
                                    <option value="9" data-l10n-id="TPL_FAMILYTREETOP_SEPTEMBER"></option>
                                    <option value="10" data-l10n-id="TPL_FAMILYTREETOP_OCTOBER"></option>
                                    <option value="11" data-l10n-id="TPL_FAMILYTREETOP_NOVEMBER"></option>
                                    <option value="12" data-l10n-id="TPL_FAMILYTREETOP_DECEMBER"></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" data-formworker-group-by="marriage" name="start_day">
                                    <option value="0" data-l10n-id="TPL_FAMILYTREETOP_DAY"></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" maxlength="4" data-formworker-group-by="marriage" name="start_year" data-l10n-placeholder="TPL_FAMILYTREETOP_YEAR">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-12" style="padding-left: 5px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <input  class="form-control" data-formworker-group-by="marriage" type="text" name="city" data-l10n-placeholder="TPL_FAMILYTREETOP_CITY">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" data-formworker-group-by="marriage" type="text" name="state" data-l10n-placeholder="TPL_FAMILYTREETOP_STATE">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" data-formworker-group-by="marriage" type="text" name="ountry" data-l10n-placeholder="TPL_FAMILYTREETOP_COUNTRY">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
