#JMBDescendantTreeContainer {
	margin:10px;
	height:400px;
	position:relative;
}

.containerTableStyle  {
	text-align: left !important;
}
.dhxtree_dhx_skyblue .selectedTreeRow_lor, .dhxtree_dhx_skyblue .selectedTreeRow {
    background-image: none;
    border: 1px solid white;
}
.jmb-dtp-container{
	background-color: #5F8D34;
	border: 3px solid #5F8D34;
}
.jmb-dtp-header{
	height: 30px;
}
.jmb-dtp-header-vector{
	background: url("../imgs/vector.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 21px;
	margin: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}
.jmb-dtp-body{
	background-color: #EFE4B0;
	padding:1px;
}
.jmb-dtp-body-info {
	border-bottom: 2px solid #999999;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	position: relative;
}
.jmb-dtp-body-info div{
	text-align:left !important;
}
.jmb-dtp-body-info-switch{
	color: blue;
	cursor: pointer;
    	font-size: 12px;
    	position: absolute;
    	right: 2px;
    	top: 2px;
}
.jmb-dtp-body-info-avatar{
	background-color: #C3C3C3;
	border: 1px solid #000000;
	height: 80px;
	margin: 10px;
	position: relative;
	width: 72px;
}
.jmb-dtp-body-info span.title {
	color:gray;
}
.jmb-dtp-body-space{
	 margin-left: 17px;
	 text-align: left !important;
}
.jmb-dtp-body-media {
	margin-top: 10px;
	overflow:auto;
	/*width:395px;*/
}
.jmb-dtp-body-media ul.media-list {
	background: white;
	margin-left: -5px;
	margin-top: -10px;
	padding-top: 5px;
}
.jmb-dtp-body-media li.media-item {
	display: inline-block;
	margin-top: 10px;
	margin-left: 5px;
}
.jmb-dtp-footer table{
	background: white;
	margin-top: 3px;
	width:100%;
}
.jmb-dtp-footer div.email{
	background: url("../imgs/email.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 31px;
	margin: 5px 5px 5px 30px;
	width: 31px;
}
.jmb-dtp-footer div {
	text-align: left !important;
}
.jmb-dtp-footer span {}
.jmb-dtp-modal {
	background: url("../imgs/progressbar.gif") no-repeat scroll 50% 50% #ffffff;
	opacity: 0.5;
	position:absolute;
	top:0px;
	left:0px;
}
/**
* edit
*/ 
.jmb-dtp-body-edit-button{
	background-color: #22B14C;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	height: 9px;	
	position: absolute;
	right: 0;
	top: 0;
	width: 9px;
}

.jmb-dtp-body-edit-button:hover{
	border: 2px solid yellow;
}

.jmb-dtp-body-edit-button.hover{
	background: url("../imgs/edit.gif") no-repeat scroll 0 0 transparent;
	width: 18px;
	height: 18px;
}

/**
* facebook
*/
.jmb-dtp-facebook-icon {
	background: url("../imgs/facebook_small.gif") no-repeat scroll 0 0 transparent;
	border: 2px solid white;
	bottom: 0;
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 0;
	width: 9px;
}
.jmb-dtp-facebook-icon.hover{
	width:18px;
	height:18px;
	background:url("../imgs/facebook.gif") no-repeat transparent;
}
.jmb-dtp-facebook-icon:hover{
	border: 2px solid yellow;
}
/**
* death marker
*/
.jmb-dtp-death-marker{
	background: url("../imgs/death_marker.png") no-repeat scroll -40px 0 transparent;
	height: 10px;
    	left: 0;
    	position: absolute;
    	top: 0;
    	width: 10px;
}
/**
* buttons
*/
.jmb-desc-buttons {
	height: 16px;
	position: absolute;
	right: 20px;
	top: 3px;
}
.jmb-desc-buttons div {
	height:16px;
	width:16px;
	display:inline-block;
	cursor: pointer;
}
.jmb-desc-buttons .jmb-desc-button-home {
	background: url("../imgs/icon-home.png") no-repeat scroll 0 0 transparent;
}
.jmb-desc-buttons .jmb-desc-button-select {
	background: url("../imgs/node-select-previous.png") no-repeat scroll 0 0 transparent;
}
/**
* select
*/
.jmb-desc-select {
	background: none repeat scroll 0 0 white;
	border: 2px solid gray;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	left: 10px;
	position: absolute;
	top: 10px;
}
.jmb-desc-select div.jmb-desc-select-title{
	font-weight: bold;
	margin: 3px 3px 3px 10px;
}
.jmb-desc-select div.jmb-desc-select-content{
	position:relative;
}
.jmb-desc-select div.jmb-desc-select-content .node{
	background: none repeat scroll 0 0 white;
	color: gray;
	padding: 3px;
	position: absolute;
}
.jmb-desc-select div.jmb-desc-select-content .node span{
	display:inline-block;
}
.jmb-desc-select div.jmb-desc-select-content .node span.title div.text{
	color: blue;
	text-align: center;
}
.jmb-desc-select div.jmb-desc-select-content .node span.title div.count{
	font-size: 11px;
	text-align: center;
}
.jmb-desc-select div.jmb-desc-select-close{
	background: url("../imgs/close.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
    	height: 12px;
    	position: absolute;
    	right: 3px;
    	top: 3px;
    	width: 12px;
}
