#descendant_tree {
	margin:10px;
	height:400px;
	position:relative;
}

.containerTableStyle  {
	text-align: left !important;
}
.dhxtree_dhx_skyblue .selectedTreeRow_lor, .dhxtree_dhx_skyblue .selectedTreeRow {
    background-image: none;
    border: 1px solid white;
}
.jmb-dtp-container{
	background-color: #5F8D34;
	border: 3px solid #5F8D34;
}
.jmb-dtp-header{
	height: 30px;
}
.jmb-dtp-header-vector{
	background: url("../imgs/vector.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 21px;
	margin: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}
.jmb-dtp-body{
	background-color: #EFE4B0;
	padding:1px;
}
.jmb-dtp-body-info {
	border-bottom: 2px solid #999999;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	position: relative;
}
.jmb-dtp-body-info div{
	text-align:left !important;
}
.jmb-dtp-body-info-switch{
	color: blue;
	cursor: pointer;
    	font-size: 12px;
    	position: absolute;
    	right: 2px;
    	top: 2px;
}
.jmb-dtp-body-info-avatar{
	background-color: #C3C3C3;
	border: 1px solid #000000;
	height: 80px;
	margin: 10px;
	position: relative;
	width: 72px;
}
.jmb-dtp-body-edit-button{
	background: url("../imgs/edit2.jpg") no-repeat scroll 0 0 #3B5998;
	border: medium none;
	color: white;
	cursor: pointer;
	font-size: 27px;
	font-weight: bolder;
	height: 18px;
	left: 55px;
	line-height: 17px;
	position: absolute;
	top: -1px;
	width: 18px;
}
.jmb-dtp-facebook-icon {
	cursor: pointer;
	height: 14px;
	left: 58px;
	position: absolute;
	top: 66px;
	width: 14px;
}
.jmb-dtp-body-info span.title {
	color:gray;
}
.jmb-dtp-body-space{
	 margin-left: 17px;
	 text-align: left !important;
}
.jmb-dtp-body-media {
	margin-top: 10px;
	overflow:auto;
	/*width:395px;*/
}
.jmb-dtp-body-media ul.media-list {
	background: white;
	margin-left: -5px;
	margin-top: -10px;
	padding-top: 5px;
}
.jmb-dtp-body-media li.media-item {
	display: inline-block;
	margin-left: 5px;
}
.jmb-dtp-footer table{
	background: white;
	margin-top: 3px;
	width:100%;
}
.jmb-dtp-footer div.email{
	background: url("../imgs/email.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 31px;
	margin: 5px 5px 5px 30px;
	width: 31px;
}
.jmb-dtp-footer div {
	text-align: left !important;
}
.jmb-dtp-footer span {}
.jmb-dtp-modal {
	background: url("../imgs/progressbar.gif") no-repeat scroll 50% 50% #ffffff;
	opacity: 0.5;
	position:absolute;
	top:0px;
	left:0px;
}

.jmb-descendats-tree-node-select {
	background: url("../imgs/node-select-previous.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 16px;
}

.jmb-descendants-tree-show-container {
	background: none repeat scroll 0 0 white;
	border: 3px solid #999999;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	position: absolute;
	left:5px;
	top:35px;
}
.jmb-descendants-tree-show-container table{
	margin: 20px 10px 10px -30px;
	position: relative;
}
.jmb-descendants-tree-show-container .title{
	width: 90px;
}
.jmb-descendants-tree-show-container .title span{
	color: gray;
	font-size: 14px;
	margin-left: 50px;
}
.jmb-descendants-tree-show-container .content{
	width: 130px;
}
.jmb-descendants-tree-show-container .content .button{
	display: inline-block;
}
.jmb-descendants-tree-show-container .content .button input{
	position: relative;
	top: -5px;
}
.jmb-descendants-tree-show-container .content .text{
	display: inline-block;
	margin-left: 5px;
}
.jmb-descendants-tree-show-container .content .text .header{}
.jmb-descendants-tree-show-container .content .text .header span{
	color: blue;
}
.jmb-descendants-tree-show-container .content .text .count{}
.jmb-descendants-tree-show-container .content .text .count span{}
.jmb-descendants-tree-show-container .jmb-dt-show-header{
	left: 5px;
	position: absolute;
    	top: 5px;
}
.jmb-descendants-tree-show-container .jmb-dt-show-header span {
	font-size: 18px;
	margin-left: 10px;
}
.jmb-descendants-tree-show-container .jmb-dt-show-close {
	background: url("../imgs/close.gif") repeat scroll 0 0 transparent;
	cursor: pointer;
    	height: 12px;
    	position: absolute;
    	right: 5px;
    	top: 5px;
    	width: 12px;
}
.jmb-dt-show-overlay{
	background: none repeat scroll 0 0 #000000;
	left: 0;
	opacity: 0.1;
	position: absolute;
	top: 0;
}
