<h1>Retrieve password</h1>

<% form_tag(session_password_reset_path, :method => :post) do %>
  <%= label_tag :email %><br />
  <%= text_field_tag :email %><br />

  <p>
    <%= submit_tag 'Send' %>
  </p>
<% end %>

<%= link_to 'Back', new_session_path %>