@font-face {
	font-family: 'VAGRoundedBold';
	src: url('fonts/vag_rounded_bold-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_bold-webfont.woff') format('woff'), url('fonts/vag_rounded_bold-webfont.ttf') format('truetype'), url('fonts/vag_rounded_bold-webfont.svg#webfontkdvNj2fL') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedBlack';
	src: url('fonts/vag_rounded_black-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_black-webfont.woff') format('woff'), url('fonts/vag_rounded_black-webfont.ttf') format('truetype'), url('fonts/vag_rounded_black-webfont.svg#webfontNsAuP1Mq') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedLight';
	src: url('fonts/vag_rounded_light-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_light-webfont.woff') format('woff'), url('fonts/vag_rounded_light-webfont.ttf') format('truetype'), url('fonts/vag_rounded_light-webfont.svg#webfontZL0VQ3Dr') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedThin';
	src: url('fonts/vag_rounded_thin-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_thin-webfont.woff') format('woff'), url('fonts/vag_rounded_thin-webfont.ttf') format('truetype'), url('fonts/vag_rounded_thin-webfont.svg#webfontrsb7QCwB') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaRegular';
	src: url('fonts/helvetica-webfont.eot');
	src: local('?'), url('fonts/helvetica-webfont.woff') format('woff'), url('fonts/helvetica-webfont.ttf') format('truetype'), url('fonts/helvetica-webfont.svg#webfont1l0pRWkX') format('svg');
	font-weight: normal;
	font-style: normal;
}


p span:not(.txt) {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
}

.samplebox {
	white-space:nowrap;
	margin-top:10px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 2px #c1bcbc;
	font-weight: normal; font-style: normal; line-height:normal; font-family: 'VAGRoundedBold', sans-serif;
}

pre {
	font-family: 'VAGRoundedLight', Helvetica, Arial, sans-serif; color:#333;
}

#control {
	position:absolute;
	top:10px;
	left:10px;
	font-family: Helvetica, Arial, sans-serif; color:#000000;
	background-color:#fff;
	opacity: 0.3;
}

.awesome, .awesome:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 10px; padding: ; }


#testpanel {
	width:100px;
	height:200px;
	background-color: blue;
	color:#fff;
	position: absolute;
	top:100px;
	display: none;
}


.animate {
display:block;
-webkit-animation: 'wobble' 1000ms;
-webkit-animation-timing-function: cubic-bezier;

}
@-webkit-keyframes 'wobble' {
  0% {
    height:0px;
    width: 0px;
    top:250px;
  }
/*  10% {
    height:10px;
    width: 10px;
    top:250px;
  }
    20% {
    height:20px;
    width: 20px;
    top:250px;
  }
	30% {
    height:30px;
    width: 30px;
    top:250px;
  }
  40% {
    height:100px;
    width: 50px;
    top:200px;
  }
    45% {
    height:130px;
    width: 55px;
    top:200px;
  }
    50% {
    height:170px;
    width: 62px;
    top:200px;
  }
    55% {
    height:200px;
    width: 67px;
    top:200px;
  }
    60% {
    height:250px;
    width: 75px;
    top:75px;
  }
  */
  
60% {
    height:250px;
    width: 75px;
    top:75px;
  }
  
  100% {
    height:200px;
    width: 100px;
    top:100px;
  }
}


/*body {font-family: 'VAGRoundedLight', Helvetica, Arial, sans-serif; color:#333;background-image: url(../images/bg.jpg);} */

body {font-family: 'VAGRoundedLight', Helvetica, Arial, sans-serif; color:#333;}

div#flash {
	width: 560px;
	position: absolute; top: 100px; right: 50px;
	padding: 20px;
	/*border: solid 1px #bbb;*/
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	-webkit-transition: -opacity 0.0s ease-out;
	-moz-transition: -opacity 0.0s ease-out;
	-moz-transition-property: opacity;
	-o-transition: -opacity 0.0s ease-out;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	opacity:1;
	text-align:center;
	background-color: rgba(255,0,0,0.80);
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e6e6));
	background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #fff); */
	/* BG gradient + opacity
	http://stackoverflow.com/questions/2293910/css3-transparency-gradient
	 */
	 /* webkit example */
/*background-image: -webkit-gradient(
  linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.8)),
  to(rgba(230,230,230,0.8)), color-stop(1,#333333)
);
--mozilla example - FF3.6+
background-image: -moz-linear-gradient(
  rgba(255, 255, 255, 0.8) 0%, rgba(230, 230, 230, 0.8) 95%
);
--IE
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFFFFFF, endColorstr=#EEE6E6E6)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFFFFFF, endColorstr=#EEE6E6E6);
*/
	resize: both;
}
div#flash.shown {
	opacity: 1.0;
	z-index: 100;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
}

.wrap {
	white-space:normal;
}