<?xml version="1.0" encoding="UTF-8"?>
<install type="component" version="1.5.14" method="upgrade">
  <name>quick_facts</name>
  <title>Quick Facts</title>
  <description>Quick Facts</description>
  <files>
	<javascript>
		<file>js/quick.facts.js</file>
	</javascript>
	<css>
		<file>css/quick_facts.css</file>
	</css>
	<languages>
		<file>language/en-GB.mod_quick_facts.xml</file>
		<file>language/ru-RU.mod_quick_facts.xml</file>
	</languages>
 </files>


</install>
