nbproject
spec/spec.opts.netbeans
.project
.DS_Store
log/*.log
tmp/**/*
config/database.yml
config/storage/filesystem.yml
config/storage/s3.yml
db/*.sqlite3
coverage
public/documents
spec/fixtures/files/ubz/
spec/output_document
