nbproject
spec/spec.opts.netbeans
.project
.DS_Store
log/*.log
tmp/**/*
config/database.yml
config/storage/filesystem.yml
config/storage/s3.yml
db/*.sqlite3
coverage
public/documents
public/system
public/sync
spec/fixtures/files/ubz/
spec/output_document
spec/tmp
config/s3.yml
*.suo
debug.log
error.log
info.log
.loadpath
*~
.settings/
ThirdParty/*/input
ThirdParty/*/output
ThirdParty/*/bin
ThirdParty/*/obj
*.csproj.user
db/smFunctions.sqlite
public/static/test/embed.html
public/static/test/test_trans.html