.forum-select
{
	border:0px solid red;
	margin:0px 0px 3px 0px;
	text-align:right;	
}
.suggestions{
	width:100%;
}

.suggestions .left-column{
	float: left;
	width: 50px;
	margin: 0px 0px 5px 0px;	
}

.suggestions .right-column{
	margin: 0px 0px 5px 60px;
}
.ajax-loading {	
	height: 25px;
	background: url(http://demos111.mootools.net/demos/Group/spinner.gif) no-repeat left;
	width:25px;
	margin:0 auto;
}
.sum-comments{
	background: url(../images/comment.png) no-repeat left top;
	color:#135CAE;
	padding:0px 0px 0px 20px;
	border:0px solid red;
}
div.comments{
	
}
div.comments a, 
div.comments font{
	text-decoration:none;
	color:#999999;
	font-size:12px;	
	font-weight:bold;
}
div.comments a:hover{
	color:#FF6600;
}

.box-vote{
	width:50px;
	heigh:60px;
	border:1px solid #BBB;
	
}
.points{
	text-align: center; 
	text-transform: lowercase;
	padding-top: 5px; 
	width: 100% 
}
.points span{
	font-size: 10px; font-weight: normal;
	text-align:center;
}
.points div{
	font-weight: bolder; font-size: 18px;text-align: center;color: #FF7800;
}
.vote-change
{
	border-top: 1px solid #BBB; text-align: center;width: 100%; background-color: #CCCCCC;
	cursor:pointer;
}
.vote-change span{
	font-weight: bolder; font-size: 14px;
}
.vote-change:hover{
	font-weight: bolder; font-size: 14px;
	background-color:#DDD;
}
.status{
	font-weight: bolder;font-style:italic; margin-left: 10px; font-size: 12px;cursor:pointer;
}
.box-admin-response{
	padding:3px;
	text-align: left;
	margin-left: 5px; 
	margin-right: 5px;  
	border-top: 1px solid #BBB; 
	background-color: #EEE
}
.listSuggest{
	margin:3px;
	text-align:left !important;
}
a .listSuggest{color:green;}
a:hover .listSuggest{
	background:#FFF;
	border:1px solid #9FDBD6;
}
.autoComplete{
	border:1px solid #9FDBD6;
	opacity:0.85;
	background:#DBF3FD;
	width:250px;
	padding-left:3px;
	clear:both;
	display:none;
	position:absolute;
	z-index:1000;
}
span.searchSuggest{
	color:#135CAE !important;
	font-weight:bold;
}
.status_started{ background-color:#88BD40;}
.status_planned{ background-color:#FF7800;}
.status_under_review{ background-color:#F88CFC;}
.status_accept{background-color:#FC4153;}
.status_complete{background-color:#CCCCCC;}
.status_decline{background-color:#BBBBBB;}
.status_deadline{background-color:#7855FC;}
.status_{background-color:#FFFFFF;}
#newform .addIdea ,#editform .addIdea{
	background-color: #fff;
	/* width: 400px; */
	border: 1px solid #135cae;
}

#newform .idea_top, #editform .idea_top{
	background-color: #5690de;
	height: 25px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align:left;
	padding-left:10px;
	font-family: Arial;
}
#idea_title {
	padding:10px;
}
#idea_title p, #idea_title .button{
	color:#0066cc;
	font-size: 12px;
	font-weight:bold;
}

#idea_title .textinput {
	width:100%;
	font-weight:bold;
	font-size: 13px;
	border:1px solid #5690de;
	color:#4c4d4d;
	
}
#idea_title textarea {
	width: 100%;
	height: 100px;
	color:#4c4d4d;
	font-size: 12px;
	border:1px solid #5690de;
}
#log_res {
	overflow: auto;
}
 
#log_res.ajax-loading {	
	height: 25px;
	background: url(http://demos111.mootools.net/demos/Group/spinner.gif) no-repeat left;
	width:25px;
}

div.box-search{
	width:100%;
	padding:0px;
	border:0px solid #999999;
	margin:0px;
}
div.box-search div{
	float:left;
}
div.box-search div #key_search{
	margin:3px 0px 0px 0px;
	height:20px;
	width:100%;
	padding:3px;
	font-size:14px;
}
div.box-search div #button_search{
	height:24px;
	width:100%;
	margin:3px 0px 0px 0px;
	font-size:14px;
} 

div#falcon_container{
	padding:0px;
	position:absolute;	
	background:#e4f1fa;/*ECF6F7;*/
	height:220px;
	z-index:1000;
	border:1px solid #578ac3;
	display:none;
	filter:alpha(opacity=95); 
  	-moz-opacity: 0.95; 
   	opacity: 0.95; 
   	margin:0px 0px 0px 0px;
}
div#idea_result{
	height:168px;
	border:0px solid red;
	overflow:hidden;
	padding:1px;
}
div#idea-create-new a{
	text-decoration:none;
	color:#666666;
}
div.search-control a
{
	height:10px;
	padding:0px;
	margin:2px auto;
	display:block;
	width:16px;
	text-align:center;
	cursor:pointer;
}
.idea-notfound{
	width:100px;
	margin:60px auto;
	text-align:center;
}
div.search-control a.down
{
	background:url(../images/j_arrow_up.png) no-repeat center;
}
div.search-control a.up
{
	background:url(../images/j_arrow_down.png) no-repeat center;
}
div.search-control a:hover.down
{
	background:url(../images/j_arrow_up_over.png) no-repeat center;
}
div.search-control a:hover.up
{
	background:url(../images/j_arrow_down_over.png) no-repeat center;
}

div.search-control a.down_disabled
{
	background:url(../images/j_arrow_up_disabled.png) no-repeat center;
}
div.search-control a.up_disabled
{
	background:url(../images/j_arrow_down_disabled.png) no-repeat center;
}
div#falcon_container div.idea-create-new{
	padding:0px 3px 0px 5px;
	float:left;
}
div#falcon_container div.idea-create-new a{
	text-decoration:none;
}
div#falcon_container div.close-falcon{
	float:right;
	padding:0px 3px 0px 3px;
	font-weight:bold;
	color:#444444;
	cursor:pointer;
	margin:0px 3px;
}
div#falcon_container div:hover.close-falcon{
	color:#FFFFFF;	
	background:#466c8c;
}
.idea-title{
	font-weight:bold;
	color:#999999;		
	cursor:pointer;
	
	font-size:12px;
	height:15px;
}
.idea-title:hover{
	background:#d6e4f1;
	color:#FFFFFF;
}
.idea-title a{
	font-weight:bold;
	color:#999999;
	width:100%;
	text-decoration:none;
	
}
.idea-title a:hover{
	font-weight:bold;
	color:#FFFFFF;
	width:100%;
	text-decoration:none;
}



div.box-idea{
	border:1px solid #fcb96a;
	border-bottom:0px solid;
	background:#F9FBFF;
	clear:both;
	margin:2px 0px 0px 0px;
	padding:4px;

	overflow:hidden;
}
div.box-idea:hover
{
	
}

div.box-idea div.box-row1{
	_background:#fcfcfc;
	clear:both;
}
div.box-idea div.box-row1 div.title{
	font-weight:bold;
	color:#000033;
	font-size:16px;
	float:left;
}
div.box-idea div.box-row1 div.title a,
div.box-idea div.box-row1 div.title a span{
	font-weight:bold;
	color:#000033;
	font-size:20px;
	text-decoration:none;
}

div.box-idea div.box-row1 div.status{
	float:right;
}

/**/
div.box-idea div.box-row2{
	_background:#fcfcfc;	
	clear:both;
}
div.box-idea div.box-row2 div.username{
	float:left;
	font-size:10px;
	color:#999999;
	margin:0px 5px 0px 0px;
}
div.box-idea div.box-row2 div.username a{
	font-size:10px;
	color:#000066;	
	font-weight:bold;
}
div.box-idea div.box-row2 div.createdate{
	float:left;
	font-size:10px;
	color:#999999;
	margin:0px 5px 0px 0px;
}
/**/

div.box-idea div.box-row3{
	clear:both;
	_background:#fcfcfc;	
}
div.box-idea div.box-row3 div.box-vote{
	width:56px;
	height:68px;
	float:left;
	border:0px solid #666666;
	margin:0px 4px 0px 0px;
	background:url(../images/number/box-vote.png) no-repeat center;
}
div.box-idea div.box-row3 div.box-vote div.sum{
	font-size:28px;
	font-weight:bold;
	margin:12px 0px 12px 0px;
	color:#FF66FF;
	width:56px;
}
div.box-idea div.box-row3 div.box-vote div.uservote{
	font-size:18px;
	font-weight:bold;
}
div.box-idea div.box-row3 div.box-content{	
	border:0px solid #666666;
	text-align:justify;
	color:#333333;
}

/**/
div.box-idea div.box-row4{
	clear:both;
	_height:20px;
	text-align:right;
	padding:0px 0px;
	_background:#fcfcfc;	
}
div.box-idea div.box-row4 div.rps-content{
	margin-left:15px;
	font-size:11px;	
}
div.box-idea div.box-row4 a{
	font-size:12px;
	color:#FF0000;
	text-decoration:none;
	text-align:right;
}
/**/

div.readmore{
	height:20px;
	float:left;
	width:80px;
	background:#F9FBFF url(../images/number/readmore.png) no-repeat;
}
div.readmore div{
	padding:3px;
	border:0px solid #F0F5FF;
	cursor:pointer;
	border-top:0px solid #F9FBFF;
	text-align:center;
	margin-top:-4px;
	font-size:12px;
	margin-left:3px;
}
div.readmore div a{
	text-decoration:none;
	color:#333333;
}
div.readmore div a:hover{
	text-decoration:none;
	color:#003366;
}
/**/
div.box-row5{
	clear:both;
	height:25px;
	padding:3px 0px 0px 0px;
	background:#F9FBFF;
	border:1px solid #fcb96a;
	border-top:0px solid;
	_background:url(../images/number/action-bg.png) no-repeat;
}
div.box-row5 div.left{
	border:0px solid red;
	_height:25px;
	background:url(../images/number/action-bg.png) no-repeat;
}
div.box-row5 div.right{
	border:0px solid blue;
	_height:25px;
	width:15px;
	float:right;
	background:url(../images/number/action-bg-right.png) no-repeat right;
}
div.box-row5 div.column{	
	float:right;
}
div.box-row5 div.box-changeaction{
	float:left;
	border:0px solid red;
	margin:0px 5px 0px 0px;
}
div.box-row5 div.box-changeastatus{
	float:left;
	border:0px solid red;
	margin:0px 5px 0px 5px;
}
/**/

div.clear{
	clear:both;
}
div.prev-number{
	
}
div.number{
	height:20px;
	padding:0px;
	margin:0 auto;
	border:0px solid red;
	width:auto;	
}
div.number span{
	width:15px;
	height:20px;
	float:left;
}

div.number span.num0{
	background:url(../images/number/0.gif)
}
div.number span.num1{
	background:url(../images/number/1.gif)
}
div.number span.num2{
	background:url(../images/number/2.gif)
}
div.number span.num3{
	background:url(../images/number/3.gif)
}
div.number span.num4{
	background:url(../images/number/4.gif)
}
div.number span.num5{
	background:url(../images/number/5.gif)
}
div.number span.num6{
	background:url(../images/number/6.gif)
}
div.number span.num7{
	background:url(../images/number/7.gif)
}
div.number span.num8{
	background:url(../images/number/8.gif)
}
div.number span.num9{
	background:url(../images/number/9.gif)
}

div.pre-number{
	width:20px;
	height:20px;
	background:url(../images/number/left-number.png) no-repeat 6px;
}
div.pre-number:hover{
	background:url(../images/number/left-number-over.png) no-repeat 6px;
}
div.pre-number.disabled{
	background:url(../images/number/left-number-disabled.png) no-repeat 6px;
}
div.pre-number.is-min{
	background:url(../images/number/left-number-min.png) no-repeat 6px;
}

div.next-number{
	width:20px;
	height:20px;
	background:url(../images/number/right-number.png) no-repeat 2px;
}
div.next-number:hover{
	background:url(../images/number/right-number-over.png) no-repeat 2px;
}
div.next-number.disabled{
	background:url(../images/number/right-number-disabled.png) no-repeat 2px;
}
div.next-number.is-max{
	background:url(../images/number/right-number-max.png) no-repeat 2px;
}

div.comment-details
{
	height:50px;
	width:100%;
	padding:0px;
	margin-top:3px;
	margin-bottom:3px;
}
div.comment-details div.username
{
	float:left;
	width:80px;
	height:60px;
	margin:0px 0px 0px 1px;
	background:url(../images/number/abc2.png);

}
div.comment-details div.username div._image
{
	width:40px;
	height:40px;
	margin:0 auto;
	border:0px	solid red;
	background:url(../images/user_image.png);
}
div.comment-details div.username div._name
{
	width:80px;
	height:15px;
	font-size:10px;
	text-align:center;
}
	
div.comment-details div.comment
{
	margin:0px 1px 0px 0px;
	background:
}
div.comment-details div.comment div.pointer
{
	border-right:1px solid #ffffcc;
	width:81px;
	float:left;
	height:30px;
		
	background:#ffffcc url(../images/number/pointer.png) no-repeat 50px 2px;
}
div.comment-details div.comment div.content
{
	border:1px solid #fcb96a;
	background:#ffffcc;
	margin:0px 0px 0px 80px;
	padding:5px;
	color:#333333;
}
