/* CSS Document */

/**************/
#message
{
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px
}

#scroll
{
  position: relative;
  margin: 0 auto;
  visibility: visible;
  background-color: white;
  z-index: 1;
  width: 81%;
  height:100px;
  padding-left:5px;
  float:left;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-collapse: collapse;
  border-bottom-style: solid;
  border-color: #ccc;
  border-width: 1px;
  overflow: auto
}
#scroll div
{
  margin: 0 auto;
  text-align:left
}
#suggest table
{
  width: 270px;
  font-size: 11px;
  font-weight: normal;
  color: #676767;
  text-decoration: none;
  border: 0px;
  padding: 0px;
  text-align:left;
  margin: 0px
}
.highlightrow
{
  background-color: #999999;
  cursor: pointer
}
