<% style ||= '' %>
<% if item.properties && item.properties['displacement']%>
  <% style += "top: -#{item.properties['displacement']['top']}%; left: -#{item.properties['displacement']['left']}%;" %>
<% else %>
  <% style += 'top: 0%; left: 0%;' %>
<% end %>

<% if item.properties && item.properties['zoom']%>
  <% width = 100 + item.properties['zoom'].to_i %>
  <% height = 100 + item.properties['zoom'].to_i %>
  <% style += "width: #{width}%; height: #{height}%;" %>
<% else %>
  <% style += 'width: 100%; height: 100%;' %>
<% end %>

<% if item.data['css']['overflow'] %>
  <% style += "overflow:#{item.data['css']['overflow']};" %>
<% end %>

<div class='item image_item layer' style='overflow:hidden;'>
  <img src='<%= item.data['src'] %>' alt='<%= item.data['title'] %>' style="<%= style %>"/>
</div>