- if item.data['css']['overflow']
  - style = "overflow:#{item.data['css']['overflow']};"
- else
  - style = ''
  
.item.image_item
  = image_tag item.data['src'], :alt => item.data['title'], :style => style