<% style ||= '' %>
<% if item.data['style'] && item.data['style']['font_face']%>
  <% font_face = item.data['style']['font_face'] %>
  <% style += item.data['style']['font'] %>
<% end %>

<div class='item layer' style="<%= style %>">
  <%= raw item.inner_html %>
</div>  