<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Poll main</title>
    <link rel="stylesheet" href="../css/poll.css" type="text/css" media="screen" />
    
    <script src="../js/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/klass.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/jquery.jeditable.autogrow.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/jquery.autogrow.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="../js/webdoc_messaging_base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/webdoc_messaging_main.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/home.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body>
    <div class="poll">
      <div class="box">
        <h2 class="question title editable">Question?</h2>
        <form class="answers">
          
          <div class="entry submit">
            <button class="submit" type="submit">Vote</button>
            <div class="spacer"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>