<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Settings</title>
    <link type="text/css" media="screen" rel="stylesheet" href="http://localhost/stylesheets/style.editor.apps.inspector.base.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="../css/inspector.css" />
    
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/klass.js"></script>
    <script type="text/javascript" src="../js/inspector.js"></script>
    <script type="text/javascript">
      PollSettings = $.klass({
        initialize: function() {
          this.parentWin = null;
        },
        newMessage: function(receiver, action) {
          $('#messages').append($('<li>').html("<li>[to " + receiver + "] : " + action + "</li>"));
          
          if(receiver != null) receiver = $('#'+receiver, this.parentWin.document)[0].contentWindow;
          else receiver = this.parentWin;
          
          if(receiver != null) receiver.postMessage(mainId + "," + action, '*');
          else gadgets.log("receiver is null!");
        },
        onmessage: function(e) {
          var dataArray_ = e.data.split(',');
          var origin = e.origin;
          var fromId = dataArray_[0];
          var message = dataArray_[1];
          if(origin == document.location.protocol + "//" + document.location.host) {
            gadgets.log("in main from same domain, module: " + fromId + ", message: " + message);
            
            document.getElementById('messages').innerHTML += "<li>[from " +fromId+ "] " + message + "</li>";
            gadgets.log(e.source);
            e.source.postMessage('with e.source','*');
          }
          else {
            gadgets.log("from somewhere else: " + origin);
          }
        }
      }); // Poll class end
      
      function init() {
        $(document).ready(function() {
          var pollSettings = new PollSettings();
          
          window.addEventListener('message', function(event) {
            if (!pollSettings.parentWin) pollSettings.parentWin = event.source;
            ddd(event.data);
            pollSettings.newMessage(null, 'ok webdoc, got it!');
          }, false);
          // tell webdoc i'm ready with postMessage
          gadgets.window.adjustHeight();
        });
      }
      gadgets.util.registerOnLoadHandler(init);
    </script>
  </head>
  
  <body>
    <ul id="messages"></ul>
    <form class="content">
      <div class="section">
        <div class="entry">
          <label for="setting_1">
            <input type="checkbox" id="setting_1" />
            Allow multiple selections
          </label>
        </div>
        <div class="entry">
          <label for="setting_2">
            <input type="checkbox" id="setting_2" checked="checked" />
            Randomize answer order
          </label>
        </div>
      </div>
      <hr class="separator" />
      <div class="section">
        <h4>Poll closing</h4>
        <div class="entry">
          <label for="setting_3_a">
            <input type="radio" id="setting_3_a" name="poll_closing" checked="checked" />
            Never close
          </label>
        </div>
        <div class="entry">
          <label for="setting_3_b">
            <input type="radio" id="setting_3_b" name="poll_closing" />
            <select disabled><option>04</option></select>
            <select disabled><option>24</option></select>
            <select disabled><option>2010</option></select>
          </label>
        </div>
        <div class="entry">
          <label for="setting_4">
            <input type="checkbox" id="setting_4" checked="checked" />
            Show results to voter
          </label>
        </div>
      </div>
    </form>
  </body>
</html>