<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Settings</title>
    <link type="text/css" media="screen" rel="stylesheet" href="http://localhost:3000/stylesheets/app.inspector.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="../css/inspector.css" />
    
    <script src="../js/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/klass.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="../js/webdoc_messaging_base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/webdoc_messaging_pane.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/settings_pane.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <form class="content">
      <div class="section">
        <div class="entry">
          <label for="setting_allow_multiple_selection">
            <input type="checkbox" id="setting_allow_multiple_selection" />
            Allow multiple selections
          </label>
        </div>
        <div class="entry">
          <label for="setting_2">
            <input type="checkbox" id="setting_2" />
            Randomize answer order
          </label>
        </div>
      </div>
      <hr class="separator" />
      <div class="section">
        <h4>Poll closing</h4>
        <div class="entry">
          <label for="setting_3_a">
            <input type="radio" id="setting_3_a" name="poll_closing" checked="checked" />
            Never close
          </label>
        </div>
        <div class="entry">
          <label for="setting_3_b">
            <input type="radio" id="setting_3_b" name="poll_closing" />
            <select disabled><option>04</option></select>
            <select disabled><option>24</option></select>
            <select disabled><option>2010</option></select>
          </label>
        </div>
        <div class="entry">
          <label for="setting_4">
            <input type="checkbox" id="setting_4" checked="checked" />
            Show results to voter
          </label>
        </div>
      </div>
    </form>
  </body>
</html>