<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Style</title>
    <link type="text/css" media="screen" rel="stylesheet" href="http://localhost:3000/stylesheets/style.editor.apps.inspector.inner.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="../css/inspector.css" />

    <script src="../js/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/libs/klass.js" type="text/javascript" charset="utf-8"></script>

    <script src="../js/webdoc_messaging_base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/webdoc_messaging_pane.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/settings_pane.js" type="text/javascript" charset="utf-8"></script>

  </head>
  
  <body>
    <div class="content">
      <p>Some style 1</p>
      <hr class="separator" />
      <p>Some style 2</p>
    </div>
  </body>
</html>