<li><div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
 </li>
 <li>
 <div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
  </li>
 <li>
 <div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
  </li>
 <li>
 <div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
  </li>
 <li>
 <div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
  </li>
 <li>
 <div class="message">
	<h5 class="message-name">
		 <a href='#' class="message_link">
			Emmanuel Vuigner | <time class="ago">20 min ago</time> |
		</a>
	</h5>
	<a class="thumb" href="#" style="background-image: url('/images/thumbs/default_thumb.png');"></a>
	<span class="message_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie hendrerit. </span>
 </div>
 </li>