/**
* FMB STYLESHEET - MAIN
*/ 
* {
    margin: 0;
    padding: 0;
}
.content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 solid;
	color: #333333;
	font-family: Calibri,Tahoma;
	font-size: 12px;
	margin: 0 auto;
	max-width: 760px;
	padding-top: 0;
}
.header {}
.main {}
.footer {}

#container {
	position:relative;
}
/**
* FMB STYLESHHET - HEADER
*/
.jmb_header_body {	
	background: none repeat scroll 0 0 #5F8D34;
	margin-top: 20px;
	position: relative;
}
.jmb_header_logo {
	background: url("../images/tree.gif") no-repeat scroll 0 0 transparent;
	color: white;
	font-size: 20px;
	height: 26px;
	margin: 5px 10px;
	padding-left: 35px;
}
.jmb_header_expand{
	margin-top: 5px;
	position: absolute;	
	right: 10px;
	top: 0;
}
.jmb_header_fam_line {
	left: 40%;
	position: absolute;
	text-align: center;
	top: 9px;
}
.jmb_header_fam_line span{
	background: none repeat scroll 0 0 white;
	border: 1px solid #CDCDCD;
	color: #000000;
	cursor: pointer;
	font-size: 10px;
	margin-left: -5px;
	padding: 5px;
}
.jmb_line_title{
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.jmb_line_left{
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-bottom-left-radius: 10px 10px;
	-webkit-border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}
.jmb_line_right{
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	-webkit-border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}
.jmb_line_center{}
.jmb_line_left.active,
.jmb_line_center.active,
.jmb_line_right.active
{
	background: #fff200 !important;
}
.jmb_header_settings{
	margin-top: 5px;
	position: absolute;
    	right: 60px;
    	top: 0;
}
.jmb_header_settings .expanded{
	background: none repeat scroll 0 0 white;
	border: 1px solid #999999;
	height: 60px;
	position: relative;
	top: -15px;
}
.jmb_header_settings .name{
	font-weight: bold;
	margin: 3px;
	text-align: center;
}
.jmb_header_settings .menu{
	margin: 3px;
}
.jmb_header_settings .menu span{
	color:blue;
	cursor:pointer;
}
.jmb_header_settings .avatar{
	border: 1px solid #000000;
	height: 45px;
    	margin: 5px;
    	width: 50px;
}
.jmb_header_settings .embedded {
	color:white;
	cursor:pointer;
}
