html, body {
	width: 100%;
	margin: 0px;       
}
	
#pages {
	width: 980px;
	position: relative;
}
/**
* FMB STYLESHEET - MAIN
*/ 
* {
    margin: 0;
    padding: 0;
}
.content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 solid;
	color: #333333;
	font-family: Calibri,Tahoma;
	font-size: 12px;
	margin: 35px auto 0;
	max-width: 760px;
	padding-top: 0;
}
.header {}
.main {
	position:relative;
}
.right {
	padding-top: 46px;
}
.footer {
	padding-left: 17px;
	margin-top:20px;
}

#container {
	position:relative;
	top: 10px;
}

/**
* FMB STYLESHHET - TOP MENU BAR
*/
.jmb-top-menu-bar{
	background: none repeat scroll 0 0 black;
	height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.jmb-top-menu-bar-logo{
	background: url("../images/ftt_logo.png") no-repeat scroll 0 0 transparent;
	height: 35px;
	left: 0;
	position: absolute;
	top: 4px;
	width: 115px;
}
.jmb-top-menu-bar div.jmb-top-menu-bar-content{
	border-left: 1px solid #CCCCCC;
	font-family: Calibri,Tahoma,sans-serif;
	font-weight: bold;
	left: 120px;
	position: absolute;
	top: 0;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item{
	/*background: url("../images/home.png") no-repeat scroll 0 2px transparent;*/
	color: white;
	display: inline-block;
	margin: 5px;
	font-weight:bold;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item span{
	cursor: pointer;
	margin-left: 18px;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item span.active{
	color:gold;
}
