/* Extensions to index class */

.nav_index {
  position: absolute;
  top: 0;
  left: 180px;
}

.user_index {
  position: absolute;
  top: 0;
  right: 0;
}

.author_index {
  height: 48px;
  overflow: hidden;
}

.author_index li {
  margin-right: 0.3333em;
}

.reader_index {
  height: 32px;
  overflow: hidden;
}

.reader_index li {
  margin-right: 0.3333em;
}

.message_index {
  
}

.message_index li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 0.3333em; /* 4px */
  min-height: 32px;
}

.thumbs_index li {
  margin-bottom: 0.3333em;
}

.view_buttons_index {
  width: 24px;
  position: absolute;
  right: 0.3333em;
}

.sidepanel_buttons_index {
  width: 11.3333em;
  /* Firefox cannot handle display: box; with position: absolute; Grrrrr. */
  /*position: absolute;*/
  right: 0.3333em;
}

.footpanel_buttons_index {
  width: 4.3333em;
  position: absolute;
  right: 5em;
}