body {
  background-color: white;
  overflow: auto;
}

.editor_container {
  position: relative;
  height: 400px;
  background-color: #dedede;
  overflow: hidden;
}

.wrap {
  width: 88%;
  margin: 0 auto;
  min-width: 520px;
  max-width: 1280px;
}

.panel {
  position: absolute;
}

.x_scrollbar_container,
.y_scrollbar_container {
  position: absolute !important;
}

.hide_overflow {
  overflow: hidden;
}