body {
  background-color: white;
  overflow: auto;
  padding-top: 5em;

  -webkit-transition: padding-top 0.4s linear;
  -moz-transition:    padding-top 0.4s linear;
  transition:         padding-top 0.4s linear;
}

/* Site header and footer */
body>header {
  background: #dddddd;
  height: 3em; /* 36px */
  /* replace with .panel */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body>footer {
  background: #dddddd;
  height: 2em; /* 24px */
  /* replace with .panel */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body>section {
  margin-bottom: 2em;
}

.webdoc {
  position: relative;
  width: 65.3333%;
  height: 30%;
  background-color: orange;
  overflow: hidden;

  /*-webkit-transition: width, height 0.66s linear;
  -moz-transition:    width, height 0.66s linear;
  transition:         width, height 0.66s linear;  */

}

.related {
  background: rgba(200,200,200,0.6);
}

.wrap {
  /* Act as position parent */
  position: relative;
  /* Control width of site */
  width: 88%;
  height: 400px;
  margin: 0 auto;
  min-width: 760px;
  max-width: 1440px;
  
  -webkit-transition: height 0.4s linear, width 0.66s linear;
  -moz-transition:    height 0.4s linear, width 0.66s linear;
  transition:         height 0.4s linear, width 0.66s linear;  
}

.panel {
  position: absolute;
}

.x_scrollbar_container,
.y_scrollbar_container {
  position: absolute !important;
}

.hide_overflow {
  overflow: hidden;
}

/* Base Classes */

.thumb {
  display: block;
  overflow: hidden;
  padding-top: 64px;
  /* Hide overflowing text. This technique is better
     than using -ve text-indent because IE7 moves
     the background image with the text-indent. */
  height: 0;
  background-image: url('../images/thumb_test.png');
  background-size: 96px 64px;
  background-position: 0 0;
  background-repeat: no-repeat;
  
  text-decoration: none;
  color: inherit;
}

.text_thumb {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow:  ellipsis;
  text-overflow:     ellipsis;
}

.left_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-left: 104px;
  background-position-x: 0;
}

.right_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-right: 104px;
  background-position-x: 100%;
}

.logo_thumb {
  overflow: hidden;
  width: 112px;
  padding-top: 24px;
  background-size: 100% 100%;
  background-image: url('../images/logo_site.png');
}

/* Extensions */

.nav_index {
  position: absolute;
  top: 0;
  left: 180px;
}

.user_index {
  position: absolute;
  top: 0;
  right: 0;
}

.author_index {
  height: 48px;
  overflow: hidden;
}

.reader_index {
  height: 32px;
  overflow: hidden;
}

.message_index {
  
}

.message_index li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 0.3333em; /* 4px */
  min-height: 32px;
}

.message_index .user_thumb {
  position: absolute;
  top: 0; left: 0;
}

.message_index .message {
  font-size: 0.8333em; /* 10px */
}

.author_thumb {
  background-size: 48px 48px;
  padding-top: 48px;
  width: 48px;
}

.user_thumb {
  background-size: 32px 32px;
  padding-top: 32px;
  width: 32px;
}

.webdoc_thumb {
  background-color: #ef9976;
}

header .logo_thumb {
  margin-top: 6px;
}

/* Full mode */

.full_mode {
  padding-top: 3em;
}

.full_mode .wrap {
  width: 100%;
  height: 100%;
  max-width: 101%;
}

.full_mode .related {
  display: none;
}

.full_mode #editor {
  display: block; height: 100%;
}

.full_mode .network {
  margin-right: -300px;
}

.full_mode h1 {
  display: none;
}

.full_mode .webdoc {
  height: 100%;
}