/* layout.editor.css */

body {
  /* Top padding makes room for the top bar, while
     right padding makes room for the side panel */
  padding-top: 64px;
  padding-right: 292px;
  
  -webkit-transition: padding-top 0.3s linear, padding-right 0.3s linear;
  -moz-transition:    padding-top 0.3s linear, padding-right 0.3s linear;
  transition:         padding-top 0.3s linear, padding-right 0.3s linear;
}

body.full_view {
  padding-top: 36px;
  padding-right: 0;
  overflow: hidden;
}

/* wrap class */

.wrap {
  /* Set as position parent */
  position: relative;
  width: 88%;
  margin: 0 auto 2em auto;

  /* Transition to full view. Transitions can't go from % to length
     values. Boo, rubbish. We have to use a combination of height
     and min-height to get both types of value to cooperate. */
  -webkit-transition: width 0.3s linear, height 0.3s linear, min-height 0.3s linear, margin-bottom 0.3s linear, opacity 0.3s linear;
  -moz-transition:    width 0.3s linear, height 0.3s linear, min-height 0.3s linear, margin-bottom 0.3s linear, opacity 0.3s linear;
  transition:         width 0.3s linear, height 0.3s linear, min-height 0.3s linear, margin-bottom 0.3s linear, opacity 0.3s linear;
}

.full_view .wrap {
  width: 100%;
}

.title_wrap {
  height: 2em;
  margin-bottom: 2em;
  opacity: 1;
}

.full_view .title_wrap {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}

.editor_wrap {
  height: 466px;
  min-height: 50%;
  margin-bottom: 2em;
  /* Create a gap between content and side_panel */
  padding-right: 2%;
}

.full_view .editor_wrap {
  min-height: 100%;
  margin-bottom: 0;
}

.content_wrap {
  height: auto;
  opacity: 1;
  /* Create a gap between content and side_panel */
  padding-right: 2%;
}

.full_view .content_wrap {
  /*height: 0;*/
  opacity: 0;
  /* display: none; */
}

.editor {
  width: 98%;
  
  /* Transition to full view.  The only reason we need this transition
     is because of a bit of a margin hack in the way the side panel
     gap is compensated for.  Would be good if we could sort that, then
     we wouldn't need this. */
  -webkit-transition: width 0.3s ease-in;
  -moz-transition:    width 0.3s ease-in;
  transition:         width 0.3s ease-in;
}

.full_view .editor {
  width: 100%;
}

.message {
  font-size: 0.8333em; /* 10px */
}