/* Extensions to panel class */ 

.panel {
  -webkit-transition: opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -moz-transition:    opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  transition:         opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
}
                                              
.full_view .panel.active {
  -webkit-transition: opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -moz-transition:    opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  transition:         opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
}

/* Manage layering of panels. Active panels 
   slide over other panels as the come into focus */

.browser_panel,
.inspector_panel,
.comments_panel,
.activity_panel,
.side_panel {
  z-index: 4;
}
.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.activity_panel.active,
.side_panel.active {
  z-index: 5;
}
.sharing_panel,
.pages_panel {
  z-index: 1;
}
.sharing_panel.active,
.pages_panel.active {
  z-index: 2;
}
.tools_panel,
.controls_panel {
  z-index: 3;
}

/* Manage show/hide of panels between page view
   and full view. */

.browser_panel,
.inspector_panel,
.comments_panel,
.activity_panel,
.sharing_panel,
.pages_panel {
  /* It would be great to make this happen after the fade... */
  display: none;
  opacity: 0;
}

.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.activity_panel.active {
  display: block;
  opacity: 1;
}

.full_view .browser_panel,
.full_view .inspector_panel,
.full_view .comments_panel,
.full_view .activity_panel,
.full_view .sharing_panel,
.full_view .pages_panel {
  display: block;
  opacity: 0;
}

.full_view .browser_panel.active,
.full_view .inspector_panel.active,
.full_view .comments_panel.active,
.full_view .activity_panel.active,
.full_view .sharing_panel.active,
.full_view .pages_panel.active {
  opacity: 1;
}

/* Panel types */

.side_panel {
  overflow: auto; 

  right: 0;
  top: 0;
  margin-right: -292px;
  width: 292px;
  
  max-height: 1000%;
  min-height: 20%;
}

.full_view .side_panel {
  max-height: 100%;
  
  top: 2.6667em;
  bottom: 2.6667em;
  background-color: white;
}

.full_view .side_panel.active {
  margin-right: 0;
}

.tools_panel {
  left: 0;
  top: 0;
  width: 100%;
  height: 2.6667em;
  padding: 0.3333em;
}

.controls_panel {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.6667em;
  padding: 0.3333em;
}

.browser_panel,
.inspector_panel,
.comments_panel,
.activity_panel {
  right: 0;
  width: 292px;
  margin-right: -292px;
}

.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.activity_panel.active {
  top: 0;
  bottom: 0;
}

.full_view .browser_panel,
.full_view .inspector_panel,
.full_view .comments_panel,
.full_view .activity_panel {
  top: 2.6667em;
  bottom: 2.6667em;
}

.full_view .browser_panel.active,
.full_view .inspector_panel.active,
.full_view .comments_panel.active,
.full_view .activity_panel.active {
  margin-right: 0;
}

.pages_panel,
.sharing_panel {
  left: 0;
  bottom: 2.6667em;
  width: 100%;
  height: 96px;
  margin-bottom: -128px;
}
.pages_panel {
  height: 128px;
}
.sharing_panel {
  height: 96px;
}

.pages_panel.active,
.sharing_panel.active {
  margin-bottom: 0;
}