/* layout.css */

html, body {
  height: 100%;
}

body {
  /* Top padding makes room for the top logo bar */
  padding-top: 3em;
  /* Set as position parent */
  position: relative;
}

/* The site header */
body>header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 3em;
  background: white;
}

/* Wrap extensions */
.site_wrap {
  width: 88%;
  min-width: 720px;
  max-width: 1440px;
}