/* Thumb classes */

.thumb {
  display: block;
  overflow: hidden;
  padding-top: 64px;
  /* Hide overflowing text. This technique is better
     than using -ve text-indent because IE7 moves
     the background image with the text-indent. */
  height: 0;
  background-image: url('../images/thumb_test.png');
  background-size: 96px 64px;
  background-position: 0 0;
  background-repeat: no-repeat;
  
  text-decoration: none;
  color: inherit;
}

.text_thumb {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow:  ellipsis;
  text-overflow:     ellipsis;
}

.left_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-left: 104px;
  background-position-x: 0;
}

.right_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-right: 104px;
  background-position-x: 100%;
}

.logo_thumb {
  margin-top: 6px;
  margin-left: 0;
  width: 112px;
  padding-top: 24px;
  background-size: 100% 100%;
  background-image: url('../images/logo_site.png');

  -webkit-transition: margin-left 0.3s ease-in;
  -moz-transition:    margin-left 0.3s ease-in;
  transition:         margin-left 0.3s ease-in;
}

.full_view .logo_thumb {
  margin-left: 6px;
}

.author_thumb {
  background-size: 48px 48px;
  padding-top: 48px;
  width: 48px;
}

.user_thumb {
  background-size: 32px 32px;
  padding-top: 32px;
  width: 32px;
}

.webdoc_thumb {}

.message_index .user_thumb {
  position: absolute;
  top: 0; left: 0;
}