@font-face {
	font-family: 'VAGRoundedBold';
	src: url('fonts/vag_rounded_bold-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_bold-webfont.woff') format('woff'), url('fonts/vag_rounded_bold-webfont.ttf') format('truetype'), url('fonts/vag_rounded_bold-webfont.svg#webfontkdvNj2fL') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedBlack';
	src: url('fonts/vag_rounded_black-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_black-webfont.woff') format('woff'), url('fonts/vag_rounded_black-webfont.ttf') format('truetype'), url('fonts/vag_rounded_black-webfont.svg#webfontNsAuP1Mq') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedLight';
	src: url('fonts/vag_rounded_light-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_light-webfont.woff') format('woff'), url('fonts/vag_rounded_light-webfont.ttf') format('truetype'), url('fonts/vag_rounded_light-webfont.svg#webfontZL0VQ3Dr') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGRoundedThin';
	src: url('fonts/vag_rounded_thin-webfont.eot');
	src: local('?'), url('fonts/vag_rounded_thin-webfont.woff') format('woff'), url('fonts/vag_rounded_thin-webfont.ttf') format('truetype'), url('fonts/vag_rounded_thin-webfont.svg#webfontrsb7QCwB') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {font-family: 'VAGRoundedLight', Helvetica, Arial, sans-serif; color:#000;background-color: #666666;}


p span {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
}

.samplebox {
	white-space:nowrap;
	margin-top:10px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 2px #fff;
}

pre {
	font-family: 'VAGRoundedLight', Helvetica, Arial, sans-serif; color:#000;
}