/* Links as buttons, thumbnails,  classes */

.button:hover,
.button:focus {
  text-decoration: none;
}

.button {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  background-color: rgb(221,221,221);
  background-position: 0 0;
  background-repeat: no-repeat;
  
  text-decoration: none;
  color: inherit;
}

.icon_button {
  padding-top: 2em;
  /* Hide overflowing text. This technique is better
     than using -ve text-indent because IE7 moves
     the background image with the text-indent. */
  height: 0;
  width: 2em;
}

.button.orange, .button.orange:visited {
  color: rgb(255,255,255);
  background: rgb(248,153,34);
  background-image: -moz-linear-gradient(top, rgb(248,153,34), rgb(213,102,45));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248,153,34)), to(rgb(213,102,45)));
  border: 1px solid rgb(213,102,45);
}
.button.orange:hover {
  background: rgb(248,153,34); 
  background-image: -moz-linear-gradient(top, rgb(248,153,34), rgb(213,102,45));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248,153,34)), to(rgb(213,102,45)));
}

.button.red, .button.red:visited {
  color: rgb(255,255,255);
  background: rgb(248,34,34);
  background-image: -moz-linear-gradient(top, rgb(248,34,34), rgb(213,45,45));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248,34,34)), to(rgb(213,45,45)));
  border: 1px solid rgb(213,45,45);
}
.button.red:hover {
  background: rgb(248,34,34); 
  background-image: -moz-linear-gradient(top, rgb(213,45,45), rgb(248,34,34));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(213,45,45)), to(rgb(248,34,34)));
}

.button.green, .button.green:visited {
  color: rgb(255,255,255);
  background: rgb(34,248,125);
  background-image: -moz-linear-gradient(top, rgb(34,248,125), rgb(45,213,100));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(34,248,125)), to(rgb(45,213,100)));
  border: 1px solid rgb(45,213,100);
}
.button.green:hover {
  background: rgb(34,248,125); 
  background-image: -moz-linear-gradient(top, rgb(45,213,100), rgb(34,248,125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(45,213,100)), to(rgb(34,248,125)));
}


.button.small, .button.small:visited {
  font-size: 10px;
  padding:0px 3px 4px;
  border-radius: 					4px;
  -moz-border-radius: 		4px;
  -webkit-border-radius: 	4px;
  box-shadow:					0 1px 2px rgb(199,199,199);
  -moz-box-shadow: 		0 1px 2px rgb(199,199,199);
  -webkit-box-shadow: 0 1px 2px rgb(199,199,199);
}

.card > .button, .card >.button:link, .card >.button:visited {
  display: inline-block;
  text-decoration: none;
  font-weight:bold;
  position: relative;
  cursor: pointer;
}
.card > .button:hover, .card > .button:active {
  text-decoration: none;
}
