/* CSS Index class
 * 
 * Defines styles for lists of inline-blocks like buttons, thumbs or toolbars,
 * as well as lists with dividers. Horizontal by default.
 *
 */

.index {
	/* Remove default styling from list items that have box
   layout applied. */
	list-style: none;
	margin: 0;
}

/* Remove default styling from list items in case some
   typography rules have added these back in after the reset. */

.index>li {
    margin: 0;
    padding: 0;
}

.buttons_index li {
  margin-right: 0.3333em;
}

/* Vertical */

.vertical>li {
    display: block;
    /*margin-right: 0;
    margin-bottom: 6px;*/
}
.vertical>li:last-child,
.vertical>li.last {
    /*margin-bottom: 0;*/
}

/* Items divided by lines */

.divided_index li {
    height: 1em;
    line-height: 1em;
    padding-right: 0.6em;
    margin-right: 0.6em;
    border-right: 1px solid #666666;
}
.divided_index li:last-child,
.divided_index li.last {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}
.divided_index.thumbs li {
    height: auto;
    display: inline-block;
}

/* Vertical */

.vertical.divided_index li {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    padding-bottom: 0.6em;
    margin-right: 0.6em;
    border-bottom: 1px solid #666666;
}
.vertical.divided_index li:last-child,
.vertical.divided_index li.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.vertical.divided_index.thumbs li {
    display: block;
}

.divided_index dt {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaaaaa;
}
.divided_index dd {
    margin-top: 1.9em;
    padding-top: 0.2em;
}

.horizontal_scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.vertical_scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.dropdown_index {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.dropdown_index.active {
	display: block;
}

.dropdown_index.transition {
	display: block;
}