/* CSS Index class
 * 
 * Defines styles for lists of inline-blocks like buttons, thumbs or toolbars,
 * as well as lists with dividers. Horizontal by default.
 *
 */

.index {
	/* Remove default styling from list items that have box
   layout applied. */
	list-style: none;
	margin: 0;
}

/* Remove default styling from list items in case some
   typography rules have added these back in after the reset. */

.index>li {
    margin: 0;
    padding: 0;
}

.buttons_index li {
  margin-right: 0.3333em;
}

.bar li,
.bar dt,
.bar dd {
    margin-right: 0;
    height: 2em;
    line-height: 2;
    /*background-image: url('/images/bar-arrow-dark.png');*/
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
/*
.bar li:first-child,
.bar dt:first-child {
    padding-left: 1.6667em;
    -webkit-border-top-left-radius:     1.25em;
    -moz-border-radius-topleft:         1.25em;
    border-top-left-radius:             1.25em;
    -webkit-border-bottom-left-radius:  1.25em;
    -moz-border-radius-bottomleft:      1.25em;
    border-bottom-left-radius:          1.25em;
}

.bar li:last-child,
.bar dt:last-child,
.bar dd:last-child {
    padding-right: 1.6667em;
    background-image: none;
    -webkit-border-top-right-radius:    1.25em;
    -moz-border-radius-topright:        1.25em;
    border-top-right-radius:            1.25em;
    -webkit-border-bottom-right-radius: 1.25em;
    -moz-border-radius-bottomright:     1.25em;
    border-bottom-right-radius:         1.25em;
    
}
*/
.bar li>a,
.bar dd>a {
    display: block;
}
.bar li>a,
.bar dd>a,
.bar dt {
    height: 2em;
    padding: 0 1em;
}
.bar .label,
.bar label,
.bar dt {
    font-weight: bold;
    color: hsl(208, 33%, 92%);
    background-color: hsl(208, 25%, 36%);
}

.bar .input,
.bar input,
.bar dd>a {
    background-image: url('../../public/images/bar-arrow-light.png');
    background-color: hsl(208, 25%, 76%);
}

.bar .no-next {
    background-image: none;
    padding-right: 1em;
}

/* Vertical */

.vertical>li {
    display: block;
    /*margin-right: 0;
    margin-bottom: 6px;*/
}
.vertical>li:last-child,
.vertical>li.last {
    /*margin-bottom: 0;*/
}

/* Items divided by lines */

.divided_index li {
    height: 1em;
    line-height: 1em;
    padding-right: 0.6em;
    margin-right: 0.6em;
    border-right: 1px solid #666666;
}
.divided_index li:last-child,
.divided_index li.last {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}
.divided_index.thumbs li {
    height: auto;
    display: inline-block;
}

/* Vertical */

.vertical.divided_index li {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    padding-bottom: 0.6em;
    margin-right: 0.6em;
    border-bottom: 1px solid #666666;
}
.vertical.divided_index li:last-child,
.vertical.divided_index li.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.vertical.divided_index.thumbs li {
    display: block;
}

.divided_index dt {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaaaaa;
}
.divided_index dd {
    margin-top: 1.9em;
    padding-top: 0.2em;
}

.horizontal_scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.vertical_scroll {
    overflow-x: hidden;
    overflow-y: auto;
}
