/* Thumb classes */

.thumb {
  display: block;
  overflow: hidden;
  padding-top: 64px;
  /* Hide overflowing text. This technique is better
     than using -ve text-indent because IE7 moves
     the background image with the text-indent. */
  height: 0;
  background-size: 96px 64px;
  background-position: center center;
  background-repeat: no-repeat;
  
  text-decoration: none;
  color: inherit;

}

/*.text_thumb {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow:  ellipsis;
  text-overflow:     ellipsis;
}

.left_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-left: 104px;
  background-position-x: 0;
}

.right_text_thumb {
  height: 64px;
  padding-top: 0;
  padding-right: 104px;
  background-position-x: 100%;
}*/