.site-settings-box{
	position: relative;
}
.site-settings-box table{}
.site-settings-box div#modules {}
.site-settings-box div#languages {}
.site-settings-box div#variables {
	padding: 5px;
	position: relative;
	width: 350px;
}
.site-settings-box div#variables div#controller{
	position: absolute;
	right: 5px;
	top: 5px;
}
.site-settings-box div#variables div#controller input{}
.site-settings-box div#variables div#values{
	margin-top: 25px;
}
.site-settings-box div#variables div#values li{
	margin: 3px;
}
.site-settings-box div#variables div#values li input{
	width:150px;
}
.jmb-settings-module-item {
	margin: 3px;
}
.jmb-settings-module-item span{
	color: #3B5997;
	cursor: pointer;
}
.jmb-settings-module-item span.active{
	background: none repeat scroll 0 0 yellow;
}
.jmb-settings-lang-item {
	margin: 3px;
}
.jmb-settings-lang-item span{
	color: #3B5997;
	cursor: pointer;
}
.jmb-settings-lang-item span.active{
	background: none repeat scroll 0 0 yellow;
}
