.site-settings-box{
	color: #000000;
	font-family: Calibri,Tahoma;
	font-size: 12px;
	font-weight: normal;
}
.settings-progressbar{
	background: url("../img/progressbar.gif") no-repeat scroll 50% 50% transparent;
	left: 0;
	position: absolute;
	top: 0;
}
.site-settings-container{}
.settings-tabs{
	background: none repeat scroll 0 0 #DEE8F1;
	border: 1px solid #A4BED4;
	height: 30px;
}
.settings-tabs ul{
	margin: 0;
	padding: 0;
}
.settings-tabs ul li{
	background: none repeat scroll 0 0 #BFDCF5;
	display: inline-block;
}
.settings-tabs ul li div.item{
	border: 1px solid #A4BED4;
    	cursor: pointer;
    	height: 22px;
    	padding-top: 6px;
    	text-align: center;
    	width: 100px;
}
.settings-tabs ul li:hover{
	background: none repeat scroll 0 0 #6b92b3;
}
.settings-tabs ul li.active{
	background: none repeat scroll 0 0 #8AAFCE;
	color: white;
}
.settings-content{
	position: relative;
}

.settings-content:first-child td{
	width:30%;
}
.settings-content div.languages li,div.modules li{
	cursor: pointer;
	padding: 3px;
}
.settings-content div.languages li.active,div.modules li.active{
	background: none repeat scroll 0 0 yellow;
}
.settings-content div.modules li.translated {
	color:black;
}
.settings-content div.modules li.no-translation {
	color:gray;
	cursor:normal;
}
.settings-content div.buttons {
	margin-left: 30px;
	margin-top: 15px;
}
.settings-content div.buttons div {
	margin: 10px;
}
.settings-content div.buttons input[type="submit"],input[type="button"] {
	background: none repeat scroll 0 0 white;
	border: 1px solid #999999;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	margin-left: 3px;
	width: 70px;
}

.settings-content div.values {
	border: 1px solid #A4BED4;
	max-height: 280px;
	overflow: auto;
} 
.settings-content div.value {
	position:relative;
}
.settings-content div.value span{
	margin-left: 3px;
	margin-right: 3px;
}
.settings-content div.value input[type="radio"]{
	position: relative;
	top: 3px;
	cursor:pointer;
}
.settings-content div.value div.remove{
	background: url("../img/remove.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 14px;
	position: absolute;
	right: -6px;
	top: -6px;
	width: 14px;
}
.settings-content div.valueAdd {}
