/* Layout wrappers
 *
 * .stack     - stacks labels and inputs on top of one another
 * .shunt     - places labels and inputs inline, beside one another
 *
 */

.stack label,
.stack .label,
.stack .error_message,
.stack img {
    padding-left: 0;
}
.stack label,
.stack .label,
.stack .error_message {
    display: block;
    white-space: nowrap;
}
.stack .error_message {
    position: absolute;
    bottom: -1.6667em;
    left: 0;
}

.shunt input {
    display: inline-block;
}
.shunt label {
    /*width: 40%;*/
    text-align: right;
}
.shunt label input {
    width: auto;
}

label .required {
    color: hsl( 18, 90%, 66% );
}

.note {
  margin-bottom: 0;
}


/* Fieldsets */
.properties {
    padding: 1em 0 1.4em 0;
    border: none;
    position: relative;
    -moz-box-sizing: content-box;
}
fieldset.properties {
    border-top: 1px solid;
    margin: 0 0 -0.8em 0;
}
fieldset.properties:first-child {
    border-top: none;
}
/* Styling legends in FF is not easy. They will only be moved around with margins.
   Good enough is good enough. The relationship between padding-top, padding-bottom
   and margin-bottom of the fieldset is tricky, here, and fragile. It produces a bigger
   space when a legend is present then when it isn't */
.properties legend {
    height: 1.2em;
    line-height: 1.1em;
    padding: 0.2em 1.2em;
    text-transform: lowercase;
    font-size: 1em;
    font-weight: bold;
    margin-left: 2.4%;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
}
.properties div {
    clear: both;
    /* form divs also have clearfix applied */
    padding-left: 33.3333%;
    /* Try and preserve vertical spacing */
    min-height: 1.9em;
}
.properties p {
    float: left;
    line-height: 1.5em;
    padding: 0 0.6em 0 0;
    margin: 0.2em 0 0.2em 0;
}

.properties label,
.properties .label,
.properties input[type='text'],
.properties input[type='radio'],
.properties input[type='checkbox'],
.properties input[type=range] {
    float: left;
    width: auto;
    font-size: 1em;
    margin: 0 0 0.2em 0;
    height: 1.3333em;

    /* For some reason browsers force the 'traditional' box model on inputs
       in the Page Inspector. It may be because the inputs are not recognised as
       type "text", but I can't recreate the problem outside of webdoc, so I
       don't know why. Happily, we can force it back. */
    /*-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;*/
}
.properties label,
.properties .label,
.properties input[type='text'] {
    padding: 0.16em 0.6em;
}

.properties label,
.properties .label {
    color: rgba(0, 0, 0, 0.70);
    margin-right: 0.6em;
    text-transform: lowercase;
    padding: 0.1em 0 0 0;
    white-space: nowrap;
}
.properties label {
    min-width: 10em;
    margin-left: -10.6em;
    text-align: right;
    white-space: nowrap;
    line-height: 1.2em;
}
.properties .label {
    /*letter-spacing: -0.096em;*/
    margin-right: 0.4em;
}

.properties textarea,
.properties input[type=text] {
    /*border: 2px solid;*/
    -moz-border-radius:     0.6666em;
    -webkit-border-radius:  0.6666em;
    border-radius:          0.6666em;
    
    /*color: rgb(63, 63, 63);*/
    width: 8em;
    
    /* The combination of Helvetica labels and courier inputs
       needs to have font-size adjusted to match.  118% is a decent compromise
       between Webkit and Gecko, 112% makes the courier smaller. */
    font-family: Courier, monospace;
}

.properties select {
    margin: 0;
}
.properties textarea {
    margin: 0;
    width: 96%;
    max-width: 96%;
	margin-bottom:0.6em;
}

.properties input[disabled],
.properties .disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.properties input[type=checkbox] {
    width: auto;
    margin-right: 0.4em;
}
.properties input[type=radio] {
    width: auto;
    margin-right: 0.4em;
}