#JMBTreeCreatorContainer{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
}
#JMBTreeCreatorContainer div.title {
    margin: 30px 10px 10px;
    text-align: center;
}
#JMBTreeCreatorContainer div.title span{
    color: #45851F;
    font-size: 24px;
}
#JMBTreeCreatorContainer div.description {
    margin: 50px 10px 10px;
    text-align: center;
}
#JMBTreeCreatorContainer div.description span{
    font-size: 18px;
}

#JMBTreeCreatorContainer div#button {
    background: none repeat scroll 0 0 #3A7FC5;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    text-align: center;
    width: 220px;
}

#JMBTreeCreatorContainer div#button  span{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#JMBTreeCreatorContainer div.box {
    margin-top: 30px;
}
#JMBTreeCreatorContainer div.box div.think{
    font-weight: bold;
}
#JMBTreeCreatorContainer div.box div.text{}
#JMBTreeCreatorContainer div.box div.image{
    margin-top: 20px;
}

.ui-dialog.ui-widget.ftt_tree_creator {
	background: none repeat scroll 0 0 #AAAAAA;
}
.dialog_box.ui-dialog-content.ui-widget-content {
	 background: none repeat scroll 0 0 white;
	 border-radius: 3px 3px 3px 3px;
}

.tc_content{
	font-family: Tahoma;
	font-size: 12px;
}
.tc_header{

}
.tc_ftt_friends{
	border: 1px solid #AAAAAA;
	height: 250px;
    	margin: 15px;
    	width: 400px;
    	overflow-y: scroll;
}

.tc_ftt_friends ul{
	list-style: none outside none;
}
.tc_ftt_friends ul li div.avatar{
}
.tc_ftt_friends ul li div.name{
	color: #9BB4D1;
	margin-left: 5px;
}
.tc_ftt_friends ul li:hover{
	background:#f5df63;
}
.tc_ftt_friends ul li:hover div.name{
	color:#5c60ba;
}
.tc_ftt_friends ul li:hover div.request{
	visibility: visible;
}
.tc_ftt_friends ul li div.request{
	visibility:hidden;
	background: none repeat scroll 0 0 #00A2E8;
	border-radius: 3px 3px 3px 3px;
	color: white;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 190px;
}

.tc_footer{
	margin-left: 50px;
}

.tc_footer span.button{
	color:#548dd4;
	cursor:pointer;
}
.dialog_box.ui-dialog-content.ui-widget-content {
	 background: none repeat scroll 0 0 white;
	 border-radius: 3px 3px 3px 3px;
}
/*
.tree_create_user_form.ui-dialog-content.ui-widget-content{
	overflow: visible;
}
.tree_create_user_form {
	 background: none repeat scroll 0 0 #F1E4B0 !important;
	 border: 1px solid #4E4628 !important;
    	 border-radius: 3px 3px 3px 3px;
    	 font-family: Tahoma;
    	 font-size: 12px;
}
.tree_create_user_form .avatar{
	background: none repeat scroll 0 0 white;
	border: 1px solid #000000;
    	border-radius: 3px 3px 3px 3px;
    	height: 150px;
    	width: 135px;
    	position: relative;
}
.tree_create_user_form .avatar .upload{
	background: none repeat scroll 0 0 #d3d9e0;
	border: 1px solid #76808b;
    	border-radius: 3px 3px 3px 3px;
    	height: 20px;
    	left: 36px;
    	line-height: 20px;
    	position: absolute;
    	text-align: center;
    	top: 125px;
    	width: 75px;
    	overflow: hidden;
}
.tree_create_user_form .title {
	display: inline-block;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}
.tree_create_user_form .title span {}
.tree_create_user_form input {
	border: 1px solid #999999;
	height: 17px;
    	line-height: 17px;
    	margin-left: 3px;
    	margin-right: 3px;
}
.tree_create_user_form input.text {
	width: 167px;
}
.tree_create_user_form input.year {
	width: 35px;
}
.tree_create_user_form input.place {
	width:105px;
}
.tree_create_user_form select {
	border: 1px solid #999999;
	height: 19px;
    	line-height: 19px;
    	margin-left: 3px;
    	margin-right: 3px;
}

.tree_create_user_form .next {
	background: url("bg_next.png") repeat scroll 0 0 transparent;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	position: absolute;
	right: 30px;
	text-align: center;
	top: -33px;
	width: 100px;
}
.tree_create_user_form .next span {
	background: url("bg_next_arrow.png") no-repeat scroll 30px -1px transparent;
	color: white;
	height: 22px;
	padding-right: 20px;
}

.tree_create_user_form .finish_button{
	background: url("bg_next.png") repeat scroll 0 0 transparent;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
	color: white;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 0 auto;
	width: 100px;
}
.tree_create_user_form .switch_to_myfamily {
	background: url("bg_next.png") repeat scroll 0 0 transparent;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
	color: white;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 10px auto 0;
	width: 125px;
}
.tree_create_user_form .video{

}
.tree_create_user_form .box {}
.tree_create_user_form .box div.avatar{
	height: 45px;
	width: 40px;
}
.tree_create_user_form .box div.title{}
.tree_create_user_form .box div.value{}
*/
.tree_create_request_form.ui-dialog-content.ui-widget-content {
	font-family:Tahoma;
	font-size:12px;
	background: #f1e4b0;
	border:1px solid #4a4121;
	border-radius: 3px;
}
.tree_create_request_form select {
	border: 1px solid #999999;
	height: 19px;
    	line-height: 19px;
}
.tree_create_request_form input {
	border: 1px solid #999999;
	height: 17px;
    	line-height: 17px;
}
.tree_create_request_form .relation {
	margin: 0 auto;
	text-align: center;
    	width: 300px;
}
.tree_create_request_form .data {}
.tree_create_request_form .data .box {
	margin: 10px;
}
.tree_create_request_form .data .box .box_title {
	font-weight: bold;
}
.tree_create_request_form .data .box .user_box {
	background: none repeat scroll 0 0 white;
	border: 2px solid #999999;
    	padding: 3px;
}
.tree_create_request_form .data .box .mother_box {
	background: none repeat scroll 0 0 white;
	border: 2px solid #ffaec9;
	padding: 3px;
}
.tree_create_request_form .data .box .father_box {
	background: none repeat scroll 0 0 white;
	border: 2px solid #7092be;
    	padding: 3px;
}
.tree_create_request_form .data .box .facebook_avatar{
	border: 1px solid #999999;
	height: 80px;
    width: 80px;
}
.tree_create_request_form .data .box .title {
	width: 65px;
}
.tree_create_request_form .data .box .text {}
.tree_create_request_form .message {
	 margin: 10px;
}
.tree_create_request_form .message .title{
	color: #999999;
	font-weight: bold;
    	margin: 3px;
}
.tree_create_request_form .message .text{}
.tree_create_request_form .message .text textarea{
	height: 70px;
	width: 445px;
	border: 1px solid #999999;
	resize: none;
}
.tree_create_request_form .button {
	background: url("bg_next.png") repeat scroll 0 0 transparent;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
	color: white;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 10px auto 0;
	width: 290px;
}

.ui-dialog.ui-widget.ftt-form-create-tree {
    background: none repeat scroll 0 0 #91b152;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
}
.ftt-form-create-tree .header {}
.ftt-form-create-tree .header div {
    display: inline-block;
}
.ftt-form-create-tree .header div.message {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 5px 5px 20px;
}
.ftt-form-create-tree .header div.button {
    position: relative;
    top: -10px;
}
.ftt-form-create-tree .header div.button input{
    background: none repeat scroll 0 0 #3F81D9;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    min-height: 40px;
    min-width: 40px;
}
.ftt-form-create-tree .box {
    width: 380px;
}
.ftt-form-create-tree .box .title {
    color: white;
    font-size: 16px;
    margin: 3px;
}
.ftt-form-create-tree .box .data {
    background: none repeat scroll 0 0 #F1E4B0;
    border: 1px solid #4E4628;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
}
.ftt-form-create-tree .box .avatar {
    border: 1px solid #000000;
    height: 80px;
    width: 72px;
}
.ftt-form-create-tree .box .text {}
.ftt-form-create-tree .box .text input{
    border: 1px solid #CFCDCD;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
}
.tree_create_user_form .switch_to_myfamily {
    background: url("bg_next.png") repeat scroll 0 0 transparent;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin: 10px auto 0;
    width: 125px;
}
.tree_create_user_form .video{

}