<div id="packages-list" class='packages-tab'>
  <ul>
    <% @themes.each do |t| %>
      <li id='<%= t.uuid %>'>
        <img src='<%= t.thumbnail_url%>'/>
        <%= t.title %>
      </li>
    <% end %>
  </ul>
</div>
