/*
* SLIDE
*/
.ftt-profile-editor-slide {
    background: none repeat scroll 0 0 #769EC5;
    position: absolute;
    top: 0px;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
}
.ftt-profile-editor-slide-header {
    height: 30px;
}
.ftt-profile-editor-slide-header-button {
    background: url(imgs/button_arrow.png) no-repeat scroll 5px 3px #5A96C0;
    border: 1px solid #145072;
    border-radius: 15px 15px 15px 15px;
    color: white;
    margin: 3px;
    padding: 5px 0 5px 30px;
    width: 45px;
}
.ftt-profile-editor-slide-header-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.ftt-profile-editor-slide-content {
    margin: 5px;
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #456F9A;
    position: relative;
}
.ftt-profile-editor-slide-content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
/*
* BOX
*/
.ftt-profile-editor-box {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C4CDE0;
    border-radius: 2px 2px 2px 2px;
    margin: 5px;
    min-height: 80px;
}
.ftt-profile-editor-box-header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #D3D3D3;
    margin: 4px;
    min-height: 40px;
}
.ftt-profile-editor-box-header-title {
    background: url(imgs/box_title.png) no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    margin: 5px 5px 5px 15px;
    font-size: 14px;
}
.ftt-profile-editor-box-header-title span{
    font-weight: bold;
    line-height: 30px;
    margin-left: 34px;
}
.ftt-profile-editor-box-header-buttons {
    float: right;
    margin: 5px;
}
.ftt-profile-editor-box-header-buttons div {
    background: none repeat scroll 0 0 white;
    border: 1px solid #A6A6A6;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    padding: 5px;
}

.ftt-profile-editor-box-header-buttons div.edit {
    background: url(imgs/pencil.png) no-repeat scroll 5px 7px transparent;
    padding: 5px 5px 5px 20px;
}
.ftt-profile-editor-box-header-buttons div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.ftt-profile-editor-box-content {
    margin: 4px;
}
.ftt-profile-editor-box-content-element-title {
    color: #878086;
    font-size: 12px;
}
.ftt-profile-editor-box-content-element-text {
    color: #35223E;
    margin-left: 5px;
    font-size: 12px;
}
/*
* FACEBOOK BOX
*/
.ftt-profile-editor-facebook-box {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C4CDE0;
    margin: 5px;
    width: 200px;
}
.ftt-profile-editor-facebook-box-title {
    background: none repeat scroll 0 0 #3B5999;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.ftt-profile-editor-facebook-box-content {
    margin: 0 auto;
    width: 120px;
}
.ftt-profile-editor-facebook-box-content ul li div {
    height: 20px;
    padding-left: 22px;
}
.ftt-profile-editor-facebook-box-content-timeline {
    background: url(imgs/facebook_box_elements.png) no-repeat scroll 0 0 transparent;
}
.ftt-profile-editor-facebook-box-content-about {
    background: url(imgs/facebook_box_elements.png) no-repeat scroll 0 -21px transparent;
}
.ftt-profile-editor-facebook-box-content-likes {
    background: url(imgs/facebook_box_elements.png) no-repeat scroll 0 -42px transparent;
}
.ftt-profile-editor-facebook-box-content-following {
    background: url(imgs/facebook_box_elements.png) no-repeat scroll 0 -65px transparent;
}
.ftt-profile-editor-facebook-box-content-send_message {
    background: url(imgs/facebook_box_elements.png) no-repeat scroll 0 -88px transparent;
}
/*
* MYFAMILY BOX
*/
