/*
* SLIDE
*/
.ftt-profile-editor-slide {
    background: none repeat scroll 0 0 #769EC5;
    position: absolute;
    top: 50px;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
}
.ftt-profile-editor-slide-header {
    height: 30px;
}
.ftt-profile-editor-slide-header-button {
    background: url(../imgs/button_arrow.png) no-repeat scroll 5px 3px #5A96C0;
    border: 1px solid #145072;
    border-radius: 6px 6px 6px 6px;
    color: white;
    margin: 3px;
    padding: 5px 0 5px 30px;
    width: 45px;
}
.ftt-profile-editor-slide-header-button a {
    text-decoration: none;
    color: white;
}
.ftt-profile-editor-slide-content {
    margin: 5px;
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #456F9A;
    height: 91%;
}