#JMBFamousFamilyTreesContainer{
	font-family: Calibri,Tahoma,sans-serif;
	margin: 25px auto 0;
    	max-width: 440px;
    	position: relative;
}
.jmb-famous-family-body{}
.jmb-famous-family-title{
	font-size: 18px;
}
.jmb-famous-family-content div{
	text-align: left !important;
}
.jmb-famous-family-content ul{}
.jmb-famous-family-content li.jmb-famous-family-item{
	border: 1px solid #999999;
	cursor: pointer;
	display: block;
	margin: 5px;
	position: relative;
}
.jmb-famous-family-content li.jmb-famous-family-item:hover{
	background: #AA6946;
}
.jmb-famous-family-item-content{
	height: 70px;
}
.jmb-famous-family-item-cell{
	display: inline-block;
}
div#_info.jmb-famous-family-item-cell{
	left: 5px;
	margin-left: 5px;
	position: absolute;
	top: 5px;
}
div#_avatar.jmb-famous-family-item-cell{
	border: 1px solid #999999;
	height: 50px;
	left: 220px;
	margin: 5px;
	position: absolute;
	top: 5px;
	width: 50px;
}
div#_login.jmb-famous-family-item-cell{	
	left: 290px;
	position: absolute;
	top: 20px;
}

.jmb-famous-family-info-name{
	font-size: 16px;
	font-weight: bold;
}
.jmb-famous-family-info-content{}
.jmb-famous-family-info-title{
	display: inline-block;
	position: relative;
	top: -13px;
}
.jmb-famous-family-info-counts{
	display: inline-block;
	margin-left: 5px;
}
.jmb-famous-family-info-living{}
.jmb-famous-family-info-descendants{}
.jmb-famous-family-login-name{
	color: #3F48CC;
	font-size: 14px;
	font-weight: bold;
}

