<?xml version="1.0" encoding="UTF-8"?>
<install type="component" version="1.5.14" method="upgrade">
  <name>demo_image</name>
  <title>IMAGE</title>
  <description></description>
  <files>
	<css>
		<file>codebase/style.css</file>
	</css>
	<javascript>
		<file>codebase/image.js</file>
	</javascript>
 </files>

</install>