<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>untitled</title>
	
	<style type="text/css">
	
	    body{
	        padding:0px;
	        margin:0px;
	    }
	
	    .buble{
	        display:none;
	        opacity:0;
	        
	        font-family:helvetica, sans-serif;
	        font-weight:bold;
	        font-size:23px;
	        color:black;
	        line-height:28px;
	        position:absolute;
	        padding:0px 20px 0px 20px;
	        top:30px;
	        left:25%;
	        z-index:1;
	        
	        border:2px solid rgba(255,255,255,0.9);
	        
	        -moz-border-radius: 10px;  
            -webkit-border-radius: 10px;
            border-radius: 10px;
            
	        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), to(rgba(250,250,250,0.9)));
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.9),  rgba(250,250,250,0.9));
            
            -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            
            text-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
	    }
	    
	    .quicklink{
	        width:50px;
	        height:50px;
	        background:red;
	        display:inline-block;
	        margin-right:10px;
	        
	        border:2px solid rgba(255,255,255,0.9);
	        
	        -moz-border-radius: 10px;  
            -webkit-border-radius: 10px;
            border-radius: 10px;
            
	        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), to(rgba(250,250,250,0.9)));
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.9),  rgba(250,250,250,0.9));
            
            -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            
            cursor:pointer;
	    }
	    
	    .quicklink:hover{
	        border:2px solid rgba(30,30,30,0.9);
	    }
	    
	    .quicklink.ql1{ background:url(/images/browser/ql-facebook.png) no-repeat center center; }
	    .quicklink.ql2{ background:url(/images/browser/ql-youtube.png) no-repeat center center; }
	    .quicklink.ql3{ background:url(/images/browser/ql-flickr.png) no-repeat center center; }
	    .quicklink.ql4{ background:url(/images/browser/ql-twitter.png) no-repeat center center; }
	    
	    #quicklinks{
	        position:absolute;
	        left:0px;
	        top:100%;
	        margin-top:-70px;
	        width:100%;
	        text-align:center;
	    }
	    
	    .buble p{
	        width:100%;
	        margin:10px 0px 10px 0px;
	    }
	    
	    .buble.b1{ /*background:url(arrow_up.png) no-repeat 100% center;*/ top:20px; left:20px; }
	    .buble.b2{ /*background:url(arrow_left.png) no-repeat 0% center;*/ width:300px; top:70px; left:40px; text-align:left; }
	    .buble.b3{ /*background:url(arrow_left.png) no-repeat 0% center;*/ width:340px; top:445px; left:20px; text-align:left; }
	    .buble.b2 p{
	        top:40px;
	    }
        
        .animation{
            position:absolute;
            top:160px;
            z-index:0;
        }
        
        #animation{
            background:url(/images/browser/anim.png);
            width:450px;
            height:273px;
        }

	</style>
	
	<!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>

	<!-- Main -->
	<script type="text/javascript">
	    
	    var wdbrowser = {};
	    
	    // Bubles
	    wdbrowser.bubles = [
	        jQuery("<div class='buble b1'><p>Browse the web…</p></div>"),
	        jQuery("<div class='buble b2'><p>…and then drag &amp; drop anything you want into your webdoc.</p></div>"),
	        jQuery("<div class='buble b3'><p>You can also use your favorite social network.</p></div>")];
	    
	    // Quick links
        wdbrowser.quicklinks = [
	        jQuery("<a href='http://www.facebook.com'><div class='quicklink ql1'></div></a>"),
	        jQuery("<a href='http://www.youtube.com'><div class='quicklink ql2'></div></a>"),
	        jQuery("<a href='http://www.flickr.com'><div class='quicklink ql3'></div></a>"),
	        jQuery("<a href='http://www.twitter.com'><div class='quicklink ql4'></div></a>")];
	    
	    // Animation
	    wdbrowser.anim = new Image();
	    jQuery(wdbrowser.anim).addClass("animation");
	    
	    
	    wdbrowser.showBuble = function(ibuble){
	        wdbrowser.bubles[ibuble]
                .appendTo("body")
                .show()
                .animate({opacity:1},{duration: 1500, easeMethod: "easeInExpo"});
	    };
	    
	    wdbrowser.highlightLink = function(ilink){
	        wdbrowser.quicklinks[ilink]
                .animate({opacity:1},{duration: 1500, easeMethod: "easeInExpo"});
	    };
	    
        jQuery(document).ready(function(){
            
            // Browser animation
            setTimeout(function(){
                wdbrowser.anim.src = "/images/browser/browser-anim-only.gif";
            },3000);
            
            wdbrowser.anim.onload = function(){
                jQuery("body").append(wdbrowser.anim);
            };
            
            // Bubles animation
            for(var i=0; i<wdbrowser.bubles.length; i++){
                setTimeout(
                    function(i){
                        return function(){
                            wdbrowser.showBuble(i);
                        }
                    }(i),i*1200);
            }
            
            // Quick links
            for(var i=0; i<wdbrowser.quicklinks.length; i++){
                wdbrowser.quicklinks[i].appendTo("#quicklinks");
            }
            
        });
    
	</script>
	
</head>

<body>

<div id="animation" class="animation"></div>
<div id="quicklinks"></div>

</body>
</html>
