<div class="apps_panel panel" id="media-browser-apps">
	<header>
  	<h3>Apps</h3>
  </header>
  
  <div id="apps-list" class='app-tab' >
    <div class='thumbnails'>

    </div>
  </div>
  <div id="app_details" style='display:none' class='app-tab'>
    <a href='#apps-list' id='app-details-back' class='back'>Back</a>
    <h4 class='app_title'></h4>
    <div class='single_app'>
      <img alt='' />
      <h5 class='app_version'></h5>
      <div class='actions'>
        <ul>
          <li>
            <a id='add_app_to_page_action' href=''>
              <%= t('.apps.detail_view.add_to_page') %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>