<% if !Rails.env.production? %><!-- comments panel --><% end %>

<div class="comments_panel panel" id="discussions-panel">
  <header>
  	<h3>Comments</h3>
  </header>
  <div class="content">
    <div id="wd_discussions"></div>
  </div>
</div>