#left_bar.left-panel.panel
  %ul.panel-tools.vertical.icons-only.thumbs.index
    %li>
      %a{ :href => "#left-panel-toggle", :title => "Left Panel" } Left Panel
    %li>
      %a{ :href => "#prev-page" , :title => "Previous page" } Prev
    %li.pages-info>
      %a{ :href => "#pages-browser", :title => "Pages browser" }
        %span.webdoc-page-number.number 1
    %li>
      %a{ :href => "#next-page" , :title => "Next Page" } Next

  -#%div.upper.border
  -#%div.lower.border

  #page_browser_left.pages-inspector.inspector
    %div.head
      %div
        %div.inspector-title Pages
        %ul.inspector-views.views.thumbs.index.icons-only
          %li>
            %a{ :class => "state-pages-thumbs current", :href => "#hide-thumbs", :title => "Toggle thumbs" }
          %li>
            %a{ :class => "state-pages-thumbs", :href => "#show-thumbs", :title => "Toggle thumbs" }
        %ul.pages-tools.tools.thumbs.index.icons-only
          %li>
            %a{ :href => "#add-page", :title => t('.pages_browser.add_page') }
              = t('.pages_browser.add_page')
          %li>
            %a{ :href => "#add-web-page", :title => t('.pages_browser.add_web_page') }
              = t('.pages_browser.add_web_page')
          %li>
            %a{ :href => "#copy-page", :title => t('.pages_browser.copy_page') }
              = t('.pages_browser.copy_page')
          %li>
            %a{ :href => "#remove-page", :title => "Copy page" }
              Remove
    #page_browser_container.content
      -#%ul.page_browser_numbered_list.vertical.numbers.index
      %ul.page_browser_items.vertical.pages.index
    
    %div.foot