<div id="media-browser-packages" class="view">
  <div id="package-details" class="tab_content packages-tab" style='display:none'>
    <a href='#packages-list' id='package-detail-back' class='back'>Back</a>
    <div class="view_content">
      <iframe width="100%" height="100%" src="" class=""></iframe>
    </div>
  </div>
</div>