<div class="left-panel pages_panel controls_panel panel" id="page_browser">
  <!--ul class="panel_index icons-only thumbs index">
    <li>
      <a href="#left-panel-toggle" title="Left Panel">Left Panel</a>
    </li>
  </ul-->
  
  <div class="pages-inspector inspector" >
    <div class="content" id="page_browser_container">
      <ul class="page_browser_items pages index hide-thumbs"></ul>
    </div>
  </div>
  
  <div class="toolbar">
    
    <div class="page-details">
      <span class="webdoc-page-number number">2</span>
      <span class="webdoc-separator">of</span>
      <span class="webdoc-page-total">3</span>
    </div>
    
    <ul class="pages-tools tools thumbs index icons-only">
      <li>
        <a href="#webdoc-prev-page" title="Previous">Previous</a>
      </li><li>
        <a href="#webdoc-next-page" title="Next">Next</a>
      </li><li class="mode-edit-show">
        <a href="#add-page" title="Add page">Add page</a>
      </li><li class="mode-edit-show">
        <a href="#copy-page" title="Copy page">Copy</a>
      </li><li class="mode-edit-show">
        <a href="#remove-page" title="Remove page">Remove</a>
      </li>
    </ul>
    
  </div>
  
</div>