<div class="left-panel pages_panel panel" id="left_bar">
  <!--ul class="panel_index icons-only thumbs index">
    <li>
      <a href="#left-panel-toggle" title="Left Panel">Left Panel</a>
    </li>
  </ul-->
  
  <div class="pages-inspector inspector" id="page_browser_left">
    <div class="content" id="page_browser_container">
      <!--ul class="pages-tools vertical tools thumbs tools_index index icons-only mode-preview-hide">
        <li>
          <a href="#add-page" title="Add page">Add</a>
        </li><li>
          <a href="#copy-page" title="Copy page">Copy</a>
        </li><li>
          <a href="#remove-page" title="Remove page">Remove</a>
        </li>
      </ul-->
      <ul class="page_browser_items pages index hide-thumbs"></ul>
    </div>
    <div class="foot"></div>
  </div>
</div>