<div class="left-panel pages_panel panel" id="left_bar">
  <ul class="panel-tools vertical icons-only thumbs index">
    <li>
      <a href="#left-panel-toggle" title="Left Panel">Left Panel</a>
    </li><li>
      <a href="#webdoc-prev-page" title="Previous page">Prev</a>
    </li><li class="pages-info">
      <a href="#pages-browser" title="Pages browser">
        <span class="webdoc-page-number number">2</span>
      </a>
    </li><li>
      <a href="#webdoc-next-page" title="Next Page">Next</a>
    </li>
  </ul>
  
  <div class="pages-inspector inspector" id="page_browser_left">
    <div class="head">
      <div>
        <div class="inspector-title">Pages</div>
          
        <ul class="inspector-views views thumbs index icons-only">
          <li>
            <a class="state-pages-thumbs" href="#hide-thumbs" title="Toggle thumbs"></a>
          </li><li>
            <a class="state-pages-thumbs current" href="#show-thumbs" title="Toggle thumbs"></a>
          </li>
        </ul>
      </div>
    </div>
        
    <div class="content" id="page_browser_container">
      <ul class="pages-tools vertical tools thumbs index icons-only mode-preview-hide">
        <li>
          <a href="#add-page" title="Add page">Add</a>
        </li><li>
          <a href="#copy-page" title="Copy page">Copy</a>
        </li><li>
          <a href="#remove-page" title="Remove page">Remove</a>
        </li>
      </ul>
      <ul class="page_browser_items pages index hide-thumbs ui-sortable"></ul>
    </div>
        
    <div class="foot"></div>
  </div>
</div>