<% if !Rails.env.production? %><!-- pages panel --><% end %>

<div class="pages_panel panel">
  <header>
  	<h3>Pages</h3>
    
    <ul class="horizontal pageedit_index buttons_index index">
      <li><a class="pageedit_button button" href="#add-page" title="Add page">Add page</a></li
     ><li><a class="pageedit_button button" href="#copy-page" title="Copy page">Copy</a></li
     ><li><a class="pageedit_button button" href="#remove-page" title="Remove page">Remove</a></li>
    </ul>
  </header>
  
  <div class="content" id="page_browser">
    <div id="page_browser_container">
      <ul class="horizontal pages_index index"></ul>
    </div>
    <div class="x_scrollbar_container">
      <div class="x_scrollbar scrollbar"></div>
    </div>
  </div>
</div>