<% if !Rails.env.production? %><!-- tools panel --><% end %>

<div class="tools_panel panel" id="toolbar">
  
  <ul class="horizontal edit_index buttons_index index">
    <li><a class="mode_button button" href="#edit" title="Edit mode">Edit</a></li
   ><li><a class="dropdown_button button" href="#dropdown" data-for=".edit_dropdown_index" title="Edit Menu">Edit Menu</a>
      <ul class="vertical edit_dropdown_index dropdown_index buttons_index index">
        <li><a class="edit_button button" href="#undo" title="Undo">Undo</a></li
       ><li><a class="edit_button button" href="#redo" title="Redo">Redo</a></li
       ><li><a class="edit_button button" href="#delete" title="Delete">Delete</a></li
       ><li></li
       ></li><li><a class="edit_button button" href="#to-front" title="Bring to front">Bring to front (F)</a></li
       ><li><a class="edit_button button" href="#to-back" title="Send to back">Send to back (B)</a></li
       >
      </ul>
    </li>
  </ul>
  
  <ul class="horizontal app_index buttons_index index">
    <li><a class="app_button button" href="#html_tool" title="HTML">HTML</a></li
   ><li><a class="app_button button" href="#webpage_tool" title="Web Page">Web page</a></li
   ><li><a class="app_button button" href="#text_tool" title="Text">Text</a></li
   ><li><a class="app_button button" href="#textbox_tool" title="Text Box">Text Box</a></li
   ><li><a class="app_button button" href="#draw_tool" title="Draw">
        Draw
        <!--div class="draw-port">
          <div class="draw-size draw-color"></div>
        </div-->
      </a></li
   <% if !Rails.env.production? %>><li><a class="app_button button" href="#insert-app" title="Insert open social app">Open Social</a></li<% end %>
   ><li><a class="button" href="#toggle_apps_panel">Apps&hellip;</a></li>
  </ul>
  
  <ul class="horizontal panel_index buttons_index index">
    <li><a class="panel_button button" href="#toggle_content_panel" title="Content browser">Add Content</a></li
   >
    <!-- <li><a class="panel_button button" href="#toggle_activity_panel" title="Toggle Activity Panel">Activity Panel</a></li> -->
    <!--li><a class="panel_button button" href="#toggle_inspector_panel" title="Toggle Inspector Panel">Inspector </a></li
   ><li><a class="panel_button button" href="#toggle_page_inspector_panel" title="Toggle Page Inspector Panel">Page Inspector </a></li
   ><li><a class="panel_button button" href="#toggle_document_panel" title="Toggle Document Inspector Panel">Document Inspector </a></li
   --><li><a class="panel_button button" href="#toggle_my_stuff_panel" title="Toggle My Stuff Panel">My Stuff </a></li
   ><!--li><a class="panel_button button" href="#toggle_content_panel" title="Toggle Browse the web Panel">Browse the web </a></li
   ><li><a class="panel_button button" href="#toggle_packages_panel" title="Toggle Packages Panel">Packages</a></li
   ><li><a class="panel_button button" href="#toggle_author_panel" title="Toggle Author Panel">Author Panel </a></li> -->
  </ul>
  
</div>