/* Black and gold */
/* Version 8.06.01 */

.fcp_wrapper 
	{border:1px solid #6B6B6B; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; padding:5px;
         background-color:black; font-family:Arial, sans-serif; font-size:90%; font-weight:bold; color:white; 
         display:inline-block; width:75%;}

/* single-line layout above 800px; tw-line layout below 800px */

div.fcp_line       {clear:left; padding-top:0.5em;}
div.fcp_line label {display:inline-block; vertical-align:top; text-align:right; width:12em; max-width:20%; margin-right:1em;}
	
@media screen and (max-width:800px) 
{
    .fcp_wrapper       {width:90%;}
    div.fcp_line label {display:block; text-align:left; width:auto; max-width:90%;}
}

/* line layout inside fieldsets */

fieldset div.fcp_line label {text-align:right; width:12em; margin-right:1em;}

@media screen and (max-width:800px) 
{
    fieldset div.fcp_line label	{display:block; text-align:left;}
}

/* mandatory and errors */

.fcp_mandatory:after {content:"*"; margin-left:0.25em; font-size:larger;}
.fcp_error_msg       {display:inline-block; margin-left:5px; margin-top:2px; background:url('css_images/val_err1.png') no-repeat left top; }
.fcp_error_msg span  {display:inline-block; height:16px; width:16px; }
span.fcp_err         {display:none; }
.fcp_error_field     {border:2px solid gold !important;}

/* secure-image captcha */

div.fcp_captcha input   {vertical-align:top;}
div.fcp_captcha_inner   {display:inline-block; padding:2px; background-color:black;
                         border:1px solid gold; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
img.fcp_captcha_img     {vertical-align:middle; margin:0 5px 0 5px; 
                         border:1px solid gold; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
span.fcp_captcha_reload {display:inline-block; height:24px; width:24px; vertical-align:middle;
                         background:black url('css_images/reload_gold.png') no-repeat center center; cursor:pointer;}
#fcp_err_captcha        {margin-top:20px;}                

/* image captcha */

.fcp_image_inner        {display:inline-block; }
.fcp_inactive           {border:2px solid transparent;}
.fcp_active             {border:2px solid gold; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#fcp_err_image          {margin-top:20px;}

/* recaptcha */

#recaptcha_widget_div	{display:inline-block; }
div.recaptcha_input_area label {max-width:none;}
#fcp_err_recap		{margin-top:10px;}

/* magic word */

div.fcp_magic input	{width:20%;}

/* fieldsets */

fieldset.fcp_fieldset         
	{display:inline-block; margin:5px; padding:5px; background-color:black; border:1px solid lightgray;
         -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
fieldset.fcp_fieldset legend  
	{background:#F5F5F5 url('css_images/fcp_gold2.png') repeat-x left center; padding:3px 10px 3px 10px;
         border:1px solid #444444; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
         width:auto; font-size:100%; line-height:1em; margin:0 0 0 10px;}

/* input fields */

div.fcp_line input, div.fcp_line textarea, div.fcp_line select   
	{max-width:95%; border:2px inset #F5F5F5; padding:0 2px 0 3px; background-color:whiteSmoke;
         -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
div.fcp_line textarea {height:auto;}
         
div.fcp_line input:hover, div.fcp_line textarea:hover, div.fcp_line select:hover
	{border:2px solid gold; }
div.fcp_line input:focus, div.fcp_line textarea:focus, div.fcp_line select:focus
	{outline:none; border:2px solid #4D90FE; 
	 -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3); box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);}

div.fcp_radio input, div.fcp_checkbox input
	{background-color:transparent; border:none; }
div.fcp_radio input:hover, div.fcp_checkbox input:hover
	{border:none;}
div.fcp_line input[type="checkbox"] {margin-top:0; vertical-align:middle;}	

/* radio button and checkbox layout */

div.fcp_radio_h_inner     {display:inline-block; max-width:70%;}
span.fcp_radio_h          {display:inline-block; }
div.fcp_radio_h_inner span.fcp_radio_h label    
                          {display:inline-block; width:auto; padding-left:5px; white-space:nowrap;}

div.fcp_radio_v_inner     {display:inline-block; max-width:70%;}
span.fcp_radio_v          {display:block; white-space:nowrap;}
span.fcp_radio_v label    {width:auto; padding-left:5px;}
span.fcp_radio_v input    {clear:left; }

div.fcp_checkbox_l input.fcp_lcb {margin-left:8em; margin-right:1em;}
div.fcp_checkbox_l label.fcp_lcb {width:auto; max-width:70%;}

@media screen and (max-width:800px) 
{
	div.fcp_checkbox_l input.fcp_lcb {margin-left:0; }
	div.fcp_checkbox_l label.fcp_lcb {max-width:90%; }
}

div.fcp_checkbox_inner    {display:inline-block; max-width:75%;}
span.fcp_checkbox_m       {display:inline-block; }
div.fcp_checkbox_inner span.fcp_checkbox_m label 
                          {display:inline-block; width:auto; max-width:none; padding-left:5px; white-space:nowrap; }

/* links need to be white */

div.fcp_wrapper a:link, div.fcp_wrapper a:active, div.fcp_wrapper a:visited {color:white !important; text-decoration:underline !important;}

/* fixed texts */

div.fcp_fixed_text 
	{border:1px solid #6B6B6B; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
         height:24px; margin:5px; background:#F5F5F5 url('css_images/fcp_gold1.png') repeat-x left center;  }
div.fcp_fixed_text label 
	{text-align:left; margin-left:1em; font-size:130%; white-space:nowrap;}

/* the send button */

.fcp_sendrow {margin-left:10%;}
.fcp_form input.button 
	{background:url('css_images/fcp_gold1.png') repeat-x left center;
         border:1px solid #8B9DB8; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
         min-width:65px; margin:2px 2px 2px 5px; padding:5px;
         font-size:1.2em; font-weight:bold; color:white; cursor:pointer;}
.fcp_form input.button:hover    {background:url('css_images/fcp_gold2.png') repeat-x left center; border:1px solid gold;}
.fcp_form input.button:disabled {background-color:#DAD8D8; background-image:none; color:white; cursor:default;}
#fcp_spinner {margin-top:8px;}
.fcp_spinner {background:url('css_images/spinner.gif') no-repeat left center !important; height:16px; width:16px;}

/* Tooltips (Joomla 1.5 uses tool-, Joomla 1.6+ uses tip- */

.tip, .tool-tip         {float:left; padding:5px; max-width:400px; z-index:50; background:whitesmoke !important; text-align:left;
			 border:1px solid gold;
	                 -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.tip-title, .tool-title {color:black; padding:0; margin:0; margin-top:-15px; white-space:normal;
	                 font-size:85%; font-weight:bold; padding-top:10px; }
.tip-text, .tool-text   {color:black; font-size:85%; margin:0; white-space:normal;}

