%div#document-inspector.inspector{ :style => "display: none" }
  %div.head
    %div
      %h2 Document
    
  %div.content
    %div
      %label Name
      %br
      %input#document-title{ :type => "text", :value => t('.default_name') }
    %div
      %label Description
      %br
      %textarea#document-description{ :rows => "5"}
    %div
      %label Category
      %br
      %select#document-category