%div#document-inspector.inspector{ :style => "display: none" }
  %div.head
    %div
      %div.inspector-title Document
    
  %div.content
    %form.properties
      %div
        %label Name
        %input#document-title{ :type => "text", :value => t('.default_name') }
      %div
        %label Category
        %select#document-category
      %div
        %label Description
        %textarea#document-description{ :rows => "5"}
