#draw-inspector.inspector
  %div.head
    %div
      %div.inspector-title Draw Tool
  
  %div.content
    %ul#colors.ui-block.spaceless.icons-only.thumbs.index
      -# Safari or SVG or something doesn't like rgba or hsla colors
      %li>
        %a.state-draw-color.current{ :href => "#draw-color", :style => "background-color: black;", :title => "Jet" } Jet Black
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #92b322;", :title => "Dirty lime" } Dirty lime
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #ccf245;", :title => "Bright Lime" } Bright Lime
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #b39322;", :title => "Dirty Orange" } Dirty Orange
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #ffd200;", :title => "Bright Orange" } Bright Orange
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #ff5400;", :title => "Starsky and Hutch" } Starsky and Hutch
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #c33200;", :title => "Twin Peaks" } Twin Peaks
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #f20951;", :title => "Lipstick" } Lipstick
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #b32248;", :title => "Dark Lipstick"  } Dark Lipstick
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #22a4b3;", :title => "Dirty Marine" } Dirty Marine
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #00dce4;", :title => "Clean Marine" } Clean Marine
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #009982;", :title => "Beach Lagoon" } Beach Lagoon
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #43e4cb;", :title => "Turquoise" } Turquoise                                    
      %li>
        %a.state-draw-color{ :href => "#draw-color", :style => "background-color: #ffffff;", :title => "White" } White
    
    %div
      %input#size.size-slider-value{ :type => "text", :value => "1" }
      %div.size-slider-port
        %div.size-slider-thumb
      %div.size-slider.box