<!-- Draw Inspector -->
<div class="draw_inspector_panel inspector_panel panel" id="draw-inspector">
  
  <header>
  	<div class="inspector-title">Draw Tool</div>
  </header>
  
  <div class="content">
    <ul class="ui-block spaceless icons-only thumbs colors-index index" id="colors">
      <li>
        <a class="state-draw-color" href="#draw-color" style="color: black;" title="Jet Black">
          <span class="current">&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #92b322;" title="Dirty lime">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #ccf245;" title="Bright Lime">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #b39322;" title="Dirty Orange">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #ffd200;" title="Bright Orange">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #ff5400;" title="Starsky and Hutch">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #c33200;" title="Twin Peaks">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #f20951;" title="Lipstick">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #b32248;" title="Dark Lipstick">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #22a4b3;" title="Dirty Marine">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #00dce4;" title="Clean Marine">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #009982;" title="Beach Lagoon">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #43e4cb;" title="Turquoise">
          <span>&#x2588;</span>
        </a>
      </li><li>
        <a class="state-draw-color" href="#draw-color" style="color: #ffffff;" title="White">
          <span>&#x2588;</span>
        </a>
      </li>
    </ul>
    
    <div>
      <input id="size" class="size-slider-value" type="text" value="1" />
      <div class="size-slider-port">
        <div class="size-slider-thumb"></div>
      </div>
      <div class="size-slider box"></div>
    </div>
  </div>
</div>