<div id="html-inspector" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        HTML
      </div>
    </div>
  </div>
  
  <div class="foot">
    <form id="properties" class="properties">
      <div>
        <label for="property_color">color</label>
        <input id="property_color" type="text" data-type="csscolor" data-property="color" value="" />
      </div>
      <div>
        <label for="property_background_color">background color</label>
        <input id="property_background_color" type="text" data-type="csscolor" data-property="backgroundColor" value="" />
      </div>
      <!--div>
        <label for="property_background">background image</label>
        <input id="property_background" type="url" data-property="background-image" value="" />
      </div-->
      <div>
        <label for="property_width">width</label>
        <input id="property_width" type="text" data-type="cssvalue" data-property="width" value="" />
      </div>
      <div>
        <label for="property_height">height</label>
        <input id="property_height" type="text" data-type="cssvalue" data-property="height" value="" />
      </div>
      <div>
        <label for="property_left">left</label>
        <input id="property_left" type="text" data-type="cssvalue" data-property="left" value="" />
      </div>
      <div>
        <label for="property_top">top</label>
        <input id="property_top" type="text" data-type="cssvalue" data-property="top" value="" />
      </div>
      <!--div>
        <label for="property_right">right</label>
        <input id="property_right" type="text" data-type="cssvalue" data-property="right" value="" />
      </div>
      <div>
        <label for="property_bottom">bottom</label>
        <input id="property_bottom" type="text" data-type="cssvalue" data-property="bottom" value="" />
      </div-->
      <div>
        <label for="property_rotation">rotation</label>
        <input id="property_rotation" type="text" data-type="cssangle" data-property="rotation" value="" />
      </div>
      <div>
        <label for="property_padding">padding</label>
        <input id="property_padding" type="text" data-type="cssvalue" data-property="padding" value="" />
      </div>
      <div>
        <label for="property_border_radius">border radius</label>
        <input id="property_border_radius" type="text" data-type="cssvalue" data-property="borderRadius" value="" />
      </div>
      <div>
        <label for="property_overflow">Overflow</label>
        <input name="property_overflow" id="property_overflow_hidden" type="radio" data-property="overflow" value="hidden" />
        <span class="label" for="property_overflow_hidden">hide</span>
        <input name="property_overflow" id="property_overflow_visible" type="radio" data-property="overflow" value="visible" />
        <span class="label" for="property_overflow_hidden">show</span>
        <input name="property_overflow" id="property_overflow_auto" type="radio" data-property="overflow" value="auto" />
        <span class="label" for="property_overflow_hidden">scroll</span>
      </div>
      <div>
        <label for="property_opacity">Opacity</label>
        <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" data-property="opacity" value="1.00" />
        <span class="readout" id="property_opacity_readout">ui</span>
      </div>
      <div>
        <input id="property-fit-to-screen" type="button" value="Fit to screen" />
      </div>
    </form>
  </div> 
  <div class="content" id="html-editor">
  </div>
</div>