<div id="html-inspector" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        HTML
      </div>
    </div>
  </div>
  
  <div class="foot">
    <form id="properties" class="properties">
      <div>
        <label for="property-width">width</label>
        <input id="property-width" class="property-width" type="text" value="px" />
      </div>
      <div>
        <label for="property-height">height</label>
        <input id="property-height" class="property-height" type="text" value="px" />
      </div>
      <div>
        <label for="property-left">left</label>
        <input id="property-left" class="property-left" type="text" value="px" />
      </div>
      <div>
        <label for="property-top">top</label>
        <input id="property-top" class="property-top" type="text" value="px" />
      </div>
      <div>
        <label for="property-scroll">Show Scroll</label>
        <input id="property-scroll" class="property-scroll" type="checkbox" value="checked" />
      </div>
      <div>
        <label for="property-opacity">Opacity</label>
        <input id="property-opacity" class="property-opacity" type="range" min="0.00" max="1.00" step="0.01" value="1" />
        <span id="property-opacity-readout">ui</span>
      </div>
      <div>
        <input id="property-fit-to-screen" type="button" value="Fit to screen" />
      </div>
    </form>
  </div> 
  <div class="content" id="html-editor">
  </div>
</div>