<div id="html-inspector" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        HTML
      </div>
    </div>
  </div>
  
  <div class="foot">
    <form id="properties" class="properties">
      <div>
        <label for="property_background">background</label>
        <input id="property_background" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_width">width and height</label>
        <input id="property_width" type="text" data-type="cssvalue" value="" />
        <input id="property_height" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_left">left</label>
        <input id="property_left" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_top">top</label>
        <input id="property_top" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_right">right</label>
        <input id="property_right" type="text" data-type="cssvalue" data-css-property="right" value="" />
      </div>
      <div>
        <label for="property_bottom">bottom</label>
        <input id="property_bottom" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_rotation">rotation</label>
        <input id="property_rotation" type="text" data-type="angle" value="" />
      </div>
      <div>
        <label for="property_padding">padding</label>
        <input id="property_padding" type="text" value="" />
      </div>
      <div>
        <label for="property_radius">radius</label>
        <input id="property_radius" type="text" data-type="cssvalue" value="" />
      </div>
      <div>
        <label for="property_scroll">Show Scroll</label>
        <input id="property_scroll" type="checkbox" value="checked" />
      </div>
      <div>
        <label for="property_opacity">Opacity</label>
        <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" value="1.00" />
        <span class="input-range-readout" id="property_opacity_readout">ui</span>
      </div>
      <div>
        <input id="property-fit-to-screen" type="button" value="Fit to screen" />
      </div>
    </form>
  </div> 
  <div class="content" id="html-editor">
  </div>
</div>