<div id="html-inspector" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        HTML
      </div>
    </div>
  </div>
  <div class="content" id="html-editor">
  </div>
</div>