%div#iframe-inspector.inspector
  %div.head
    %div
      %div.inspector-title Web page

  %div.content#iframe-editor
    %div
      %label.properties_label Address
      %input{ :type => "url", :id => "property-iframe-src", "data-type" => 'webdoc_iframe_url' }

  %div.foot

