<div id="iframe-inspector" style="display:none">
  <div>
    <form class="content">
      <div class="section">
        <div class="entry">
          <label>
            adress              
            <input id="property-iframe-src" type="url" data-type="webdoc_iframe_url" value="" />
          </label>
        </div>
      </div>
    </form>
  </div>
</div>