<div id="image-inspector" style="display:none;">
  <div>
    <form class="content">
      <div class="section">
        <div class="entry">
          <label>
            Image URL              
            <input type="text" id="property_src" />
          </label>
        </div>
        <div class="entry">
          <label>
            Original size
            <input type="button" value="Original size" id="restore_original_size" />
          </label>
        </div>        
        <div class="entry">
          <label>
            Set as page
            <input type="button" value="Set" id="set_page_size_to_image_size" />
          </label>
        </div>
        <div class="entry">
          <label>
            <input type="checkbox" id="preserve_aspect_ratio" checked="checked" />
            Preserve aspect ratio
          </label>
        </div>      
        <div class="entry">
          <div>
            <a href="#add_to_my_images">Add to my images</a>
          </div>
          <div id="add_to_my_images_result"></div>
        </div>                             
      </div>
      <hr class="separator"/>
      <div class="section">
        <h4>Crop</h4>
        <div class="entry">
          <label>
            Zoom
            <input type="range" id="image_zoom" min="0" max="400" step="1" />
          </label>
        </div>
        <div class="entry">
          <label>
            X Shift
            <input type="range" id="image_xshift" min="0" max="400" step="1" />
          </label>
        </div>
        <div class="entry">
          <label>
            Y Shift
            <input type="range" id="image_yshift" min="0" max="400" step="1" />
          </label>
        </div>                    
      </div>        
    </form>
  </div>
</div>