<div id="image-inspector" class="item_inspector">
  <header>
    <h3>Image</h3>
  </header>    
  <div class="content">
    <form>
      <label>Image URL</label>
      <input type="text" id="property_src" />
      <label>Original size</label>
      <input type="button" value="Original size" id="restore_original_size" />
      <label>Set as page</label>
      <input type="button" value="Set" id="set_page_size_to_item_size" />
      <label>Preserve aspect ratio</label>
      <input type="checkbox" id="preserve_aspect_ratio"/>
          
      <label>Placeholder</label>
      <input type="checkbox" id="placeholder_checkbox" checked="checked" />
        
      <a href="#create_image_link">Create link</a>
      <a href="#clear_image_link">Clear link</a>
      <a href="#add_to_my_images">Add to favorites</a>
      <div id="add_to_my_images_result"></div>
      
      <label>Zoom</label>
      <input type="range" id="image_zoom" min="0" max="400" step="1" />
      <label>X Shift</label>
      <input type="range" id="image_xshift" min="0" max="400" step="1" />          
      <label>Y Shift</label>
      <input type="range" id="image_yshift" min="0" max="400" step="1" />
      <label>left</label>
      <input id="property_left" type="text" data-type="cssvalue" data-property="left" value="" />
      <label>top</label>
      <input id="property_top" type="text" data-type="cssvalue" data-property="top" value="" />
      <label>width</label>
      <input id="property_width" type="text" data-type="cssvalue" data-property="width" value="" />
      <label>height</label>
      <input id="property_height" type="text" data-type="cssvalue" data-property="height" value="" />
      <label>rotation</label>
      <input id="property_rotation" type="text" data-type="cssangle" data-property="rotation" value="" />
      <label>opacity</label>
      <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" data-property="opacity" value="1.00" /><span class="readout" id="property_opacity_readout">ui</span>
      <a href='#remove_border'>Remove Border</a>
      <input id="property-fit-to-screen" type="button" value="Fit to webdoc" />
    </form>
  </div>
</div>