<div class="inspector" id="image-inspector">
  <div class="head">
    <div>
      <div class="inspector-title">Image</div>
    </div>
  </div>
  
  <div class="foot"></div>
  
  <div class="content">
    <form>
      <fieldset class="properties">
        <div>
          <label class="properties_label">Image URL</label>
          <input type="text" id="property_src" />
        </div>
        
        <div>
          <label class="properties_label">Original size</label>
          <input type="button" value="Original size" id="restore_original_size" />
        </div>

        <div>
          <label class="properties_label">Set as page</label>
          <input type="button" value="Set" id="set_page_size_to_image_size" />
        </div>
        
        <div>
          <label>Preserve aspect ratio</label>
          <input type="checkbox" id="preserve_aspect_ratio" checked="checked" />
        </div>

        <div>
          <label>Placeholder</label>
          <input type="checkbox" id="placeholder_checkbox" checked="checked" />
        </div>

        <div>
          <label>&nbsp;</label>
          <a href="#create_image_link">Create link</a>
        </div>

        <div>
          <label>&nbsp;</label>
          <a href="#clear_image_link">Clear link</a>
        </div>
        
        <div>
          <div>
            <a href="#add_to_my_images">Add to my images</a>
          </div>
          <div id="add_to_my_images_result"></div>
        </div>
      </fieldset>
      
      <fieldset class="properties">
        <div>
          <label>Zoom</label>
          <input type="range" id="image_zoom" min="0" max="400" step="1" />
        </div>
        <div>
          <label>X Shift</label>
          <input type="range" id="image_xshift" min="0" max="400" step="1" />
        </div>
        <div>
          <label>Y Shift</label>
          <input type="range" id="image_yshift" min="0" max="400" step="1" />
        </div>
      </fieldset>
    </form>
  </div>
</div>