%div#image-inspector.inspector
  %div.head
    %div
      %div.inspector-title Image
  
  %div.foot
  
  %div.content
    %div
      %label.properties_label Image URL
      <input type="text" id="property_src" />
    %div
      %label.properties_label Restore original size
      <input type="button" value="Original size" id="restore_original_size" />
    %div
      %label Preserve aspect ratio
      <input type="checkbox" id="preserve_aspect_ratio" />