<div id="text_inspector" class="item_inspector">
  <header>
  	<h3>Text</h3>
  </header>
  
  <div class="content">
    <div id="text-inspector-content"></div>
    <div id="text_code"></div>
    <form>
      <div id="text_properties">
        <div>
          <label>left</label>
          <input id="property_left" type="text" data-type="cssvalue" data-property="left" value="" />
        </div>
        <div>
          <label>top</label>
          <input id="property_top" type="text" data-type="cssvalue" data-property="top" value="" />
        </div>         
        <div>
          <label>width</label>
          <input id="property_width" type="text" data-type="cssvalue" data-property="width" value="" />
        </div>
        <div>
          <label>height</label>
          <input id="property_height" type="text" data-type="cssvalue" data-property="height" value="" />
        </div>
        <div>
          <label>background color</label>
            <input id="property_background_color" type="text" data-type="csscolor" data-property="backgroundColor" value="" />
            <a href='#remove_background'>Remove Background</a>
        </div>
        <div>
          <label>rotation</label>
          <input id="property_rotation" type="text" data-type="cssangle" data-property="rotation" value="" />
        </div> 
        <div>
          <label>padding</label>
          <input id="property_padding" type="text" data-type="cssvalue" data-property="padding" value="" />
        </div> 
        <div>
          <label>border radius</label>
          <input id="property_border_radius" type="text" data-type="cssvalue" data-property="borderRadius" value="" />
          <a href='#remove_border'>Remove Border</a>
        </div> 
        <div>
          <label for="property_overflow">Overflow</label>
          <input name="property_overflow" id="property_overflow_hidden" type="radio" data-property="overflow" value="hidden" />
          <span class="label" for="property_overflow_hidden">clip</span>          
          <input name="property_overflow" id="property_overflow_auto" type="radio" data-property="overflow" value="auto" />
          <span class="label" for="property_overflow_hidden">scroll</span>          
          <input name="property_overflow" id="property_overflow_visible" type="radio" data-property="overflow" value="visible" />
          <span class="label" for="property_overflow_hidden">show</span>
        </div> 
        <div>
          <label>opacity</label>
          <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" data-property="opacity" value="1.00" /><span class="readout" id="property_opacity_readout">ui</span>
        </div> 
        <div class='entry'>
          <a href='#remove_font'>Remove font</a>
        </div>

        <div>
          <input id="property-fit-to-screen" type="button" value="Fit to webdoc" />
        </div>                                                                                                
      </div>
    </form>
  </div>
</div>