<div id="widget-inspector" class="inspector layer">
  <header>
    <h3>App</h3>
  </header>
  
  <div class="content">
    <form class="content">
      <iframe style="width: 100%; height: 400px;"></iframe>      
      <div id="widget_properties">
        <label>left</label>
        <input id="property_left" type="text" data-type="cssvalue" data-property="left" value="" />
        <label>top</label>
        <input id="property_top" type="text" data-type="cssvalue" data-property="top" value="" />
        <label>width</label>
        <input id="property_width" type="text" data-type="cssvalue" data-property="width" value="" />
        <label>height</label>
        <input id="property_height" type="text" data-type="cssvalue" data-property="height" value="" />
        <label>opacity</label>
        <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" data-property="opacity" value="1.00" /><span class="readout" id="property_opacity_readout">ui</span>
        <input id="property-fit-to-screen" type="button" value="Fit to webdoc" />
      </div>
    </form>
    <div class="loading_icon layer"></div>
  </div>
</div>  