<div id="widget-inspector" class="item_inspector">
  <header>
    <h3>App</h3>
  </header>
  <form class="content">
    <div style="overflow:hidden; width:300px; height:400px">
      <iframe class="layer"></iframe>
      <div class="loading_icon layer"></div>
    </div>
    <hr class="separator"/>
    <div id="widget_properties" class="section">
      <div>
        <label>
          left
          <input id="property_left" type="text" data-type="cssvalue" data-property="left" value="" />
        </label>
      </div>
      <div>
        <label>
          top
          <input id="property_top" type="text" data-type="cssvalue" data-property="top" value="" />
        </label>
      </div>
      <div>
        <label>
          width
          <input id="property_width" type="text" data-type="cssvalue" data-property="width" value="" />
        </label>
      </div>
      <div>
        <label>
          height
          <input id="property_height" type="text" data-type="cssvalue" data-property="height" value="" />
        </label>
      </div>
      <div>
        <label>
          opacity
          <input id="property_opacity" type="range" min="0.00" max="1.00" step="0.01" data-property="opacity" value="1.00" /><span class="readout" id="property_opacity_readout">ui</span>
        </label>
      </div>
      <div>
        <label>
          <input id="property-fit-to-screen" type="button" value="Fit to webdoc" />
        </label>
      </div>
    </div>
  </form>
</div>  