#widget-inspector.inspector
  %div.head
    %div
      %div.inspector-title App Inspector
    
  
  %div.content{ :style => 'overflow:hidden'}
    #inspector-loading-wheel.layer.center{ :style => 'display:none'}
      .center-cell
        .center-box
          %center
            %img{ :src => '/images/icons/waiting_wheel.gif'}
    %iframe{ :style => 'width:100%; height:100%'}  