#widget-inspector.inspector
  %div.head
    %div
      %div.inspector-title App Inspector
  
  %div.foot
    
  
  %div.content{ :style => 'overflow:hidden'}
    %iframe{ :style => 'width:100%; height:100%'}  