.jmb-tree-creator-body{
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 20px auto;
	max-width: 650px;
}
.jmb-tree-creator-body fieldset{
	margin-top: 10px;
	padding: 5px;
}
.jmb-tree-creator-body legend{
	font-weight: bold;
}
.jmb-tree-creator-body .button{
	background: none repeat scroll 0 0 #F1E4B0;
	border: 2px solid #999999;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin-left: 65px;
	width: 170px;
}
.jmb-tree-creator-body .button:hover{
	background: #b5ab83;
}
.jmb-tree-creator-body .upload{}
.jmb-tree-creator-body .upload .form{}
.jmb-tree-creator-body .upload .result{}
