#JMBInvitateContainer{
    font-family: Tahoma;
    font-size: 12px;
}

.ftt-invite-footer {
    margin: 0 auto;
    max-width: 760px;
}
/**
*  -----------------------------------------------
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ftt-invitate-header {
    background: none repeat scroll 0 0 #FFFFD2;
    border-bottom: 1px solid #FFA46A;
}
.ftt-invitate-header-body {
    max-width:760px;
    margin: 0 auto;
}
.ftt-invitate-hello {
    padding-top: 20px;
}
.ftt-invitate-message {
    margin-top: 10px;
}
.ftt-invitate-buttons {
    margin: 20px auto;
    width: 350px;
}
.ftt-invitate-button {
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
.ftt-invitate-button.accept {
    background: #22b14c;
}
.ftt-invitate-button.deny {
    background: #ed1c24;
}
.ftt-invitate-content {
    margin: 10px auto;
    max-width: 760px;
    min-height: 400px;
    position: relative;
}
.ftt-invitate-footer {
    background: none repeat scroll 0 0 #FFFFD2;
    border-bottom: 1px solid #FFA46A;
    border-top: 1px solid #FFA46A;
}
.ftt-invitate-footer-body {
    margin: 0 auto;
    max-width: 760px;
    padding: 20px;
}
/**
*  -----------------------------------------------
*/
.ftt-invite-sircar {
    height: 260px;
    width:155px;
    position: absolute;
}
.ftt-invite-event {
    position:absolute;
    height:30px;
    width:120px;
}
.ftt-invite-spouse {
    height: 260px;
    width:120px;
    margin-left: 38px;
    position: absolute;
}
.ftt-invite-spouse-div{
    margin-bottom: 7px;
    margin-left: 30px;
}
.ftt-invite-spouse-container {
    border: 1px solid #F5FAE6;
    max-height: 375px;
    position:absolute;
    width:175px;
}
.ftt-invite-parent-img {
    background: white;
    border: 2px solid #000000;
    height: 120px;
    position: relative;
    width: 108px;
}
.ftt-invite-parent-name {
    font-family: Tahoma;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 112px;
}
.ftt-invite-parent-date {
    font-family: Tahoma;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 112px;
}
.ftt-invite-child {
    position: absolute;
}
.ftt-invite-child-img {
    background: white;
    border:2px solid #000;
    border: 2px solid #000000;
    position: relative;
}
.ftt-invite-child-name {
    font-family: Tahoma;
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    margin-top: 5px;
}
.ftt-invite-child-date {
    font-family: Tahoma;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    text-align: center;
}
.ftt-invite-arrow-left {
    background:#000000;
    height: 1px;
    left: 112px;
    position: absolute;
    top: 120px;
    width: 38px;
}
.ftt-invite-arrow-right {
     background:#000000;
     height: 1px;
     left: -36px;
     position: absolute;
     top: 120px;
     width: 38px;
}
.ftt-invite-arrow-up {
    background:#000000;
    height: 28px;
    left: 39px;
    position: absolute;
    top: -26px;
    width: 1px;
}