#JMBInvitateContainer{
    font-family: Tahoma;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ftt-invitate-header {
    background: none repeat scroll 0 0 #FFFFD2;
    border-bottom: 1px solid #FFA46A;
}
.ftt-invitate-header-body {
    max-width:760px;
    margin: 0 auto;
}
.ftt-invitate-hello {
    padding-top: 20px;
}
.ftt-invitate-message {
    margin-top: 10px;
}
.ftt-invitate-buttons {
    margin: 20px auto;
    width: 350px;
}
.ftt-invitate-button {
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
.ftt-invitate-button.accept {
    background: #22b14c;
}
.ftt-invitate-button.deny {
    background: #ed1c24;
}
.ftt-invitate-content {
    margin: 10px;
}
.ftt-invitate-footer {
    background: none repeat scroll 0 0 #FFFFD2;
    border-bottom: 1px solid #FFA46A;
    border-top: 1px solid #FFA46A;
}
.ftt-invitate-footer-body {
    margin: 0 auto;
    max-width: 760px;
    padding: 20px;
}

