.jmb-home-container {
	position: relative;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 21px;
    	font-weight: normal;
    	position: relative;
}
.jmb-home-container .jmb-home-logo {
	background: url("../imgs/jmbhomelogo.jpg") no-repeat scroll 0 0 transparent;
	height: 668px;
	width: 521px;
}
.jmb-home-container .jmb-home-body{
	position: absolute;
	right: 30px;
	top: 90px;
}
.jmb-home-container .jmb-home-body .title{}
.jmb-home-container .jmb-home-body div.button{
	border-radius: 5px 5px 5px 5px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}
.jmb-home-container .jmb-home-body div#connect.button{
	background: #5c8e40;
}
.jmb-home-container .jmb-home-body div#view.button{
	background: #a96946;
}







