#JMBHomeContainer {
	position: relative;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 21px;
    font-weight: normal;
    position: relative;
    text-align: center;
}
#JMBHomeContainer .jmb-home-logo {
    background: url("../imgs/jmbhomelogo.jpg") no-repeat scroll 0 0 transparent;
    height: 494px;
    width: 456px;
}
#JMBHomeContainer .jmb-home-body{
    margin-top: 100px;
}
#JMBHomeContainer .jmb-home-body .title{
    color: #517b3e;
    font-size: 24px;
    font-weight: bold;
}
#JMBHomeContainer .jmb-home-body div.button{
	border-radius: 5px 5px 5px 5px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}
#JMBHomeContainer .jmb-home-body div#connect.button{
    background: none repeat scroll 0 0 #7092be;
    margin-top: 30px;
    text-align: center;
}
#JMBHomeContainer .jmb-home-body div#connect.button:hover{
    background: #86aad9;
}
#JMBHomeContainer .jmb-home-body div#view.button{
	background: #a96946;
    text-align: center;
}
#JMBHomeContainer .jmb-home-body div#view.button:hover{
    background: #d89775;
}
#JMBHomeContainer .jmb-home-body div#ipad{
    background: url("../imgs/ipad.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    margin: 40px auto 0;
    width: 101px;
}




