#locations_list_content{
    border: 1px solid black;
  
}
#locations_table{
    margin: 5px;
    border-collapse:collapse;
}
#locations_table th{
    border:1px solid black;
    background-color: lightgray;
    font-size:1.3em;
    text-decoration: underline;
}
#locations_table td{
    border:1px solid black;
}
