.tab_content.famous_family #JMBRecentVisitorsContainer{
    border-color: #f0e2d9;
}
.tab_content.famous_family .jmb-rv-header{
    border-color: #f0e2d9;
    background-color: #ecdace;
}
.tab_content.famous_family .line-without-border {
    border:2px solid white;
}
.tab_content.myfamily #JMBRecentVisitorsContainer{
    border-color: #d1daec;
}
.tab_content.myfamily .jmb-rv-header{
    border-color: #d1daec;
    background-color: #cfd8eb;
}
.tab_content.myfamily .line-without-border {
    border:2px solid white;
}

#JMBRecentVisitorsContainer {
	font-family: Tahoma,sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 10px 10px 20px;
	position: relative;
}
.jmb-rv-header {
	background: none repeat scroll 0 0 #DEEDAA;
	border: 1px solid #D1DAEC;
	height: 22px;
	padding: 5px;
}
.jmb-rv-header span {
	font-size: 13px;
	font-weight: bold;
	left: 35%;
	position: absolute;
	top: 8px;
}
.jmb-rv-content {
	background: none repeat scroll 0 0 white;
	border: 1px solid #D1DAEC;
    	margin-top: -1px;
}
.jmb-rv-content .line-without-border.father {
    border:2px solid #FFB76F;
}
.jmb-rv-content .line-without-border.mother {
    border:2px solid #F4FF28;
}
.jmb-rv-content ul {
	margin: 10px;
}
.jmb-rv-content ul li{
	display: inline-block;
	margin-left: 1px;
}
.jmb-rv-content ul li div.avatar{
	cursor: pointer;
	height: 32px;
	width: 32px;
}
.jmb-rv-button {
	color: blue;
	cursor: pointer;
    	position: absolute;
    	right: 0;
}
