/* ============================================================== */
/* ============================ */
/* = jQTouch-simplified style = */
/* ============================ */

#libraries {
  -webkit-transform-style: preserve-3d; /*important for proper slide in (back) animation on webkit!*/
  position: relative;
  width:350px;
  height:100%;
  overflow-x: hidden;
  font-family: Helvetica;
  line-height:1;
  background:#eee;
}

#libraries > .view {
  -webkit-backface-visibility: hidden; /*important for proper slide down animation on webkit!*/
  display:none;
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  background:#eee;
}
#libraries > .current {
  display: block !important;
}

.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
}

.slide.in {
  -webkit-animation-name: slideinfromright;
}

.slide.out {
  -webkit-animation-name: slideouttoleft;
}

.slide.in.reverse {
  -webkit-animation-name: slideinfromleft;
}

.slide.out.reverse {
  -webkit-animation-name: slideouttoright;
}

@-webkit-keyframes slideinfromright {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(100%); }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade.in {
  z-index: 10;
  -webkit-animation-name: fadein;
}
.fade.out {
  z-index: 0;
}

.dissolve.in {
  -webkit-animation-name: fadein;
}

.dissolve.out {
  -webkit-animation-name: fadeout;
}

.flip {
  -webkit-animation-duration: .65s;
}

.flip.in {
  -webkit-animation-name: flipinfromleft;
}

.flip.out {
  -webkit-animation-name: flipouttoleft;
}

/* Shake it all about */

.flip.in.reverse {
  -webkit-animation-name: flipinfromright;
}

.flip.out.reverse {
  -webkit-animation-name: flipouttoright;
}

@-webkit-keyframes flipinfromright {
  from { -webkit-transform: rotateY(-180deg) scale(.8); }
  to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipinfromleft {
  from { -webkit-transform: rotateY(180deg) scale(.8); }
  to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipouttoleft {
  from { -webkit-transform: rotateY(0) scale(1); }
  to { -webkit-transform: rotateY(-180deg) scale(.8); }
}

@-webkit-keyframes flipouttoright {
  from { -webkit-transform: rotateY(0) scale(1); }
  to { -webkit-transform: rotateY(180deg) scale(.8); }
}

.slideup.in {
  -webkit-animation-name: slideup;
  z-index: 10;
}

.slideup.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}

.slideup.out.reverse {
  z-index: 10;
  -webkit-animation-name: slidedown;
}

.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

@-webkit-keyframes slideup {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slidedown {
  from { -webkit-transform: translateY(0); }
  to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes dontmove {
  from { opacity: 1; }
  to { opacity: 1; }
}

/* ============================================================== */

/* =========== */
/* = Toolbar = */
/* =========== */
.toolbar {
  border-bottom: 1px solid #bbb;
  padding: 10px;
  height: 17px;
  background: #ccc;
  position: relative;
}
.toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 10px;
  line-height: 1em;
  margin: 1px 0 0 -75px;
  height: 40px;
  font-size: 18px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.button, .back, /*.cancel,*/ .add {
  background:#555;
  position: absolute;
  overflow: hidden;
  top: 8px;
  right: 10px;
  margin: 0;
  border-width: 0 5px;
  padding:2px 7px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  cursor:pointer;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

.button:hover, .back:hover, .cancel:hover, .add:hover {color:#fff;background:#333;}

.back {
  right: auto;
/*  padding: 0;*/
  max-width: 55px;
  border-width: 0 8px 0 14px;
}
.back.active {
  color: #aaa;
}
.leftButton, .cancel {
  left: 6px;
  right: auto;
}
.add {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

/* =========== */
/* = Loading = */
/* =========== */
.loading {
  background: #efefef;
  text-align: center;
  color: #444;
  padding: 15px;
  font-weight: bold;
}

/* ============== */
/* = Individual = */
/* ============== */
ul.individual {
  margin: 10px 0 10px 10px;
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
  padding-bottom: 3px;
  width:340px;
  list-style-type:none;
}

ul.individual li {
  font-size: 14px;
  text-align: center;
}

ul.individual li a {
  color: #fff;
  background:#555;
  line-height: 16px;
  width: 75px;
  float: left;
  display: block;
  margin:6px 10px 10px 6px;
  padding: 60px 10px 14px 10px;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

ul.individual li.images a {background:#555 url(/images/libraries/images_icon.png) no-repeat 50% 18px;}
ul.individual li.videos a {background:#555 url(/images/libraries/videos_icon.png) no-repeat 50% 16px;}
ul.individual li.apps a {background:#555 url(/images/libraries/apps_icon.png) no-repeat 50% 20px;}

ul.individual li a:hover {
  background-color:#333;  
}

/* ======== */
/* = Tabs = */
/* ======== */

ul.tab_navigation {
  list-style:none;
  margin:15px 0 0 10px;
  padding:0;
  font-size:13px;
}

ul.tab_navigation li {
  display:inline;
}

ul.tab_navigation li a {
  padding:5px 15px;
  background-color: #555;
  color:#fff;
  text-decoration: none;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  -moz-border-radius:4px 4px 0 0;
}

ul.tab_navigation li.selected a {
  background-color:#ccc;
  color:#111;
}
ul.tab_navigation li.selected a:hover {
  background-color:#ccc;
}
ul.tab_navigation li a:hover {
  background-color:#333;
}

ul.tab_navigation li a:focus {
  outline:0;
}

div.tabs > div {
  margin:0 10px;
/*  padding:15px 15px;*/
  padding:15px 15px 10px 15px;
  margin-top:5px;
  background:#ccc;
  color:#111;
}

/* ============================= */
/* = Media (Images and Videos) = */
/* ============================= */
#libraries .web_media label {
  display:block;
  padding:0 0 3px;
}

#libraries .web_media_search_field {
  font-size:18px;
  padding:2px;
  width:249px;
  margin:0 0 20px;
  float:left;
}

#libraries .web_media_search_submit {
  width:28px;
  height:28px;
  display:block;
  float:left;
  background:#fff;
  border: 1px solid #999;
  background:#fff url(/images/libraries/search.png) no-repeat 50% 50%;
  padding:17px;
  position:relative;
  top:-4px;
  text-indent:-9999px;
  cursor:pointer;
  -webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

#libraries .web_media_search_submit:hover {
  background:#eee url(/images/libraries/search.png) no-repeat 50% 50%;
  border: 1px solid #666;
}

#libraries .web_media h3.service_bar {
  display:block;
  font-size:15px;
  font-weight:bold;
  background:#555;
  color:#fff;
  padding:5px 7px 2px;
  margin:10px 0;
  line-height:18px;
  position:relative;
}

#libraries .web_media h3.service_bar span.results_number {
  position:absolute;
  top:4px;
  right:7px;
  font-size:12px;
  font-weight:normal;
}

#libraries .web_media h3.service_bar .cc_selector {
  -moz-appearance:none;
  -webkit-appearance:none;
  outline:0;
  border:none;
  text-indent:-9000px;
  display:block;
  width:30px;
  height:12px;
  position:absolute;
  top:1px;
  left:58px;
  background:url(/images/libraries/cc.png) no-repeat;
}

#libraries .web_media h3.service_bar .cc_selector option {
  padding: 1px 3px;
  background: #fff;
}

#media_drag_feedback {
 padding:6px 8px 10px;
}

#media_drag_feedback.video { width:120px; height:90px; }
#media_drag_feedback.image { width:120px; height:120px; }
#media_drag_feedback.app { width:120px; height:120px; }

#media_drag_feedback img {
 -webkit-box-shadow:0 2px 8px #000;
 -moz-box-shadow:0 2px 8px #000;
}

#media_drag_feedback.video img { width:120px; height:90px; }
#media_drag_feedback.image img { width:120px; height:120px; }
#media_drag_feedback.app img { width:120px; height:120px; }

#media_drag_feedback span {
  display:block;
  position:absolute;
  top:6px;
  left:8px;
}
#media_drag_feedback.video span {
  width:120px;
  height:90px;
  background:transparent url(/images/libraries/drag_video.png) no-repeat;
}

#media_drag_feedback.image span {
  width:120px;
  height:120px;
  background:transparent url(/images/libraries/drag_image.png) no-repeat;
}

#media_drag_feedback.app span {
  width:120px;
  height:120px;
  background:transparent url(/images/libraries/drag_app.png) no-repeat;
}


/* ========================================== */
/* = Media (Images and Videos) Details View = */
/* ========================================== */

#libraries .details_view .loading {
  margin:20px;
}


#libraries .details_view .actions {
  list-style-type:none;
  text-align:center;
  padding:20px 10px;
  font-size:14px;
  line-height:22px;
}

#libraries .details_view .actions li {
  display:inline;
}

#libraries .details_view .actions li a.disabled, #libraries .details_view .actions li a.disabled:hover {
  color:#a6caea;
  text-decoration:underline;
}

#libraries .details_view .actions li:before {
  content:"|";
}

#libraries .details_view .actions li:first-child:before {
  content:"";
}


/* ========== */
/* = Images = */
/* ========== */

#images .thumbnails .no_items {
  font-size:14px;
  text-align:center;
  display:block;
  padding:30px 10px;
}

#images .thumbnails ul {
  list-style-type:none;
  padding:0;
}

#images .thumbnails ul li {
  list-style: none;
  width:33%;
  padding:0 0 18px 0;
  float:left;
  text-align:left;
}

#images .thumbnails ul li:nth-child(3n+2) {text-align:center;}
#images .thumbnails ul li:nth-child(3n+3) {text-align:right;}

#images .thumbnails ul li a {
  text-decoration:none;
  position:relative;
}

#images .thumbnails ul li img {
  width:75px;
  height:75px;
  border:#fff 3px solid;
}

#images .thumbnails ul li a .icon_overlay {
  display:block;
  width:16px;
  height:16px;
  position:absolute;
  bottom:8px;
  right:6px;
}

#images .thumbnails ul li.flickr a .icon_overlay {background:url(/images/libraries/flickr_mini.png) no-repeat;}
#images .thumbnails ul li.google a .icon_overlay {background:url(/images/libraries/google_mini.png) no-repeat;}

/* ======================================== */
/* = Media (Images and Videos) pagination = */
/* ======================================== */

#libraries .load_more a {
  display:block;
  width:100px;
  height:28px;
  margin:0 auto;
  text-align:center;
  font-size:14px;
}

#libraries .loading {
  background:none;
  color:#666;
  border: 1px dashed #999;
  font-weight:normal;
  font-style:italic;
  margin-bottom:20px;  
  display:block;
  padding:8px;
  font-size:16px;
  text-align:center;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

#libraries .load_more, .loading {
  clear:both;
}

#libraries .pagination {
  height:28px;
}

#libraries .pagination a.previous_page {
  float:left;
  position:static;
}

#libraries .pagination a.next_page {
  float:right;
  position:static;
}

#libraries .spacer {
  clear:both;
  display:block;
}

/* ================= */
/* = Image Details = */
/* ================= */

#image_details .image_name {
  font-size:15px;
  font-weight:bold;
  padding:6px;
  text-align:center;
  color:#666;
}

#image_details .image_size {
  text-align:center;
  color:#999;
}

#image_details .single_image {
  overflow:hidden;
  text-align:center;
/*  width:350px;*/
  padding:20px 0;
}

#image_details .single_image a {
  position:relative;
}

#image_details .single_image img {
  border:none;
  max-width:300px;
  max-height:300px;
}

#image_details .icon_overlay {
  position:absolute;
  right:10px;
  bottom:10px;
  width:32px;
  height:32px;
}

#image_details.flickr .icon_overlay {background:url(/images/libraries/flickr.png) no-repeat;}
#image_details.google .icon_overlay {background:url(/images/libraries/google.png) no-repeat;}


/* ========== */
/* = Upload = */
/* ========== */

.libraries_wrap {
  position:relative;
}

#swfupload_container {
  position:absolute;
  top:69px;
  left:31px;
  z-index:1;
}

#upload_control {
  margin:20px 20px 0 20px;
  padding:10px;
  background:#fff;
  border: 1px solid #ccc;
  text-align:center;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

#upload_images_button_background {
  display:block;
  position:static;
  text-align:center;
  padding:10px;
  margin:0;
  font-size:16px;
}

#upload_images_spinner {
  width:66px;
  height:66px;
  background:transparent url(/images/libraries/upload_spinner.gif) no-repeat;
  margin:20px auto 2px;
}

#cancel_images_upload {
  position:relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:200;
  text-align:center;
  border:none;
  display:block;
  height:40px;
  padding:2px 4px;
  width:100%;
  padding:10px;
  font-size:16px;
}

#upload_control .uploading_info {
  display:block;
  padding:15px 0 0;
  font-size:14px;
  color:#777;
  font-style:italic;
}

object:hover, object:focus, object:active {
  border:none;
  outline:0;
  cursor:pointer;
}


/* ========== */
/* = Videos = */
/* ========== */

#videos .load_more {
  margin-top:10px;
}

#videos .rows .no_items {
  font-size:14px;
  text-align:center;
  display:block;
  padding:30px 10px;
}

#videos .rows ul {
  list-style-type:none;
  padding:0;
}

#videos .rows ul li {
  list-style: none;
  padding:0 0 7px 0;
  text-align:left;
  clear:both;
}

#videos .rows ul li a {
  color:#000;
  text-decoration:none;
  background:#fff;
  display:block;
  padding:8px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

#videos .rows ul li a span.wrap {
  display:block;
  float:left;
  width:120px;
  height:72px;
  position:relative;
  margin:0 8px 0 0;
  overflow:hidden;
  background:#000;
}

#videos .rows ul li a span.wrap img {
  position:absolute;
  top:50%;
  width:120px;
  height:90px;
  margin-top:-45px;
}

#videos .rows ul li a .title {
  font-weight:bold;
  display:block;
  font-size:12px;
  line-height:16px;
  padding:0 0 5px;
}

#videos .rows ul li a span.duration {
  display:block;
  padding:0 0 7px;
  font-weight:bold;
  font-size:11px;
  color:#999;
}

#videos .rows ul li a span.view_count {
  font-size:11px;
  color:#999;
}

#videos .rows ul li a .icon_overlay, #videos .rows ul li a .hd_icon_overlay {
  display:block;
  width:16px;
  height:16px;
  position:absolute;
  bottom:8px;
  right:8px;
}

#videos .rows ul li a .hd_icon_overlay {
  background:url(/images/libraries/hd.png) no-repeat;
  top:8px;
  bottom:auto;
  width:26px;
  height:16px;
}

#videos .rows ul li.youtube a .icon_overlay {background:url(/images/libraries/youtube_mini.png) no-repeat;}
#videos .rows ul li.vimeo a .icon_overlay {background:url(/images/libraries/vimeo_mini.png) no-repeat;}

/* ========== */
/* = Apps = */
/* ========== */


#apps .rows .no_items {
  font-size:14px;
  text-align:center;
  display:block;
  padding:30px 10px;
}

#apps .rows ul {
  list-style-type:none;
  padding:0;
}

#apps .rows ul li {
  list-style: none;
  padding:0 0 7px 0;
  text-align:left;
  clear:both;
}

#apps .rows ul li a {
  color:#000;
  text-decoration:none;
  background:#fff;
  display:block;
  padding:8px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

#apps .rows ul li a span.wrap {
  display:block;
  float:left;
  width:75px;
  height:75px;
  position:relative;
  margin:0 8px 0 0;
  overflow:hidden;
}

#apps .rows ul li a span.wrap img {
  position:absolute;
  top:50%;
  width:75px;
  height:75px;
  margin-top:-38px;
}

#apps .rows ul li a .title {
  font-weight:bold;
  display:block;
  font-size:12px;
  line-height:16px;
  padding:0 0 5px;
}

#apps .rows ul li a p.description {
  font-size:11px;
  color:#999;
}

#apps .rows ul li a span.version {
  font-size:11px;
  color:#999;
  font-style: italic;
}


/* ================= */
/* = Video Details = */
/* ================= */

#video_details .single_video {
  padding:0 15px 30px 15px;
  margin:0 0 15px;
  position:relative;
  line-height:0;
}

#video_details .single_video .drag_handle {
  width:290px;
  height:15px;
  padding:15px 0 0 30px;
  background:transparent url(/images/libraries/drag_handle.png) 5px 50% no-repeat;
  cursor:move;
  font-weight:bold;
  font-size:13px;
  color:#999;
  bottom:0;
  left:15px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius:0 0 8px 8px;
  -webkit-user-select:none;
}

#video_details .video_name {
  font-size:17px;
  font-weight:bold;
  padding:20px 15px 10px 15px;
  color:#000;
}

#video_details .view_count {
  padding:0 15px;
  font-size:14px;
  font-weight:bold;
  color:#666;
}

#video_details .video_description {
  padding: 8px 15px;
  font-size:12px;
  line-height:22px;
  color:#666;
}

/* ================= */
/* = App Details = */
/* ================= */

#app_details .single_app {
  padding:0 15px 5px 15px;
  margin:0 0 15px;
  position:relative;
  line-height:0;
}

#app_details .single_app .drag_handle {
  width:290px;
  height:15px;
  padding:15px 0 0 30px;
  background:transparent url(/images/libraries/drag_handle.png) 5px 50% no-repeat;
  cursor:move;
  font-weight:bold;
  font-size:13px;
  color:#999;
  bottom:0;
  left:15px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius:0 0 8px 8px;
  -webkit-user-select:none;
}

#app_details .app_title {
  font-size:17px;
  font-weight:bold;
  padding:20px 15px 10px 15px;
  color:#000;
}

#app_details .app_version {
  padding:0 15px;
  font-size:14px;
  font-weight:bold;
  color:#666;
}

#app_details .app_description {
  padding: 8px 15px;
  font-size:12px;
  line-height:22px;
  color:#666;
}


/* ======== */
/* = Apps = */
/* ======== */

#apps_library_wrap {
    padding: 8px 0 0 8px;
}
