.item_thumb {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.item_wrap {
  position:absolute;
  overflow:visible;
  right: -100px;
  top: 0px;
  width: 100px;
  height: 100px;    
}

.image_item img {
  position: absolute;
}

.webdoc code,
.webdoc .code {
  padding: 0.2em 0.3333em;
  background: hsla(208, 8%, 25%, 0.75);
  -webkit-border-radius: 0.3333em;
  -moz-border-radius:    0.3333em;
  border-radius:         0.3333em;
}

.webdoc li, dd    { 
  margin-left:0.625em;
}

.webdoc span,font {
  word-spacing: normal;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding, content;
  -moz-background-size:cover;
}

.webdoc pre.code {
  padding: 0.4165em;
  overflow: auto;
}

#webdoc .item-layer {
    opacity:0;
    z-index: 2;
    cursor: move;
}
.mode-edit .item-layer {
    display: block;
}

#webdoc .item-placeholder input {
  pointer-events: visible;
}

#webdoc .item-placeholder {
  position: relative;
  margin: 0.8333em;
  color: white;
  padding: 0.4em 0.6em 0.4em 36px;
  font-size: 14px;
  background: hsla(208, 8%, 25%, 0.4);
  border-color: hsla(208, 6%, 47.2%, 1);
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 0.6em;
  -moz-border-radius:    0.6em;
  border-radius:         0.6em;
  z-index: 3;
  pointer-events: none;
}
/*#webdoc .item-placeholder input{
  pointer-events: visible;
}*/
#webdoc .item-icon {
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url('/images/edit-tools.png')
}
#webdoc .item-placeholder .item-icon {
  position: absolute;
  top: 0; left: 0.4em;
}
#webdoc .item-widget .item-icon  {
  top: 1px;
  background-position: -3px -771px;
}
#webdoc .item-text .item-icon  {
  background-position: -3px -515px;
}
#webdoc .item-iframe .item-icon  {
  top: 0.4em;
  background-position: -3px -2755px;
}
#webdoc .item-os-gadget .item-icon {
  background-position: -3px -2944px;
}
#webdoc .item-placeholder label  {
  font-weight: normal;
}

.webdoc.loading {
  display: block;
  opacity: 1 !important;
  background-image: url('/images/loading-icon-16.gif');  
  background-position: center;
  background-repeat: no-repeat;
}

.item_wrap.loading .item-layer {
  display: block;
  opacity: 1 !important;
  border-width: 1px;
  border-style: dashed;
  background-image: url('/images/loading-icon-16.gif');
  background-position: center;
  background-repeat: no-repeat;  
}

.mode-preview #webdoc .item-placeholder {
  display: none;
}

/* shinding gadget */
.gadgets-gadget-title-bar {
  display:none;
}

.gadgets-gadget-content {
  width:100%;
  height:100%;
}

.gadgets-gadget {
  width:100%;
  height:100%;
  margin-bottom:-8px;
}
