/* style.datastore.css
 *
 * Styles for datastores list page
 *
 */

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 10px;
}
div.ds-document {
	border: solid 1px #9F9F9F;
	margin: 15px 10px 0 10px;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	background-color: #C8C8C8;
}
div.ds-app {
	margin: 0px 10px 0 30px;
	font-weight: bold;
	padding: 5px;
	background-color: #DFDFDF;
}
div.ds-record {
	margin: 0px 10px 0 50px;
	padding: 5px;
}
div.ds-document a, div.ds-app a {
	color: black;
	text-decoration: none;
}
div.ds-document a:hover, div.ds-app a:hover {
	text-decoration: underline;
}
div.ds-record-odd {
	background-color: #EFEFC2;
}
div.ds-record table {
	width: 100%;
}
div.ds-record th {
	font-weight: bold;
}
td.ds-td-key, th.ds-td-key {
	width: 200px;
}
td.ds-td-value, th.ds-td-value {
	width
}
td.ds-td-updated, th.ds-td-updated {
	width: 150px;
}
a.ds-a-delete {
	background:url("../images/icons/delete_16.png") no-repeat scroll 0 0;
	float: left;
	height: 16px;
	width: 16px;
	outline:medium none;
}
a.ds-a-delete:hover {
	background:url("../images/icons/delete_16.png") no-repeat scroll -16px 0;
}