/* style.css
 * 
 *  Global, base styles
 */


/* Typography */

html {
    font-size:100.01%;
}
body{
    font-size: 75%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Clearfix */

.clear:after,
form div:after {
    content: "\0020";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
    overflow:hidden;
}
.clear,
form div {
    display:block;
}

/* IE only */
/*.clearfix,
form div {display:inline-block;}

* html .clearfix,
* html form div {height:1%;}*/

