/* style.ui.css
 *
 */
 
/* jQuery UI overrides */

/* Pops */

element {-webkit-focus-ring-color: hsl(72, 100%, 50%);}

.ui-pop-position {
	width: 0;
	height: 0;
	position: fixed;
}
.ui-pop {
	position: absolute;
	display: block;
	background: black;
  border: 3px solid;
  margin: 0;
}
.ui-pop-loading {
  background-image: url('/images/loading-icon-16-greywhite.gif');
  background-color: hsla(208, 12%, 33%, 0.5);
  z-index: 3;
  -webkit-border-radius: 0.8333em;
  -moz-border-radius:    0.8333em;
  border-radius:         0.8333em;
}
.ui-pop .ui-actions {
  text-align: right;
}
.ui-pop .cancel:hover,
.ui-pop .cancel:focus {
  color: hsl(198, 8%, 98%);
  text-decoration: underline;
}
.ui-pop .cancel {
  margin-right: 0.6em;
  color: hsl(198, 8%, 88%);
  text-decoration: none;
}
.ui-pop-page-title {
	width: 12em;
}
.ui-pop label,
.ui-pop input[type='text'],
.ui-pop textarea {
  margin: 0 0 0 0;
  padding: 0.1659em 0.5em 0;
  
  -webkit-border-radius: 0.8333em;
  -moz-border-radius:    0.8333em;
  border-radius:         0.8333em;
}
.ui-pop textarea {

}
.ui-pop label.underlay {
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  font-weight: normal;
}

.ui-pop input {
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.06s ease-in;
  -moz-transition:    opacity 0.06s ease-in;
  transition:         opacity 0.06s ease-in;
}
.ui-pop input[type='text'].default {
  opacity: 0.6;
  -webkit-transition: opacity 0.66s ease-in;
  -moz-transition:    opacity 0.66s ease-in;
  transition:         opacity 0.66s ease-in;
}
.ui-pop h4,
.ui-pop>h5 {
  text-align: center;
  font-size: 1.3333em;
  height: 1.6667em;
  line-height: 1.6667;
  margin-bottom: 0;
  /*background-color: hsla(208, 20%, 16%, 0.8);
  -webkit-border-top-left-radius:   0.625em;
  -moz-border-radius-topleft:       0.625em;
  border-top-left-radius:           0.625em;
  -webkit-border-top-right-radius:  0.625em;
  -moz-border-radius-topright:      0.625em;
  border-top-right-radius:          0.625em;*/
}

.ui-pop select:focus {
    /* Declare solid before auto - FF doesn't get auto */
    /* outline: hsl(72, 100%, 50%) solid 2px; */

    /*border: 2px solid hsl( 72, 100%, 50% );
    padding: 0 0.8333em;*/
    /*-webkit-box-shadow: 0 0 8px hsl( 72, 100%, 50% );
    -moz-box-shadow:    0 0 8px hsl( 72, 100%, 50% );
    box-shadow:         0 0 8px hsl( 72, 100%, 50% );*/
}
.ui-pop select {
    /*background-color: hsl(208, 0.4%, 99%);*/
    /* Make non-system style select boxes in FF */
    border: 0;
    -webkit-border-radius: 0.8333em;
    -moz-border-radius:    0.8333em;
    border-radius:         0.8333em;
    
    /* padding doesn't change anything in Webkit, so use it to position the
       baseline in FF */
    padding: 0.1em 0.8333em;
}

/* Colors ------------------------------ */
.ui-pop {
    color: white;
    background-color: hsla(208, 20%, 20%, 0.92);
    border-color: hsla(208, 20%, 16%, 0.8);
    -webkit-border-radius: 1.0833em;
    -moz-border-radius:    1.0833em;
    border-radius:         1.0833em;
    -webkit-box-shadow: 0 4px 12px hsl(28, 20%, 25%);
    -moz-box-shadow:    0 4px 12px hsl(28, 20%, 25%);
    box-shadow:         0 4px 12px hsl(28, 20%, 25%);
}

.ui-pop fieldset {
    margin-bottom: 0.8333em;
}
.ui-pop fieldset:last-child {
    margin-bottom: 0;
}

.ui-pop .cover label,
.ui-pop input[type='text']    { color: black; }
.ui-pop label.underlay        { background-color: white; }

.ui-pop input[type='text']:focus,
.ui-pop textarea:focus,
.ui-pop:hover input[type='text'],
.ui-pop:hover textarea { background-color: hsl(208, 0.4%, 99%); color: black; }

.ui-pop p { padding: 0 0.5em; }