/* style.ui.css
 *
 */
 
/* jQuery UI overrides */

/* Pops */

.ui-pop-position {
	width: 0;
	height: 0;
	position: fixed;
}
.ui-pop {
	position: absolute;
	display: block;
	background: black;
  border: 3px solid;
  margin: 0;
}
.ui-pop .ui-actions {
  text-align: right;
}
.ui-pop .cancel:hover,
.ui-pop .cancel:focus {
  color: hsl(198, 8%, 98%);
  text-decoration: underline;
}
.ui-pop .cancel {
  margin-right: 0.6em;
  color: hsl(198, 8%, 88%);
  text-decoration: none;
}
.ui-pop-page-title {
	width: 12em;
}
.ui-pop label,
.ui-pop input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  height: 1.5em;
  margin: 0 0 0.6em 0;
  padding: 0.1659em 0.5em 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  width: 100%;
  
  -webkit-border-radius: 0.75em;
  -moz-border-radius:    0.75em;
  border-radius:         0.75em;
}
.ui-pop label.underlay {
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  font-weight: normal;
}

.ui-pop input {
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.06s ease-in;
  -moz-transition:    opacity 0.06s ease-in;
  transition:         opacity 0.06s ease-in;
}
.ui-pop input[type='text'].default {
  opacity: 0.6;
  -webkit-transition: opacity 0.66s ease-in;
  -moz-transition:    opacity 0.66s ease-in;
  transition:         opacity 0.66s ease-in;
}