/* Color theme
 * 
 * Colours only. Nothing that affects layout.
 */

body                          { background-color: hsl(194, 8%, 60%); }

/* The board */

#board                        { -webkit-box-shadow: 0 2px 8px hsl(14, 24%, 35%);
                                -moz-box-shadow:    0 2px 8px hsl(14, 24%, 35%); 
                                box-shadow:         0 2px 8px hsl(14, 24%, 35%); }

/* Panels */

.toolbar-panel                { background-color: hsl(194, 2%, 92%);
                                -webkit-box-shadow: 0 0 32px hsla(14, 24%, 35%, 0.6);
                                -moz-box-shadow:    0 0 32px hsla(14, 24%, 35%, 0.6);
                                box-shadow:         0 0 32px hsla(14, 24%, 35%, 0.6); }
.left-panel,
.right-panel                  { background-color: hsla(194, 12%, 30%, 0.6); }

/* Pops ------------------------------ */

.pop label,
.pop input[type='text']       { background-color: transparent; color: black; }
.pop.active                   { background-color: hsla(194, 20%, 20%, 0.92); border-color: hsla(194, 20%, 20%, 0.8);
                                -webkit-box-shadow: 0 0 12px hsl(14, 24%, 35%);
                                -moz-box-shadow:    0 0 12px hsl(14, 24%, 35%);
                                box-shadow:         0 0 12px hsl(14, 24%, 35%); }
.pop input[type='text']:focus { background-color: hsl(194, 0.4%, 99%); color: black; outline: none; }
.pop:hover input[type='text'],
.pop.active input[type='text'] {background-color: hsl(194, 1%, 96%); }

/* Inspectors ------------------------ */

/* Foot contents */
.inspector .foot > ul,
.inspector .foot > div        { background-color: hsl(194, 2%, 92%); }
.inspector form.content       { background-color: hsl(194, 3%, 88%); }


/* Page browser */
.pages li .title              { background-color: hsl(194, 9%, 71%); }
.pages li:hover .title        { background-color: hsl(194, 6%, 56%); }
.pages li.current .title      { background-color: hsl(194, 3%, 88%); }
.pages li .number             { background-color: hsl(194, 10%, 40%); color: white; }
.pages li:hover .number       { background-color: hsl(194, 12%, 24%); color: white; }
.pages li.current .number     { background-color: hsl(194, 12%, 24%); color: white; }

/* Forms */
.properties,
.code-editor                  { border-color: hsl(194, 10%, 40%); }
.properties legend,
.code-editor legend           { background-color: hsl(194, 10%, 40%); color: white; }
.properties input[type=text]  { border-color: #bbbbbb; }

/* Layers */

.screen                       { background-color: hsla(194, 12%, 30%, 0.6); }


/* Index */

.item_wrap      { border-color: rgba(76, 91, 76, 0.6); -webkit-border-radius: 2px;}
.item_selected  { -webkit-box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  -moz-box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  border-color: rgba(176, 227, 0, 0.8);
                /*border-color: rgba(197, 255, 0, 0.75);*/ }


/* The page browser */

.current        { background-color: #f4fbfd; }