/* style.editor.css
 *
 * Interface styles for editor
 *
 */

/* Window layout */

html, body {
    width: 100%; height: 100%;
}
body {
    overflow: hidden;
    position: absolute;
    
    /* push the scrollbars outside the window */
    padding: 0 15px 15px 0;
    margin: 0;
}

.panel-ghost {
    /* WebKit gives cells a 3px cellpadding when they have content.
       Set to display: none to get round it */
    display: none;
    overflow: hidden;
    width: 0;
}
#left-panel-ghost,
#right-panel-ghost {
    /* Width is animated with panel */
    width: 0;
    display: none;
}
.edit-mode #left-panel-ghost,
.edit-mode #right-panel-ghost {
    display: table-cell;
}

#board-container {
    z-index: 1;
}
.panel {
    z-index: 2;
}
/* Interface panels */

/* Compensate for height of toolbars */
#ribcage {
    padding-top: 56px;
}
.embed-mode #ribcage {
    padding-top: 32px;
}

.left-panel,
.right-panel {
    top: 58px;
}
.embed-mode .left-panel,
.embed-mode .right-panel {
    top: 34px;
}
.titlebar-panel {
    height: 25px;
    padding: 0 4px;
    overflow: hidden;
}

.toolbar-panel {
    top: 24px;
    height: 32px;
    padding: 0 4px;
}
.embed-mode .toolbar-panel {
    top: 0px;
}
.left-panel {
    width: 164px;
    margin-left: -164px;
}
.right-panel {
    width: 350px;
    left: 100%;
    margin-left: 0px;
}


/* Fonts - just a few to test for now */
/* Hey! @import doesn't work for @font-face ... what gives?  Use link tags in editor.haml */

/*@import url('/fonts/Aaargh-fontfacekit/stylesheet.css');
@import url('/fonts/Adler-fontfacekit/stylesheet.css');
@import url('/fonts/CalligraphyFLF-fontfacekit/stylesheet.css');
@import url('/fonts/Colaborate-fontfacekit/stylesheet.css');
@import url('/fonts/Creampuff-fontfacekit/stylesheet.css');
@import url('/fonts/Droid-Sans-fontfacekit/stylesheet.css');
@import url('/fonts/ElliotSix-fontfacekit/stylesheet.css');
@import url('/fonts/GoodDog-fontfacekit/stylesheet.css');
@import url('/fonts/Impact-Label-fontfacekit/stylesheet.css');
@import url('/fonts/Inconsolata-fontfacekit/stylesheet.css');
@import url('/fonts/JungleFever-fontfacekit/stylesheet.css');
@import url('/fonts/Komika-Title-fontfacekit/stylesheet.css');
@import url('/fonts/League-Gothic-fontfacekit/stylesheet.css');
@import url('/fonts/MicroFLF-fontfacekit/stylesheet.css');
@import url('/fonts/Mirisch-fontfacekit/stylesheet.css');
@import url('/fonts/MomsTypewriter-fontfacekit/stylesheet.css');
@import url('/fonts/MonospaceTypewriter-fontfacekit/stylesheet.css');
@import url('/fonts/Playtime-With-Hot-Toddies-fontfacekit/stylesheet.css');
@import url('/fonts/SF-Cartoonist-Hand-fontfacekit/stylesheet.css');
@import url('/fonts/Shardee-fontfacekit/stylesheet.css');
@import url('/fonts/Underwood-Champion-fontfacekit/stylesheet.css');*/

.font-Helvetica-Arial           { font-family: Helvetica, Arial, sans-serif; }
.font-Georgia                   { font-family: Georgia, serif; }
.font-TimesNewRoman             { font-family: 'Times New Roman', serif; }
.font-AndaleMono                { font-family: 'Andale Mono'; }
.font-Courier                   { font-family: 'Courier'; }
.font-CourierNew                { font-family: 'Courier New'; }
.font-Aaargh                    { font-family: 'AaarghNormal'; }
.font-Adler                     { font-family: 'AdlerRegular'; }
.font-CalligraphyFLF            { font-family: 'CalligraphyFLFRegular'; }
.font-Colaborate-Thin           { font-family: 'Colaborate-ThinRegular'; }
.font-Colaborate-Light          { font-family: 'ColaborateLightRegular'; }
.font-Colaborate-Regular        { font-family: 'Colaborate-RegularRegular'; }
.font-Colaborate-Medium         { font-family: 'Colaborate-MediumRegular'; }
.font-Colaborate-Bold           { font-family: 'Colaborate-BoldRegular'; }
.font-Creampuff                 { font-family: 'CreampuffRegular'; }
.font-Droid-Sans-Regular        { font-family: 'DroidSansRegular'; }
.font-Droid-Sans-Bold           { font-family: 'DroidSansBold'; }
.font-ElliotSix                 { font-family: 'ElliotSixRegular'; }
.font-GoodDog                   { font-family: 'GoodDogRegular'; }
.font-Impact-Label              { font-family: 'ImpactLabelRegular'; }
.font-Impact-Label-Reversed     { font-family: 'ImpactLabelReversedRegular'; }
.font-Inconsolata               { font-family: 'InconsolataMedium'; }
.font-JungleFever               { font-family: 'JungleFeverRegular'; }
.font-KomikaTitle-Regular       { font-family: 'KomikaTitleRegular'; }
.font-KomikaTitle-PaintRegular  { font-family: 'KomikaTitle-PaintRegular'; }
.font-KomikaTitle-WideRegular   { font-family: 'KomikaTitle-WideRegular'; }
.font-KomikaTitle-AxisRegular   { font-family: 'KomikaTitle-AxisRegular'; }
.font-KomikaTitle-KapsRegular   { font-family: 'KomikaTitle-KapsRegular'; }
.font-League-Gothic             { font-family: 'LeagueGothicRegular'; }
.font-Mirisch                   { font-family: 'MirischNormal'; }
.font-MomsTypewriter            { font-family: 'MomRegular'; }
.font-MonospaceTypewriter       { font-family: 'MonospaceTypewriterRegular'; }
.font-PWHTRegular               { font-family: 'PlaytimeWithHotToddiesRegular', Helvetica, Arial, sans-serif;}
.font-PWHTOblique               { font-family: 'PlaytimeWithHotToddiesObliqueRe', Helvetica, Arial, sans-serif;}
.font-PWHT3D                    { font-family: 'PlaytimeWithHotToddies3DRegular', Helvetica, Arial, sans-serif;}
.font-SFCartoonistHandRegular   { font-family: 'SFCartoonistHandRegular', Helvetica, Arial, sans-serif;}
.font-SFCartoonistHandItalic    { font-family: 'SFCartoonistHandItalic', Helvetica, Arial, sans-serif;}
.font-SFCartoonistHandBold      { font-family: 'SFCartoonistHandBold', Helvetica, Arial, sans-serif;}
.font-SFCartoonistHandBoldItalic{ font-family: 'SFCartoonistHandBoldItalic', Helvetica, Arial, sans-serif;}
.font-Shardee                   { font-family: 'ShardeeRegular'; }
.font-Underwood-Champion        { font-family: 'UnderwoodChampionRegular'; }


/*a { color: #3B9EEF; }
a{ outline: none;}
a:hover { color: #0069BF;}*/

.sec-action { color: #606060;}
.sec-action:hover { color: #000; }

.navigation li {
  float: left;
  list-style-type: none;
}

#ub-login-logout {
  float: right;
  margin-top: 5px;
}

#home {
  float: left;
}

#flash {
    position: relative;
    margin: 0 auto;
    padding: 2px;
    text-align: center ;
    width: 300px;
    background: #8CEF86;
}

/* ================= */
/* = Login page = */
/* ================= */
#login_page {
    position: relative;
    width:380px;
    margin: 50px auto 0 auto;
}
#login_box {
    position: relative;
    width: 350px;
    margin: 0 auto 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 5px solid #9F9F9F;
    padding: 10px;
    background: #efefef;
}
#login_box h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
#new_user_session div {
    clear: both;
    margin-bottom: 15px;
}
#new_user_session label {
    float: left;
    padding-top:6px;
}
#new_user_session input {
    float: right;
}
#remember_me {
    float: right;
}


/* ================= */
/* = Document list = */
/* ================= */
#wb-document-main{
    padding: 0 10px;
    min-width: 800px;
}
#wb-document-navigation,
#wb-document-list-container{
    float: left;
}
#wb-document-header{
    margin: 20px 0;
}
#wb-document-navigation{
    width: 150px;
}
#wb-document-navigation-title{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
#wb-document-navigation ul li{
    margin-bottom: 10px;
    list-style: none;
}
#wb-document-navigation ul li a{
    display: block;
    padding: 5px;
}
#wb-document-navigation ul li a.active{
	  display: block;
    padding: 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    background: #4d4d4d;
    text-decoration: none;
    color: #fff;
}
#wb-document-list-container{
    width: 600px;
		min-height: 150px;
    padding: 15px;
    border: 5px solid #4d4d4d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#wb-document-list{
}
#wb-document-list h3{
    margin-bottom: 10px;
    border-bottom: 2px solid #dfdfdf;
    color: #afafaf;
    font-style: italic;
}
.wb-document-item{
    clear: both;
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.wb-document-title{
    float:left;
    width: 75%;
}
.wb-document-title a{
    display: block;
    padding: 3px;
}
.wb-document-actions{
    float:right;
    width: 25%;
}
.wb-document-actions a{
    float: right;
    margin-left: 10px;
}
.wb-document-delete {
    background: #fff url(../images/icons/delete_16.png) no-repeat 0 -2px ;
    width: 16px;
    height: 16px;
}
.wb-document-delete:hover {
    background: #fff url(../images/icons/delete_16.png) no-repeat -16px -2px ;
}
.document_list {
  float: left;
  width:100%;
}

.document_list li {
  float: left;
  list-style-type: none;
  margin: 10px;
  text-align: right;
}

.page_list li {
  float: left;
  list-style-type: none;
  margin: 10px;
}

.ub-document-title {
  text-align: center ;
  font-weight: bold; 
  font-size: 14px;
  padding: 5px;
}

/* =================== */
/* = Document access = */
/* =================== */
#document_access-header {
  margin: 20px 0;  
}
#document_access_list{
    padding: 15px;
    border: 5px solid #4d4d4d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.user_access{
    clear: both;
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.user_email{
    float:left;
    width: 65%;
}
.user_role {
  float:right;
  position:relative;
  top:-4px;  
}
#document_access_list input {
  position:relative;
  top:-4px;
}
.access_actions{
    float:right;
    width: 35%;
}
.delete_access {
    background: #fff url(../images/icons/delete_16.png) no-repeat 0 -2px ;
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 10px;    
}
.delete_access:hover {
    background: #fff url(../images/icons/delete_16.png) no-repeat -16px -2px ;
}

/*******************/
/* = toolbars = */

#titlebar {
    overflow: visible;
}

#titlebar{
    height: 24px;
    background: url(../images/deco/tb_small_bg.png) 0 0 repeat-x;
}
#titlebar h1{
    float: left;
    height: 24px;
}

#tb_1_utilities {
    float: right;
    padding-top: 3px;
    list-style: none;
}
#tb_1_utilities li {
    float: left;
    margin-left: 15px;
    line-height: 1em;
}
#tb_1_utilities_preview{
  margin-top: 1px;
}
#tb_1_utilities_preview a{
    display: block;
    height: 13px;
    line-height: 13px;
    padding: 4px 5px 0 20px;
    margin-top: -1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    border: 1px solid #afafaf;
    text-transform: uppercase;
    color: #999999;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

#tb_1_utilities_preview a{
  background-image: url(../images/icons/edit_16.png);
}
.edit-mode #tb_1_utilities_preview a{
  background-image: url(../images/icons/eye.png);
}

#tb_1_utilities_preview a:hover{
    color: #4D4D4D;
}
#tb_1_utilities_preview a img{
    vertical-align:middle;
}
#tb_1_utilities_docname{
    padding-top: 5px;
}
#tb_1_utilities_docname span{
    color: #8F8F8F;
    margin-left: -2px;
}
#tb_1_utilities_docname #current_page{
    font-weight: bold;
}
#tb_1_utilities_docname h2{
    float: left;
}
#tb_1_utilities_docname #current_page{
    margin-left: 5px;
}
#tb_1_utilities_settings_trigger{
    display: block;
    height: 18px;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #4D4D4D;

}
#tb_1_utilities_settings_trigger.tb_1_utilities_settings_attention{
  background:#ee1111;
}
#tb_1_utilities_settings:hover > ul{
    display: block;
    z-index: 3000;
}
#tb_1_utilities_settings_trigger img{
    vertical-align: bottom;
}
#tb_1_utilities_settings_dropdown{
    display: none;
    list-style: none;
    z-index: 1000;
    position: absolute;
    top: 18px;
    right: 10px;
    -moz-border-radius: 5px 0 5px 5px;
    -webkit-border-radius: 5px 0 0 0;
    background:#4D4D4D;
}
#tb_1_utilities_settings_dropdown li{
    float: none;
    margin: 0;
}

#tb_1_utilities_settings li:hover > ul{
  display:block;
  list-style: none;
}
#tb_1_utilities_settings_dropdown li ul{
  display:none;
  position:relative;
  margin-left:10px;
}


#tb_1_utilities_settings_dropdown a{
    display: block;
    padding: 3px;
    margin: 5px 5px;
    color: #efefef;
    text-decoration: none;
    font-size: 11px;
}
#tb_1_utilities_settings_dropdown a:hover{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background:#7F7F7F;
}

.preview_hidden {
  display:none;
}

.widget_thumb {
  background-color: #aaf;
}

/* Pages Browser */

.pages li {
    margin-bottom: 1px;
    position: relative;
    cursor: move;
}
.pages li .title {
    height: 1.5em;
    background: hsl(194, 9%, 71%);
    padding: 0.6em 0.6em 0.6em 2.5em;
}
.pages li .number,
.pages li .loading-icon {
    position: absolute;
    top: 0.6em;
    width: 1.5em; height: 1.5em;
    
    -webkit-border-radius:  0.75em;
    -moz-border-radius:     0.75em;
    border-radius:          0.75em;
}
.pages li .number {
    left: 0.6em;
    /* Just to nudge the text into place */
    /*text-indent: 1px;*/
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
.pages li .loading-icon {
    right: 0.6em;
}
.page_browser_items li.current {
    background: none;
}

/* I have two styles of thumbs for your delectation.
 * 
 * To change style you also need to edit the corresponding animations
 * in page_browser_controller.js. (That could be improved - we could auto-detect.)
 */
 
/* 1. With border, looks like an extension of the title block */

/*
.pages li .thumb {
  position: relative;
  width: 120px; height: 75px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0px;
  padding: 0;
  margin-bottom: 6px;
  
  border: 6px solid hsl(194, 9%, 71%);
  border-top: 0;
  
  -webkit-border-bottom-left-radius:  3px;
  -moz-border-radius-bottomleft:      3px;
  border-bottom-left-radius:          3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright:     3px;
  border-bottom-right-radius:         3px;
  
  -webkit-box-shadow: 0 6px 8px hsl(14, 6%, 30%);
  -moz-box-shadow:    0 6px 8px hsl(14, 6%, 30%);
  box-shadow:         0 6px 8px hsl(14, 6%, 30%);
}
.pages li:hover .thumb {
  border-color: hsl(194, 6%, 56%);
}
.pages li.current .thumb {
  border-color: hsl(194, 3%, 88%);
}
.hide-thumbs li .thumb {
  height: 0;
  margin-bottom: 0;
  border-bottom-width: 0;
}
.pages li .thumb .page-thumb {
  position: absolute;
  left: 0; top: 50%;
  margin-top: -45px;
}
*/

/* 2. As a sheet, looks like it appears from a slot in the title block */

/* Thumb height is height+14, to account for shadow */
.pages li .thumb {
  position: relative;
  width: 136px; height: 104px; 
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  top: -2px;
  border: none;
  border-top: 1px solid hsl(194, 15%, 40%);
}
.pages li .thumb .page-thumb {
  position: absolute;
  bottom: 14px;               
  left: 50%;
  margin-left: -60px;
  
  -webkit-box-shadow: 0 6px 8px hsl(14, 6%, 30%);
  -moz-box-shadow:    0 6px 8px hsl(14, 6%, 30%);
  box-shadow:         0 6px 8px hsl(14, 6%, 30%);
}
.hide-thumbs li .thumb {
  height: 0;
  border: none;
}

/*******************/
/* = board part = */

#document_loading {
  text-align:center;
  width:100%;
  height:100%;
}
#document_loading img{
  position:relative;
  top:150px;
}

#board {
    overflow: visible;
}
#board .screen {
  /* SVG layer is at 1000000 */
  z-index: 1000001;
}

#board.move-tool        { cursor: move; }
#board.draw-tool        { cursor: /*url('/images/icons/cursor_pen.png'),*/ crosshair; }
#board.select-tool      { cursor: default; }
#board.insert-html-tool {}
#board.insert-text-tool {}

.board-style {
  font-family:Helvetica, Arial, sans-serif;
  font-size: 2.5em;
}

.board-style ol, .board-style ul {
  padding-left:1.5em;
  margin-bottom: 0.4em;
}
.board-style ol ol, .board-style ul ul {
  margin-top: -0.1em;
  font-size: 0.8em;
}
.board-style ol li, .board-style ul li {
  margin-bottom: 0.2em;
}

/* == Item view = */
.drag_handle {
  position:absolute;
  z-index:1000000;
}
.drawing_handle {
  position:absolute;
  z-index:1000000;    
}
.resize_handle {
  position:absolute;
  z-index:1000000;   
}

.item {
  overflow:hidden;
}

.item_wrap {
  overflow:hidden;
  position:absolute;
}
.edit-mode .item_wrap {
  border-style: solid;
  border-width: 1px;
  margin-top: -1px;
  margin-left: -1px;
}
.edit-mode .item_selected {
  border-width: 3px;
  margin-top: -3px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.load_item {
  overflow:hidden;
  position:absolute;
  border: solid 1px #888888;
}


.item-edited {
  z-index: 2000000;
}

.ui-resizable-e {
  cursor:e-resize;
  height:100%;
  right:-7px;
  top:0;
  width:14px;
}

.ui-resizable-s {
  border:medium none #FFFFFF;
  bottom:-7px;
  cursor:s-resize;
  height:14px;
  left:0;
  width:100%;
}

.ui-resizable-se {
  bottom:-7px;
  cursor:se-resize;
  height:14px;
  right:-7px;
  width:14px;
}
.ui-resizable-handle {
  z-index:1000000;  
}

/*******************/
/* = right part = */
.ui-accordion .ui-accordion-content {
  padding:0px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background-color:  #fff;
}

.ui-state-hover a, .ui-state-hover a:hover {
  background-color:  #fff;
}

#inspectors {
  position:relative;
  overflow:auto; 
  background-color:#ebebeb;
}

#inspectors .inspector{
  background:#ebebeb;   
  position:relative;
  overflow:hidden; 
  padding:10px;
  padding-left:20px;
}

/* ui elements */

#palette_text .content {
    padding-top: 24px;
}

.inspector .index {
    margin-bottom: 32px;
}

.inspector .size-slider-value {
    font-family: 'Tahoma', Courier, 'Andale Mono', Monaco; /* Don't add monospace - Safari reduces the size when you do */
    font-weight: bold;
    font-size: 0.72em;
    text-align: center;
    position: absolute;
    bottom: 0; left: 0;
    width: 28px;
    margin: 0;
}

.inspector .ui-slider { position: relative; text-align: left; border: none;}
.inspector .ui-slider .ui-slider-handle { position: absolute; z-index: 2; cursor: move; }
.inspector .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.inspector .ui-slider-horizontal { height: 24px; }
.inspector .ui-slider-horizontal .ui-slider-handle { top: -5px; margin-left: -17px; }
.inspector .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.inspector .ui-slider-horizontal .ui-slider-range-min { left: 0; }
.inspector .ui-slider-horizontal .ui-slider-range-max { right: 0; }

.inspector .ui-slider-horizontal {
    margin: 0 24px 20px 24px;
}
.inspector .size-slider .ui-slider-handle {
    width: 28px; height: 28px;
}
.scroller-handle,
.inspector .size-slider .ui-corner-all {
    border: 3px solid;
}
.inspector .size-slider input[type='text'] {
  display: none;
}
.inspector .size-slider .ui-slider-handle:hover {
    width: 28px; height: 45px;
}
.inspector .size-slider .ui-corner-all:hover { 
    -webkit-border-bottom-left-radius:  6px;
    -moz-border-radius-bottomleft:      6px;
    border-bottom-left-radius:          6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright:     6px;
    border-bottom-right-radius:         6px;
}
.inspector .size-slider .ui-slider-handle:hover input[type='text'] {
  display: block;
}
.inspector .size-slider .draw-port {
    position: absolute;
    top: 0; left: 0;
}
.draw-port {
    position: relative;
    width: 28px; height: 28px;
}
.draw-size {
    position: absolute;
    top: 50%; left: 50%;
}

.scroller {
    margin: 0 24px 20px 24px;
    height: 240px;
    position: relative;
}
.scroller-handle {
    position: absolute;
    width: 100%;
    padding: 0 14px;
    margin-left: -17px;
    left: 0;
    top: 50%;
    height: 36px;
    margin-top: -21px;
    background: hsla(194, 30%, 90%, 0.3);
    
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
.scroller-thumb {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    
    position: absolute;
    width: 100%;
    margin-left: -14px;
    padding: 0 28px;
    font-size: 1.6em;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
}
.scroller-thumb-buttons {
    position: absolute;
    right: 9px;
    top: 9px;
}
.scroller-thumb-buttons li {
    margin-right: 2px;
}
.scroller-thumb-buttons.icons-only a {
    background-color: hsl(194, 4%, 70%);
    width: 18px;
    min-width: 18px;
    padding-top: 18px;

    -webkit-border-radius: 9px;
    -moz-border-radius:    9px;
    border-radius:         9px;
    
    pointer-events: visible;
}
.scroller-thumb-buttons.icons-only a {
    background-color: hsl(194, 4%, 70%);

    -webkit-border-radius: 9px;
    -moz-border-radius:    9px;
    border-radius:         9px;
    
    background-image: url('/images/text-styles.png');
}
.scroller-thumb-buttons a[href="#text-italic"]      { background-position: 0 0; }
.scroller-thumb-buttons a[href="#text-bold"]        { background-position: 0 -36px; }
.scroller-thumb-buttons a[href="#text-underline"]   { background-position: 0 -72px; }


.scroller-window {
    overflow: hidden;
    height: 100%;
}
.scroller-list {
    
}

.text-thumb,
.inspector .ui-element {
    margin: 0 24px 20px 24px;
}

.vertical.scroll.index {
    clear: both;
    list-style: none;
  
    overflow-x: hidden;
    overflow-y: auto;
  
    padding: 160px 15px 150px 0;
}
.vertical.scroll.index li {
    margin-right: -15px;
}
.scroller .current a {
    background: white;
    /*height: 3em !important;*/
    visibility: hidden;
}
.vertical.scroll.index a:hover {
    /*background-color: white;*/
    border: none;
}
.vertical.scroll.index a {
    display: block;
    padding: 0.4em 1em;
    font-size: 16px;
    height: 1em;
    line-height: 1;
}
.text-thumb {
    font-size: 5em;
    height: 100px;
    font-family: Helvetica;
}
.text-style-toggle,
.text-underline-toggle {
    position: relative;
    height: 0.88em;
    line-height: 1em;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}
.text-underline-toggle {
    height: 0.12em;
}
.text-style-toggle span {
    color: white;
}
.text-underline-toggle span {
    color: white;
    position: relative;
    top: -0.88em;
}
.text-underline-toggle:hover span {
    color: hsl(194, 8%, 34%);
    text-decoration: underline !important;
}

/* == properties inspector */
.properties_line {
  width:100%;
}
/* == palette inspector */
.palette {
  background:#ebebeb;
  width:90%;
  height:300px;  
  margin:0;  
}
.palette li {
  float:left;
  list-style:none outside;
  margin:5px 20px 0 0;
  padding:2px;
}
#palette_empty {
  height:160px;
  padding-top:140px;  
}
/* === pen palette */
#palette_overlay {
  position:absolute;
  top:0;
  left:0;
}
/* === pen palette */
#colors li a div {
  width:20px;
  height:20px;
  margin:5px;
}
#sizes li a img {
  width:18px;
  height:18px;
  margin:5px;
  border:1px solid #000;
}

#properties_inspector {
  height:300px;
}
/* == inner HTML inspector */
#html_inspector {
  padding-left:0px !important;
  padding-right:0px !important;
  height:500px;
}
#selected-item-html-editor {
  width:90%;
  height:400px;
}
/* == Image and widget library = */
.image_item {
  width:100px;
  height:70px;
  padding:5px;
}

#widget_library_wrap {
  overflow:auto;
  width: 285px;
  height: 50%; 
  margin:10px 0;  
  background-color:#ebebeb;
}

#widget_library_wrap ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#widget_library_wrap ul li{
   float:left; 
}

.widget_item {
  width:50px;
  height:50px;
  margin-bottom: 6px;
}

/* ================= */
/* = Rails default = */
/* ================= */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin: 4px;
}
