/* ============================ */
/* = Resetting browsers' mess = */
/* ============================ */
/* source:http://www.sjhwebdesigns.com/resources/csstutorial/bordermarginandpadding */

/*
* { margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {padding:5px 0;}
li { padding:10px 0;}
ul { margin:0 40px;}
ol { margin:0 50px;}
p {padding-bottom:28px;}
*/

/* =========== */
/* = General = */
/* =========== */

body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000; background-color:#fff; }

.navigation li {
  float: left;
  list-style-type: none;
}

#header {
  width:100%;
  height:15px;
  margin-bottom:10px;
}

#wrap {
  /*width:900px;*/
  /*margin:0 auto;*/
  position:relative;
}

#ub-login-logout {
  float: right;
}

#home {
  float: left;
}

#flash {
  text-align: center ;
}

/* ================= */
/* = Document list = */
/* ================= */

.document_list {
  float: left;
  width:100%;
}

.document_list li {
  float: left;
  list-style-type: none;
  margin: 10px;
  text-align: right;
}

.page_list li {
  float: left;
  list-style-type: none;
  margin: 10px;
}

.ub-document-title {
  text-align: center ;
  font-weight: bold; 
  font-size: 14px;
  padding: 5px;
}

/* =============== */
/* = Page editor = */
/* =============== */
#tb_1, #tb_2{
    min-width: 700px;
    padding:0 10px;
}
#tb_1 ul li,#tb_2 ul li{
    list-style: none;
}
#tb_1{
    height: 25px;
    background:url(../images/deco/tb_small_bg.png) 0 0 repeat-x;
    margin-bottom: 1px;
}
#tb_1 h1{
    float: left;
    height: 25px;
}
#tb_1_utilities {
    float: right;
    padding-top: 3px;
}
#tb_1_utilities li {
    float: left;
    margin-left: 15px;
}
#tb_1_utilities_preview a{
    display: block;
    height: 18px;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    border: 1px solid #afafaf;
    text-transform: uppercase;
    color: #999999;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
#tb_1_utilities_preview a:hover{
    color: #4D4D4D;
}
#tb_1_utilities_preview a img{
    vertical-align:bottom;
}
#tb_1_utilities_docname{
    padding-top: 5px;
}
#tb_1_utilities_docname #current_page{
    font-weight: bold;
}
#tb_1_utilities_docname h2{
    float: left;
}
#tb_1_utilities_docname #current_page{
    margin-left: 5px;
}
#tb_1_utilities_settings a{
    display: block;
    height: 18px;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #4D4D4D;
    border: 1px solid #afafaf;
}
#tb_1_utilities_settings a img{
    vertical-align: bottom;
}
#tb_2{
    min-width: 700px;
    height: 37px;
    background-color: #efefef;

}
#tb_2 ul{
    float: left;
    margin:3px 25px 3px 0px;
    padding: 0 25px 0 0;
    overflow:hidden;
    border-right: 1px solid #AFAFAF;
}
#tb_2 ul li{
    float: left;
    padding-right:5px;
}
#tb_2 ul li:last-child{
    padding-right: 0;
}
#tb_2 ul li a{
    display: block;
    border: 1px solid #efefef;
}
#tb_2 ul li a img{
    width:25px;
    height:25px;
}
#tb_2 ul li a:hover{
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
#tb_2 #page_browser a{
    float: left;
    margin-right: 3px;
}

#tb_2 #lib_view {
    float: right;
    margin-right: 0px;
    padding: 0;
    border-right: none;
}
#content{
    padding: 0 10px;
    min-width: 600px;
    margin-top: 10px;
}

#right_bar{
    overflow:auto;
    float: right;
    width: 300px;
    background-color: #ebebeb;
}

#board_container {
    height: 100%;
    margin-right: 320px;
    border: 2px solid #dfdfdf;  
    overflow:hidden;
    background-color: #ebebeb;
}

#board {
  font-family:Helvetica, Arial, sans-serif;
  font-size:30px;
}

#board ul, #board ol {
  padding:40px;
}


#colors {
  position:relative;
  width:100%;
  height:30px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;  
}

#sizes {
  position:relative;
  width:100%;
  height:30px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;  
}

#colors li {
  float:left;
}

#sizes li {
  float:left;
}

#colors li a div {
  width:20px;
  height:20px;
  margin:5px;
}

#sizes li a img {
  width:18px;
  height:18px;
  margin:5px;
  border:1px solid #000;
}

#chat {
  overflow:auto;
  width: 285px;
  height: 600px; 
  margin:10px 0;  
  background-color:#ebebeb;  
}


/* ================= */
/* = Image library = */
/* ================= */
#image_library_wrap {
  overflow:auto;
  width: 285px;
  height: 50%; 
  margin:10px 0;  
  background-color:#ebebeb;
}

#image_library_wrap ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#image_library_wrap ul li{
   float:left; 
}

.image_item {
  width:100px;
  height:70px;
  padding:5px;
}

#widget_library_wrap {
  overflow:auto;
  width: 285px;
  height: 50%; 
  margin:10px 0;  
  background-color:#ebebeb;
}

#widget_library_wrap ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#widget_library_wrap ul li{
   float:left; 
}

.widget_item {
  width:50px;
  height:50px;
}

/* ====================== */
/* css and html inspector */
/* ====================== */

.ui-accordion .ui-accordion-content {
  padding:0px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background-color:  #fff;
}

.ui-state-hover a, .ui-state-hover a:hover {
  background-color:  #fff;
}

#inspector {
  position:relative;
  overflow:hidden; 
  background-color:#ebebeb;  
}

#page_inspector {
  position:relative;
  overflow:hidden;
  padding:1px;  
}

#page_css_editor {
  width:100%;
  height:300px;
  padding:0px;
  border:none;
}

#palette_inspector {
  position:relative;  
}

#palette_empty {
  position:relative;
  background-color:#ebebeb;
  height:160px;
  padding-top:140px;  
}

#palette_pen {
  position:relative;
  background-color:#ebebeb;
  width:100%;
  height:300px;  
}

#html_inspector {
  position:relative;
  overflow:hidden;
  padding:1px;    
}

#selected_item_html_editor {
  position:relative;
  width:100%;
  height:300px;
  padding:0px;  
  border:none;
}

#palette_text {
  font-size:12px;
  background:#ebebeb;
  margin:0;
  width:100%;
  height:300px;
}
#palette_overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:300px;
}
#palette_text ul li a:hover {
  display: block;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#palette_text li {
  float:left;
  list-style:none outside;
  margin:5px 20px 0 0;
  padding:2px;
}

#properties_inspector {
  background:#000;
  background-color: #ebebeb;
  padding:10px;
  padding-left:20px;
  height:300px;
}

#properties_inspector div {
  padding-bottom:5px;
  width:100%;
}

/* ============= */
/* = Item view = */
/* ============= */

.drag_handle {
  position:absolute;
  z-index:1000001;
/*  background:transparent url(/images/drag.png) repeat scroll 0 0*/  	
}

.drawing_handle {
  position:absolute;
  z-index:1000001;
/*  background:transparent url(/images/drag.png) repeat scroll 0 0*/    
}

.resize_handle {
  position:absolute;
  z-index:1000000;   
}

.item {
  position:absolute;
  overflow:hidden;
  border: solid 1px #888888;
}

.ui-resizable-e {
  cursor:e-resize;
  height:100%;
  right:-7px;
  top:0;
  width:14px;
}

.ui-resizable-s {
  border:medium none #FFFFFF;
  bottom:-7px;
  cursor:s-resize;
  height:14px;
  left:0;
  width:100%;
}

.ui-resizable-se {
  bottom:-7px;
  cursor:se-resize;
  height:14px;
  right:-7px;
  width:14px;
}
.ui-resizable-handle {
  z-index:1000002;  
}

.item_selected {
  border: solid 1px #dd0000;
}

.item_edited {
  border: solid 1px #00dd00;
}



/* ================= */
/* = Rails default = */
/* ================= */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin: 4px;
}
