/* style.application.css
 *
 * Styles for website
 */

/* Block layout */

html, body {
    width: 100%; min-height: 100%;
}

.wrap {
    position: relative;
    width: 80%; max-width: 66em;
    margin: 0 auto;
}

/* Header */

header {
    height: 88px;
}

.logo {
    overflow: hidden;
    width: 0; height: 0;
    padding: 64px 0 0 192px;
    margin: 0;
    background: url('/images/webdoc-logo-192x64.png') no-repeat;
}

.userbar {
    position: absolute;
    right: 0;
    top: 28px;
}
.userbar li .user-email {
    font-weight: bold;
    color: hsl(208, 12%, 50%);
}
.userbar .button {
    position: relative;
    top: -0.5em;
}

/*
.userbar .item {
    display: block;
    height: 2.5em;
    line-height: 2.5;
    padding: 0 0.8333em;
}
.userbar li:first-child .item {
    padding-left: 1.3333em;
}
.userbar li:last-child .item {
    padding-right: 1.3333em;
}
.userbar li {
    margin-right: 0;
}
*/

.subtabs {
  /*margin-bottom: 3.3333em;*/
}

.state-public .state-public-hide {
  display: none;
}
.state-public-show {
  display: none;
}
.state-public .state-public-show {
  display: block;
}

.state-readonly .state-readonly-hide {
  display: none;
}

/* leader */

.action-zone {
    overflow: hidden;
}
.action-zone .wrap {
    padding: 2.5em 0 0 0;
}
.action-zone .wrap form {
    margin-bottom: 2.6667em;
}

.footer-zone {
    height: 9em;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.tabs {
    white-space: nowrap;
}
.tabs li {
    /*margin-right: 1px;*/
}
.tabs li a {
    padding: 0 0.6em;
    height: 1.8em;
    /* Just nudge it down a bit */
    line-height: 1.9;
    display: block;
}
.content {
    padding-top: 3.3333em;
    min-height: 400px;
}

.content .bar {
    margin-bottom: 2.6667em;
}
.bar li,
.bar dt,
.bar dd {
    margin-right: 2px;
}
/*
.bar li,
.bar dt,
.bar dd {
    padding: 0 1.6667em 0 1em;
}
*/

.action-zone input[type=submit] {
    /* Just tweak the spacing of the bottom button a little */
    margin-top: 0.6em;
    margin-right: 1.6667em;
}

.action-zone input[type=submit],
.button {
    font-weight: bold;
    border-width: 0.2em;
    height: 2.5em;
    line-height: 2.1;
    padding-left: 1em;
    padding-right: 1em;
}

.action-zone input[type=submit]:last-child,
.action-zone .button:last-child {
    margin-right: 0;
}

.action-zone .button {
    margin-bottom: 2.5em;
    margin-right: 1.6667em;
}



.action-zone .tabs {
    position: absolute;
    bottom: 0; right: 0;
}


.new-form {
  width: 28em;
}
.collaborate-dialog {
  width: 42em;
}
.share-dialog {
  width: 42em;
}

.state-unshared-hide {
  height: 4.8333em;
  opacity: 1;
  margin-bottom: 1.6667em;
  -webkit-transition: height 0.2s ease-in, margin-bottom 0.2s ease-in, opacity 0.2s ease-in;
  -moz-transition:    height 0.2s ease-in, margin-bottom 0.2s ease-in, opacity 0.2s ease-in;
  transition:         height 0.2s ease-in, margin-bottom 0.2s ease-in, opacity 0.2s ease-in;
}
.state-unshared .state-unshared-hide {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}

/* fix to give us a loading icon */
#wb-document-list-container {
  position: relative;
}
#wb-document-list-container .loading-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
}

/* Content - document list */

.document-index {
    /*border-left-width: 2px;*/
    padding-top: 1.6667em;
    padding-bottom: 1.6667em;
    margin-bottom: 1.6667em;
}
.document-index li {
    margin-bottom: 2px;
}
.document-index li li {
    margin-bottom: 0;
}
.document-index .document-item {
    position: relative;
}
.document-item-editable {
    margin-left: 3.1667em;
    margin-right: 20.1111em !important; /* Overides .index styles */
}
.document-title,
.document-controls,
.document-actions {
    height: 3.3333em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
.document-title {
    display: block;
    line-height: 3.3333;
    width: 100%;
    padding: 0 1em;
    font-weight: bold;
}
.document-controls,
.document-actions {
    position: absolute;
    top: 0;
    padding: 0.6667em;
    padding-right: 0;
}
.document-controls {
    left: -3.1667em;
    margin-left: -2px;
    width: 3.1667em;
}
.document-actions {
    right: -20.1111em;
    margin-right: -2px;
    width: 20.1111em;
}
.document-controls li {
    margin-right: 0.3333em;
}
.document-actions li {
    margin-right: 0.6667em;
}
.action-zone .button {
    border-width: 0.2em;
    height: 2.5em;
    line-height: 2.1;
}
.document-actions .button {
    display: block;
}
.button {
    display: inline-block;
    font-weight: bold;
    height: 2em;
    line-height: 2;
    padding-left: 0.8333em;
    padding-right: 0.8333em;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
.collaborate-button,
.share-button,
.unshare-button,
.info-button {
    padding-left: 28px;
}
.share-button {
    width: 7em;
}
.collaborate-button {
    width: 11.1111em;
}
.add-button {
    padding-left: 32px;
}
.info-button,
.delete-button {
    height: 0;
    padding: 2em 0 0 0;
    width: 2em;
    overflow: hidden;
}
.info-button {
    position: absolute;
    right: 0.6667em;
    top: 0.6667em;
}


#document_access_list li {
    position: relative;
    padding-left: 2em;
}

#document_access_list li .delete {
    position: absolute;
    left: 0;
    top: -0.1667em;
    width:  1.3333em;
    padding-top: 1.3333em;
    height: 0;
    overflow: hidden;
    -webkit-border-radius: 0.6667em;
    -moz-border-radius:    0.6667em;
    border-radius:         0.6667em;
    background: #999999;
    background-image: url('/images/pop-icons.png');
    background-position: -8px -72px;
}
#document_access_list li .delete:hover {
    background-color: #666666;
}

#flash {
    position: fixed;
    top: 0; left: 50%;
    width: 33.3333%;
    margin-left: -16.6667%;
    padding: 1em 0.6em;
    text-align: center ;
    background: hsla(28, 66%, 12%, 0.6);
    -webkit-border-bottom-left-radius:   0.5em;
    -moz-border-radius-bottomleft:       0.5em;
    border-bottom-left-radius:           0.5em;
    -webkit-border-bottom-right-radius:  0.5em;
    -moz-border-radius-bottomright:      0.5em;
    border-bottom-right-radius:          0.5em;
}
#flash p {
    font-weight: bold;
    color: white;
}




/* ======================= */
/* = Apps administration = */
/* ======================= */

ul#widget-list {
	list-style: none;
}

ul#widget-list li {
	min-height: 90px;
}

.widget-container {
	width: 300px;
	margin-bottom: 10px;
}

.widget-title-container {
	background: #ccc;
	border: 1px solid #333;
	-moz-border-radius: 5px;
}

.widget-icon {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}

.widget-title {
	font-style: italic;
	font-weight: bold;
}

.widget-version {
	margin-top: 5px;
	font-style: italic;
	color: #666;
}

.widget-controls {
  color: #666;
}

/* ================= */
/* = Rails default = */
/* ================= */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin: 4px;
}
