/* style.application.css
 *
 * Styles for website
 */

/* Block layout */

html, body {
    width: 100%; min-height: 100%;
}

.wrap {
    position: relative;
    width: 80%; max-width: 66em;
    margin: 0 auto;
}

.action-bar {
    overflow: hidden;
}
.action-bar .wrap {
    padding: 2.5em 0 0 0;
}
.action-bar .wrap form {
    margin-bottom: 2.6667em;
}

.footer-bar {
    height: 9em;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.tabs {
    white-space: nowrap;
}
.tabs li {
    margin-right: 1px;
}
.tabs li a {
    padding: 0.6em;
}

.document-tabs {
    float: right;
}
.content {
    padding-top: 3.3333em;
}

.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.action-bar input[type=submit] {
    /* Just tweak the spacing of the bottom button a little */
    margin-top: 0.6em;
}

.action-bar input[type=submit],
.action-bar .button {
    font-weight: bold;
    border-width: 0.2em;
    height: 2.5em;
    line-height: 2.1;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1.6667em;
}

.action-bar input[type=submit]:last-child,
.action-bar .button:last-child {
    margin-right: 0;
}

.action-bar .button {
    padding-left: 32px;
    margin-bottom: 2.5em;
}



.action-bar .tabs {
    position: absolute;
    bottom: 0; right: 0;
}


.new-form {
  width: 28em;
}

#flash {
    position: fixed;
    top: 0; left: 50%;
    width: 33.3333%;
    margin-left: -16.6667%;
    padding: 1em 0.6em;
    text-align: center ;
    background: hsla( 18, 12%, 33%, 0.92 );
    -webkit-border-bottom-left-radius:   0.5em;
    -moz-border-radius-bottomleft:       0.5em;
    border-bottom-left-radius:           0.5em;
    -webkit-border-bottom-right-radius:  0.5em;
    -moz-border-radius-bottomright:      0.5em;
    border-bottom-right-radius:          0.5em;
}
#flash p {
    font-weight: bold;
    color: white;
}

/* =================== */
/* = Document access = */
/* =================== */
/*#document_access-header {
  margin: 20px 0;  
}
#document_access_list{
    padding: 15px;
    border: 5px solid #4d4d4d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wb-invitation-failed {
  color: #ff0000;
}

.user_access{
    clear: both;
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.user_email{
    float:left;
    width: 65%;
}
.user_role {
  float:right;
  position:relative;
  top:-4px;  
}
#document_access_list input {
  position:relative;
  top:-4px;
}
.access_actions{
    float:right;
    width: 35%;
}
.delete_access {
    background: #fff url(../images/icons/delete_16.png) no-repeat 0 -2px ;
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 10px;    
}
.delete_access:hover {
    background: #fff url(../images/icons/delete_16.png) no-repeat -16px -2px ;
}*/


/* ======================= */
/* = Apps administration = */
/* ======================= */

ul#widget-list {
	list-style: none;
}

ul#widget-list li {
	min-height: 90px;
}

.widget-container {
	width: 300px;
	margin-bottom: 10px;
}

.widget-title-container {
	background: #ccc;
	border: 1px solid #333;
	-moz-border-radius: 5px;
}

.widget-icon {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}

.widget-title {
	font-style: italic;
	font-weight: bold;
}

.widget-version {
	margin-top: 5px;
	font-style: italic;
	color: #666;
}

.widget-controls {
  color: #666;
}

/* ================= */
/* = Rails default = */
/* ================= */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin: 4px;
}
