/* style.application.typography.css
 * 
 * Stephen Band
 * 
 * Developed using ideas from:
 * www.blueprintcss.org
 * www.webtypography.net
 * 
 * Base font-size is set to 1em == 12px in style.css.
 * Use this chart to style using other font sizes:
 *
 * 10px == 0.8333em or 83.33%
 * 11px == 0.9167em or 91.67%
 * 12px == 1em      or 100%
 * 14px == 1.1667em or 116.67%
 * 15px == 1.25em   or 125%
 * 16px == 1.3333em or 133.33%
 * 18px == 1.5em    or 150%
 * 20px == 1.6667em or 166.67%
 * 22px == 1.8333em or 183.33%
 * 24px == 2em      or 200%
 * 28px == 2.3333em or 233.33%
 * 32px == 2.6667em or 266.67%
 * 36px == 3em      or 300%
 *
 */

body {
    line-height: 1.6667;
}

pre, code {
    font-family: 'Courier', 'Andale Mono', 'Lucida Console', monospace;
}

/* Block */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; color: #303030; word-spacing: -0.0833em; }

h1                { font-size: 3em; line-height: 1; margin-bottom: 0.6667em; }
h2                { font-size: 2.6666em; line-height: 1.25; margin-bottom: 0.625em; }
h3                { font-size: 2em; line-height: 1.25; margin-bottom: 0.8333em; }
h4                { font-size: 1.3333em; line-height: 1.25; font-weight: bold; margin-bottom: 1.25em; }
h5                { font-size: 1em; font-weight: bold; }
h6                { font-size: 1em; font-weight: bold; font-style: italic; color: #484848; }

*+h1              { margin-top: 0.6667em; }
*+h2              { margin-top: 0.625em; }
p+h3              { margin-top: 0.8333em; }
p+h4              { margin-top: 1.25em; }
p+h5, p+h6, p+div,
h6+h5, h5+h6      { margin-top: 1em; }


h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

p                 { margin: 0; }
/*p+p               { text-indent: 1.3333em; }*/
/* Things that should have margin after paragraphs */
p+ul, p+dl, p+ol, p+table,
p+address, p+pre, p+blockquote
                  { margin-top: 1.3333em; }
/* Make first letter different */
/*p::first-letter   { font-size: 1.3333em; line-height: 1em; font-style: italic; letter-spacing: 0.1333em; }
p+p::first-letter { font-size: 1em; line-height: 1.3333; font-style: normal; letter-spacing: 0em; }*/
/* Make first line different */
/*p::first-line     {  }
p+p::first-line   { font-weight: normal; }*/
/* Start paragraphs with a character or symbol */
/*p+p:before  { content: "\2767"; padding-right: 0.4em; }*/
p img             { float: right; margin: 1em 0 1em 1.3333em; padding: 0; }

p, li, dt, dd, blockquote, address { word-spacing: 0.2em; }


/* We're not ready for this yet - need to protect the lists */
li ul,
li ol             { margin: 0; }
ul, ol    { margin: 1.3333em 0; padding-left: 2.6667em; }

ul                { list-style-type: disc; }
ol                { list-style-type: decimal; }


dl                { margin: 0 0 1.5em 0; }
dl dt             { font-weight: bold; margin-left: 1.3333em; }
dd                { margin-left: 1.5em; margin-left: 2.6667em; }

blockquote        { margin: 1.3333em 0 1.3333em 2.6666em; font-style: italic; }
blockquote:before { content: "\201C"; font-size: 4.666em; color: #484848; float: left; margin-left: -0.6em; line-height: 0.78em;  }
pre               { margin: 1.3333em 0; line-height: 1.3333; white-space: pre; }
address           { margin: 1.3333em 0; margin-left: 2.6667em; }


/* Inline */

strong, dfn { font-weight: bold; }
em, dfn     { font-style: italic; }
sup, sub    { line-height: 0; font-size: 0.75em; }

abbr                { letter-spacing: 0.1em; }
pre, code   { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
del                 { color: #999999; font-style:italic; }

/* Links */

/* We're not ready for this yet */
a:focus,
a:hover           { color: hsl(194, 50%, 20%); text-decoration: none; }
a                 { color: hsl(194, 50%, 40%); text-decoration: none; }

p a:focus,
p a:hover           { color: hsl(194, 50%, 20%); border-bottom: 1px dotted hsl(194, 50%, 20%); text-decoration: none; }
p a                 { color: hsl(194, 50%, 40%); border-bottom: 1px dotted hsl(194, 50%, 40%); text-decoration: none; }

/* Tables */

/*
table             { margin-bottom: 1.4em; width:100%; }
th                { font-weight: bold; }
thead th          { background: #c3d9ff; }
th,td,caption     { padding: 4px 10px 4px 5px; }
tr.even td        { background: #e5ecf9; }
tfoot             { font-style: italic; }
caption           { background: #eee; }
*/

/* Selected text */

/**::selection      { background-color: rgba(176, 227, 0, 0.8); }
code::selection   { background-color: rgb(18, 23, 0); color: rgb(176, 227, 0); }*/





.tabs li a {
    font-size: 1.25em;
}