/* Color theme */

body            { background: white; }
body.login      { background: white; }
body.editor     { background: #bbc0c2; }


/* Panels */

.toolbar-panel  { background: #f2f2f2;
                  -webkit-box-shadow: 0 0 32px rgba(77, 70, 68, 0.5);
                  -moz-box-shadow: 0 0 32px rgba(77, 70, 68, 0.5);
                  box-shadow: 0 0 32px rgba(77, 70, 68, 0.5); }
.left-panel,
.right-panel    { background-color: rgba(68, 75, 77, 0.6); }

/* Inspectors */

/* Foot contents */
.inspector .foot > ul,
.inspector .foot > div { background-color: rgba(220, 220, 220, 0.9); }

/* Layers */

.screen         { background-color: rgba(68, 75, 77, 0.6); }


/* Index */


/* Forms */

.properties,
.code-editor {
    /*background: #edefe6;*/
    border-color: #666666;
}
.properties legend,
.code-editor legend {
    background: #666666;
    /*background: #9fa38b;*/
    color: white;
    /*color: #faffe5;*/
}
.properties input[type=text] {
    border-color: #bbbbbb;
    /*border: 2px solid rgba(88, 95, 58, 0.3);*/
}

/* The board */

#board {
    -webkit-box-shadow: 0 2px 8px rgb(77, 70, 68);
    -moz-box-shadow:    0 2px 8px rgb(77, 70, 68); 
    box-shadow:         0 2px 8px rgb(77, 70, 68);
}

.item_wrap      { border-color: rgba(76, 91, 76, 0.6); -webkit-border-radius: 2px;}
.item_selected  { -webkit-box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  -moz-box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  box-shadow: 0 0 8px rgba(176, 227, 0, 1);
                  border-color: rgba(176, 227, 0, 0.8);
                /*border-color: rgba(197, 255, 0, 0.75);*/ }


/* The page browser */

.current        { background-color: #f4fbfd; }