
#toolbar_panel select {display:block;float:left;margin:0px 5px;border:solid 1px #cccccc}
#toolbar_panel a div{display:block;color: transparent;margin:2px}
#toolbar_panel a 	{display:block;float:left;border:solid 1px transparent;height:18px;width:20px;margin: 0px 1px;outline: none;text-decoration:none;}                                         
#toolbar_panel a:hover {border:solid 1px #cccccc;}
#toolbar_panel a.active_button {border:solid 1px #55ff55;background-color: #CFFFFA;}
#toolbar_panel_cover{position:absolute;width:100%;height:100%;background-color:white;opacity:0.7;}
#toolbar_panel a#toolbar_panel_button_foreColor{background-color: #ffffff;margin:0px 0px;}
#toolbar_panel a#toolbar_panel_button_hiliteColor{background-color: #ffffff;margin:0px 0px;}
#toolbar_panel_button_foreColor>div{background-color: #000000;}
#toolbar_panel a#toolbar_panel_button_foreColor_arrow{margin:0px 0px;padding:0px;width:11px;overflow: hidden;}
#toolbar_panel a#toolbar_panel_button_hiliteColor_arrow{margin:0px 0px;padding:0px;width:11px;overflow: hidden;} 

#toolbar_panel_valign_block{position:absolute;border:1px solid #cccccc;display:none;overflow: hidden;padding: 2px 1px;}   
.icon_valign_arrow{background:url(../images/toolbar.png) no-repeat -388px;width:8px;height:16px;margin:0px;float:left}
#toolbar_panel_button_valign{width:33px !important}

.icon_increasefontsize{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -1042px;}
.icon_decreasefontsize{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -1026px;}
.icon_bold{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -32px}
.icon_italic{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -48px}
.icon_underline{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -64px}
.icon_foreColor{background:url(../images/toolbar.png) no-repeat -80px;width:16px;height:16px}
.icon_foreColor_arrow{background:url(../images/toolbar.png) no-repeat -388px;width:16px;height:16px;margin:0px;}
.icon_hiliteColor_arrow{background:url(../images/toolbar.png) no-repeat -388px;width:16px;height:16px;margin:0px;}
.icon_backColor{background:url(../images/toolbar.png) no-repeat -96px;width:16px;height:16px}
.icon_indent{background:url(../images/toolbar.png) no-repeat -416px;width:16px;height:16px} 
.icon_outdent{background:url(../images/toolbar.png) no-repeat -400px;width:16px;height:16px}
.icon_insertUnorderedList{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -160px}
.icon_insertOrderedList{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -176px}
.icon_justifyLeft{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -192px}
.icon_justifyCenter{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -208px}
.icon_justifyRight{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -224px}
.icon_justifyFull{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -320px}
.icon_blockquote{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -240px}
.icon_removeFormat{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -256px}
.icon_spell{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -272px}
.icon_subScript{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -608px}
.icon_superScript{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -640px}
.icon_removeFormat{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -256px}
.icon_foreColor{height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -80px}
.icon_hiliteColor{height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -96px}

.icon_valignTop{width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -977px;float:left;}
.icon_valignMiddle{height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -993px;float:left;}
.icon_valignBottom{height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -1009px;float:left;}

