
/*#toolbar_panel select {display:block;float:left;margin:0px 5px;border:solid 1px #cccccc}
#toolbar_panel a div{display:block;color: transparent;margin:2px}

                                    
#toolbar_panel a:hover {border:solid 1px #cccccc;}
#toolbar_panel a.active_button {border:solid 1px #55ff55;background-color: #CFFFFA;}
#toolbar_panel_cover{position:absolute;width:100%;height:100%;background-color:white;opacity:0.7;}
#toolbar_panel a#toolbar_panel_button_foreColor{background-color: #ffffff;margin:0px 0px;}
#toolbar_panel a#toolbar_panel_button_hiliteColor{background-color: #ffffff;margin:0px 0px;}
#toolbar_panel_button_foreColor>div{background-color: #000000;}
#toolbar_panel a#toolbar_panel_button_foreColor_arrow{margin:0px 0px;padding:0px;width:11px;overflow: hidden;}
#toolbar_panel a#toolbar_panel_button_hiliteColor_arrow{margin:0px 0px;padding:0px;width:11px;overflow: hidden;} 

#toolbar_panel_valign_block{position:absolute;border:1px solid #cccccc;display:none;overflow: hidden;padding: 2px 1px;}   
.icon_valign_arrow{background:url(../images/toolbar.png) no-repeat -388px;width:8px;height:16px;margin:0px;float:left}
#toolbar_panel_button_valign{width:33px !important}*/

/*
a[href='#text-bold']              {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -32px}
a[href='#text-italic'] {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -48px}
a[href='#text-underline'] {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -64px} */
/*
a[href='#text-insertUnorderedList'] {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -160px}
a[href='#text-insertOrderedList'] {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -176px} */
/*
a[href='#text-blockquote']        {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -240px}
a[href='#text-spell']             {width:16px;height:16px;background:url(../images/toolbar.png) no-repeat -272px} */

a[href='#text-fontsize-up']       {background:url(../images/toolbar.png) no-repeat -1042px;}
a[href='#text-fontsize-down']     {background:url(../images/toolbar.png) no-repeat -1026px;}

a[href='#text-color']             {background:url(../images/toolbar.png) no-repeat -80px;  }
a[href='#text-arrow']             {background:url(../images/toolbar.png) no-repeat -388px; margin:0px;}
a[href='#text-bgarrow']           {background:url(../images/toolbar.png) no-repeat -388px; margin:0px;}
a[href='#text-bgcolor']           {background:url(../images/toolbar.png) no-repeat -96px;  }
a[href='#text-indent-up']         {background:url(../images/toolbar.png) no-repeat -416px; } 
a[href='#text-indent-down']       {background:url(../images/toolbar.png) no-repeat -400px; }

a[href='#text-justify-left']      {background:url(../images/toolbar.png) no-repeat -192px;}
a[href='#text-justify-center']    {background:url(../images/toolbar.png) no-repeat -208px;}
a[href='#text-justify-right']     {background:url(../images/toolbar.png) no-repeat -224px;}
a[href='#text-justify-both']      {background:url(../images/toolbar.png) no-repeat -320px;}

a[href='#text-unformat']          {background:url(../images/toolbar.png) no-repeat -256px}

a[href='#text-subscript']         {background:url(../images/toolbar.png) no-repeat -608px}
a[href='#text-superscript']       {background:url(../images/toolbar.png) no-repeat -640px}

/*
a[href='#text-foreColor']         {height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -80px}
a[href='#text-hiliteColor']       {height:12px;width:16px;background:url(../images/toolbar.png) no-repeat -96px} */

a[href='#text-valign-top']        {background:url(../images/toolbar.png) no-repeat -977px;float:left;}
a[href='#text-valign-middle']     {background:url(../images/toolbar.png) no-repeat -993px;float:left;}
a[href='#text-valign-bottom']     {background:url(../images/toolbar.png) no-repeat -1009px;float:left;}

