body {  }

#wb-toolpalette {
    position: fixed;
    top: 50px;
    left: 10px;
    width: 60px;
    height: 430px;
    z-index: 2000000;
    opacity:0.8;
    background-color: rgb(170,170,170);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.wb-selected-object {
	  	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 5px solid #AAAAAA;
		padding: 10px;
  }


