<!-- invite people to webdoc -->
<div class="box">
  <div id="invite_people" class="collaborate-dialog">
    <h3>Invite people on Webdoc</h3>
    
    <form id="invitations_email_form" class="">
      <div class='emails_invitation'>
        
      </div>
      <div class="ui-actions state-readonly-hide">
        <!--<a href="#cancel" class="cancel">close</a>-->
        <input type="submit" name="new-document" value="Send invitations" />
      </div>
    </form>
  </div>
  <a href="#close" class="close" title="close window">x</a>
</div>