<div id="profile_page">
  <div id="user_card">
    <% if current_user == @user%>
      <%= render 'card', :user => @user %>
    <% else %>
      <%= render 'card', :user => @user, :subscribed => @user.follower?(current_user), :friendship => @user.friend?(current_user)  %>
    <% end %>
  </div>
  <div id="friends_list">
    <h3>Friends</h3>
    <ul class='friend_list'>
      <% for user in @user.friends do %>
        <li>
          <%= image_tag user.avatar.url(:thumb) %>
          <%= user.username %>
        </li>
      <% end %>
    </ul>
  </div>
  
</div>
