<ul id="popup">
    <li id="close" class="lb"></li>
    <li id="popup_share" class="lb popup">
  		<%= render 'documents/popup_share' %>
    </li>
    <li id="popup_collaborate" class="lb popup">
  		<%= render 'documents/popup_collaborate' %>
    </li>
     <li id="popup_createeditwebdoc" class="lb popup">
  		<%= render 'documents/popup_create_webdoc'%>
    </li>
         <li id="popup_invitations" class="lb popup" >
  		<%= render 'users/popup_invitations' %>
    </li>
</ul>