/* Links as buttons, thumbnails,  classes */

.button:hover,
.button:focus {
  text-decoration: none;
}

.button {
  display: inline-block;
  overflow: hidden;
  padding-top: 2em;
  /* Hide overflowing text. This technique is better
     than using -ve text-indent because IE7 moves
     the background image with the text-indent. */
  width: 2em; height: 0;
  
  background-color: #dddddd;
  background-image: url('../../images/buttons.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  
  text-decoration: none;
  color: inherit;
}