<div class="jmb-dialog-options-content">
    <div class="option">
        <div class="title"><span>FTT_MOD_PROFILE_EDITOR_DELETE_UNREGISTERED_MEMBER</span></div>
    </div>
        <div>
            <table>
                <tr>
                    <td></td>
                    <td>
                        <div id="unlink" class="title"><span>FTT_MOD_PROFILE_EDITOR_TITLE_UNLINK</span></div>
                        <div class="title description"><span>FTT_MOD_PROFILE_EDITOR_DESCR_UNLINK</span></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div id="delete_data" class="title"><span>FTT_MOD_PROFILE_EDITOR_TITLE_DELETE_DATA</span></div>
                        <div class="title description"><span>FTT_MOD_PROFILE_EDITOR_DESCR_DELETE_DATA</span></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div id="delete" class="title"><span>FTT_MOD_PROFILE_EDITOR_TITLE_DELETE_AND_REMOVE</span></div>
                        <div class="title description"><span>FTT_MOD_PROFILE_EDITOR_DESCR_DELETE_AND_REMOVE</span></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>