.icon-48-jfbconnect {
    background-image: url('images/jfbconn_icon48.png');
}

div.pagetitle.icon-48-jfbconnect h2 {
    margin-left: 20px;
}

div.header.icon-48-jfbconnect {
    padding-left: 85px;
}

div.config_setting {
    float: left;
    width: 250px;
}

div.config_option {
    float: left;
    width: 300px;
}

div.config_setting_option{
    float:left;
    width:550px;
}

div.config_option fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

div.config_description {
    float: left;
    width: 20px;
}

div.config_description2 {
    float: left;
    width: 325px;
    margin-left: 10px;
}

div.config_setting.header,
div.config_option.header,
div.config_description.header,
div.config_setting_option.header{
    font-weight: bold;
    font-size: 12px;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 20px;
}

.config_row {
    margin-bottom: 10px;
}

.hasTip {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-box-shadow: 0 1px 3px #999999;
    background-color: #E6E6E6;
    color: #104D92;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    margin-left: 4px;
    font-weight: normal;
}