<% if !Rails.env.production? %><!-- packages pane --><% end %>

<div class="collections_pane pane" id="collections_pane">
  <div id="package-details" class="content">
    <a href='#packages-list' id='package-detail-back' class='back'>Back</a>
    <div class="view_content">
      <iframe width="100%" height="100%" src="" class=""></iframe>
    </div>
  </div>
</div>