<div id="media-browser-apps" class='media-browser-tab'>
  <div id="my-apps">
    <div class='thumbnails'>
      
    </div>
  </div>
  <div id="app_details" style='display:none'>
    <h4 class='app_title'></h4>
    <div class='single_app'>
      <a href=''>
        <img src= '', alt='' />
      </a>
      <h5 class='app_version'></h5>
      <div class='actions'>
        <ul>
          <li>
            <a id='add_app_to_page_action' href=''>
              <%= t('.apps.detail_view.add_to_page') %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  // MyContentController is used to manage my image and user's favorites.
  WebDoc.AppsController = $.klass({
        
    initialize: function() {
      ddd('[AppsController] initialize');
      this.appsLibrary = new WebDoc.AppsLibrary("media-browser-apps");
      
      this.domNode = $('#media-browser-apps');
      //this._createHandlers('click', this._myContentHandlers);
    },
    
    _createHandlers: function(eventType, obj, context){
      ddd('create handler');    
      //this.domNode
      //.delegate('a', eventType, WebDoc.handlers._makeLinkHandler( obj, context ) );
      //NOTE: _makeLinkHandler( obj, context ) is supposed to be private, but it's an easy way to listen the link
    },
    
    _appsHandlers: {
      // 'my-images':  function(e){ WebDoc.application.myContentController.showMyImages(); },
    },
    
    dragStart: function(event) {
      ddd('[AppsController] dragStart');
      
    }
  });
  
  WebDoc.application.appsController = new WebDoc.AppsController();
  
</script>