<div class="title_wrap site_wrap wrap">
    <h1>My Friends</h1>
</div>


  
<section class="site_wrap wrap">
      <h2>
        <span id="contactscount"><%= current_user.friends_count %></span> <%= t('.friends')%>
      </h2>
      <ul id="contacts" class="horizontal index friends_index">
        <% @friends.each do |user|%>
        <li>
          <%= render 'users/card', :user => user, :subscribed => user.follower?(current_user), :friendship => user.friend?(current_user)  %>
        </li>
        <% end%>
      </ul>
</section>

