<?xml version="1.0" encoding="UTF-8"?>
<theme version="0.1" thumbnail="images/thumbs/theme.png">
  <name>Swiss Chocolate</name>
  <author href="http://webdoc.com"
          email="stephband@webdoc.com">Stephen Band</author>
  <styles>
    <style src="css/typography.css" />
  </styles>
  <layouts>
    <layout src="layout-1head1column.html" thumbnail="images/thumbs/layout_1_1.png">
      <name>1 title, 1 column</name>   
    </layout>
    <layout src="layout-1head2column.html" thumbnail="images/thumbs/layout_1_2.png">
      <name>1 title, 2 columns</name>   
    </layout>
    <layout src="layout-1head3column.html" thumbnail="images/thumbs/layout_1_3.png">
      <name>1 title, 3 columns</name>   
    </layout>
  </layouts>
</theme>