<h1>Invitations you send</h1>
<div>
  <%= link_to 'Invite people', new_invitation_path %>
</div>
<ul id="invitations_list">
  <% @invitations.each do |invitation| %>
    <li>
      <div class="invitation_container">
        <span class="invitation_to">
          <%= invitation.email %>
        </span>
        <span class="invitation_status">
          <%= invitation.status %>
        </span>
        <span class="invitation_controls">
          <%= link_to t('destroy'), invitation_path(invitation), :confirm => 'Are you sure ?', :method => :delete %>
        </span>
      </div>
    </li>
  <% end %>
</ul>
