.jmb_quick_facts_container {
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 10px 10px 20px;
	position: relative;
}
.jmb_qf_header {
	background: none repeat scroll 0 0 #DEEDAA;
	border: 1px solid #999999;
	height: 22px;
	padding: 5px;
}
.jmb_qf_header  span{
	font-size: 18px;
	left: 40%;
    	position: absolute;
    	top: 5px;
}
.jmb_qf_content {
	background: none repeat scroll 0 0 white;
	border: 1px solid #999999;
	margin-top: -1px;
	padding: 5px;
}
.jmb_qf_item {
	margin-top: 3px;
}
.jmb_qf_title {
	font-weight: bold;
}
.jmb_qf_text {
	margin-left: 5px;
	cursor:pointer;
}
.jmb_qf_button {
	color: blue;
	cursor: pointer;
    	position: absolute;
    	right: 0;
}
