<div id="discussions-panel" class="inspector">
  <div class="head">
    <div class="inspector-title">Discussions</div>
  </div>
  <div class="content">
    <div id="wd_discussions"></div>
  </div>
</div>