<div id="discussions-panel" class="inspector">
  <div class="head">
    <div class="inspector-title">Discussions</div>
  </div>
  <div class="content">
    <img alt="Chat_16" class="add_discussion" src="/images/icons/chat_16.png" />
    <div id="wd_discussions"></div>
  </div>
</div>