<div id="discussions-panel" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        Discussions
      </div>
    </div>
  </div>
  <div class="content">
    du contenu
  </div>
</div>