#document-inspector.layer{ :style => "display: none" }
  .inspector
    %div.head
      %div
        %h2= t('label.document_inspector')
      
    %div.content
      %div
        %label= t('label.choose_title')
        %br
        %input#document-title{ :type => "text", :value => t('label.new_webdoc') }
      %div
        %label= t('label.add_description') 
        %br
        %textarea#document-description{ :rows => "5"}
      %div 
        %label= t('label.keywords')
        %br
        %input#document-keywords{ :type => "text" }
