#item_inspector{ :style => "display: none" }
  #inspectors 
    -#%h3
    -#  %a{ :href => "" } Palette
    #palette_inspector.inspector
      #palette_text.palette        
      #palette_pen.palette
        %ul#colors{ :style => "display:block" }
          %li
            %a{ :href => "" }
              %div{ :style => "background-color:black" }                            
          %li
            %a{ :href => "" }
              %div{ :style => "background-color:red" }
          %li
            %a{ :href => "" }
              %div{ :style => "background-color:green" }                                
          %li
            %a{ :href => "" }
              %div{ :style => "background-color:blue" }              
        %ul#sizes{ :style => "display:block" }
          %li
            %a{ :href => "1" }
              %img{ :src => "/images/icons/smallPen.png", :alt =>"Small"}                                
          %li
            %a{ :href => "5" }
              %img{ :src => "/images/icons/mediumPen.png", :alt =>"Medium"}              
          %li
            %a{ :href => "10" }
              %img{ :src => "/images/icons/largePen.png", :alt =>"Large"}                                       
      #palette_empty.palette
        %center Empty   
      %iframe#palette_widget.palette 
      #palette_image.palette     
        #image_properties.properties_line
          %label.properties_label Image URL
          %input#property_src.properties_input  
      #html_inspector.palette
        %div.properties_line
          %textarea#selected-item-html-editor.properties_input 
        %div.properties_line
          %label.properties_label No iframe
          %input#no_iframe.properties_input{ :type => "checkbox"}             
    %h3
      %a{ :href => "" } Properties
    #properties_inspector.inspector
      #default_properties
        %div.properties_line
          %label.properties_label Top
          %input#property_top.properties_input
        %div.properties_line
          %label.properties_label Left
          %input#property_left.properties_input
        %div.properties_line
          %label.properties_label Width
          %input#property_width.properties_input
        %div.properties_line
          %label.properties_label Height
          %input#property_height.properties_input
        %div.properties_line
          %label.properties_label Show scroll
          %input#property_scroll{ :type => "checkbox" }
        %div.properties_line
          %label.properties_label Opacity
          %input#property_opacity.properties_input
        #image_properties.properties_line{ :style => "display:none"}
          %label.properties_label Image URL
          %input#property_src.properties_input
      #empty_properties
        %center Empty                                   