.libraries_wrap.layer
  #swfupload_container{ :style => "display:none" }
    %input#upload_images_button{ :type => "button", :value => "Choose images" }
  #libraries{ :style => "display: none" }
    #libraries_manager.view
      .toolbar
        %h1 Library
      %ul.individual
        %li.images
          %a{ :href => '#images' } Images
        %li.videos
          %a{ :href =>'#videos'} Videos
        %li.apps
          %a{ :href =>'#apps'} Apps
        %li.web-browser
          %a{ :href =>'#web-browser'} Web          
    #images.view
      .toolbar
        %h1 Images
        %a#add_images_button.button.slideup{ :href =>'#add_images' } Add Images
        %a.back{ :href =>'#' } Back
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.my_images{ :href => '' } My Images
          %li
            %a.web_images{ :href => '' } Web
        .tab_content#my_images
          .thumbnails
          .spacer
        .tab_content#web_images.web_media
          %form
            %div
              %label{ :for => "web_images_search_field" } Search images on the web
              %input#web_images_search_field.web_media_search_field{ :type => "text" }
              %input#web_images_search_submit.web_media_search_submit{ :type => "submit", :value => "Search" }
          .spacer
          #flickr_images.thumbnails
            %h3.service_bar
              Flickr
              %span.results_number 0
          .spacer
          #google_images.thumbnails
            %h3.service_bar
              Google Images
              %span.results_number 0
          .spacer
      %ul{ :style => "display:none" }
        %li 
          %a#show_image_details{ :href =>'#image_details' } Show Image Details
    #add_images.view
      .toolbar
        %h1 Add Images
        %a.button.goback{ :href =>'#images' } Close
      #upload_control
        %span#upload_images_button_background.button Upload
        %button#cancel_images_upload.button{ :style => "display:none" } Cancel upload
        #upload_images_spinner{ :style => "display:none" }
        %span.uploading_info Choose image(s) to upload 
    #image_details.view.details_view
      .toolbar
        %h1 Image
        %a.back{ :href =>'#' } Back
      
      .view_content
        .single_image
          %a{ :href => "", :onclick => "window.open(this.getAttribute('href'), '_blank'); return false;" }
            %img{ :src => "", :alt => "" }
            .icon_overlay
        %h4.image_name
        %h5.image_size
        .actions
          %ul
            %li
              %a.disabled#add_image_to_page_action{ :href => "" } Add to page
            %li
              %a#set_image_as_bg_action{ :href => "" } Set as background
            %li.dyn.flickr
              %a#show_flickr_page_action{ :href => "" } Show photo page on Flickr
            %li.dyn.flickr.google
              %a#delete_from_my_images_action{ :href => "" } Remove from My Images
            %li.dyn.my_image
              %a#delete_image_action{ :href => "" } Delete image
            %li.dyn.flickr.google
              %a#add_to_my_images_action{ :href => "" } Add to My Images
    #videos.view
      .toolbar
        %h1 Videos
        %a.back{ :href =>'#' } Back
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.web_videos{ :href => '' } Web
          %li
            %a.my_videos{ :href => '' } My Videos
        .tab_content#web_videos.web_media
          %form
            %div
              %label{ :for => "web_videos_search_field" } Search videos on the web
              %input#web_videos_search_field.web_media_search_field{ :type => "text" }
              %input#web_videos_search_submit.web_media_search_submit{ :type => "submit", :value => "Search" }
          .spacer
          #youtube_videos.rows
            %h3.service_bar
              YouTube
              %span.results_number 0
          .spacer
          #vimeo_videos.rows
            %h3.service_bar
              Vimeo
              %span.results_number 0
          .spacer
        .tab_content#my_videos
          .rows
          .spacer
      %ul{ :style => "display:none" }
        %li 
          %a#show_video_details{ :href =>'#video_details' } Show Video Details
    #apps.view
      .toolbar
        %h1 Apps
        %a.back{ :href =>'#' } Back
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.my_apps{ :href => '' } My apps
        .tab_content#my_apps
          .rows
          .spacer
      %ul{ :style => "display:none" }
        %li
          %a#show_app_details{ :href => '#app_details' } Show App Details
    #app_details.view.details_view
      .toolbar
        %h1 App
        %a.back{ :href =>'#' } Back
      %h4.app_title
      .single_app
        %a{ :href => "" }
          %img{ :src => "", :alt => "" }
      %h5.app_version
      %p.app_description
    #video_details.view.details_view
      .toolbar
        %h1 Video
        %a.back{ :href =>'#' } Back
      .view_content
        %h4.video_name
        .single_video
          .drag_handle drag and drop to add
        %h5.view_count
          %span
          = " views"
        %p.video_description
        .actions
          %ul
            %li
              %a#show_video_page_action{ :href => "" } Show on *
            %li
              %a#delete_from_my_videos_action{ :href => "" } Remove from My Videos
            %li
              %a#add_to_my_videos_action{ :href => "" } Add to My Videos
    #web-browser.view
      .toolbar
        %h1 Web browser
        %a.back{ :href =>'#' } Back
      #web-browser-ui.inspector.view_content        
        .head
          %ul.index
            %li>
              %a#go_backward{ :href => "" } Back
            %li>
              %a#go_forward{ :href => "" } Forward
            %li>
              %a#favorites{ :href => "" } Favorites
            %li>
              %a#refresh{ :href => "" } Refresh
            %li>
              %input
        .content
          %iframe{ :src => "http://m.wikipedia.org", :style => "width:100%; height:100%" }           

