#page_inspector.inspector{ :style => "display: none" }
  %div.head
    %div
      %h2= t("label.page_inspector")
  %form.content
    %fieldset.properties
      %legend Page
      %div
        %label Use external page
        %input#external_page_checkbox{ :type => "checkbox" }
      %div
        %label Allow annotation
        %input#allow_annotation_checkbox{ :type => "checkbox" }        
      %div
        %label URL
        %input#external_page_url{ :type => "text", :value => "http://" }
    
    %fieldset.properties
      %legend Properties
      %div
        %label Name
        %input#page_title_textbox{ :type => "text" }
      %div
        %label Height
        %input#page_height_textbox{ :type => "text", :maxlength => "5" }
      %div
        %label Width
        %input#page_width_textbox{ :type => "text", :maxlength => "5" }
      %div
        %label Show scroll
        %input#page_scroll_checkbox{ :type => "checkbox" }
      %div
        %label Background
        %input#page_background_color_textbox{ :type => "text" }
      %div
        %label Background Image
        %input#browse_background_image_button{ :type => "button", :value => "Browse" }
      %div
        %input#page_background_image_textbox{ :type => "text"}
        %p You can also choose an image from your image library and use the set as background button:
      %div
        %label horizontal
        %input#page_background_image_fit_page_radio{ :type => "checkbox", :name => "xTile", :value => "none" }
        %span.label tile
        %input#page_background_image_fit_page_radio{ :type => "radio", :name => "xPos", :value => "left" }
        %span.label left
        %input#page_background_image_repeat_hor_radio{ :type => "radio", :name => "xPos", :value => "center" }
        %span.label center
        %input#page_background_image_repeat_hor_radio{ :type => "radio", :name => "xPos", :value => "right" }
        %span.label right
        -#%input#page_background_image_repeat_vert_radio{ :type => "radio", :name => "repeatMode", :value => "repeat-y"}
        -#%span.label Repeat vertically
      %div
        %label vertical
        %input#page_background_image_fit_page_radio{ :type => "checkbox", :name => "yTile", :value => "none" }
        %span.label tile
        %input#page_background_image_fit_page_radio{ :type => "radio", :name => "yPos", :value => "top" }
        %span.label top
        %input#page_background_image_repeat_hor_radio{ :type => "radio", :name => "yPos", :value => "middle" }
        %span.label middle
        %input#page_background_image_repeat_hor_radio{ :type => "radio", :name => "yPos", :value => "bottom" }
        %span.label bottom
        -#%input#page_background_image_repeat_vert_radio{ :type => "radio", :name => "repeatMode", :value => "repeat-y"}
        -#%span.label Repeat vertically
      %div
        %input#page_background_image_apply_current_button{ :type => "button", :value => "Apply to this page" }
      %div
        %input#page_background_image_apply_all_button{ :type => "button", :value => "Apply to all pages" }
    
    %fieldset#page_css_editor.code-editor
      %legend CSS
      %textarea.code