<div id="share_webdoc" class="share-dialog" style="display:none" title="">
  <form id="wb-share-form">
    <h4>Set the visibility of the webdoc</h4>
    
    <fieldset>
      <div class="horizontal">
        <input id="only_participants_radio" type="radio" name="share" value="off" />
        <label for="#only_participants_radio">Only participants can view</label>
      </div>
      <div class="horizontal">
        <input id="your_connections_radio" type="radio" name="share" value="on" />
        <label for="#your_connections_radio">Your connections & others</label>
      </div>
      <div id="your_connections_list" class='friends_list' style='display:none'>
        <h4>Choose friends</h4>
        <a id='share_select_all_friends' href="" class="select_all_friends">Select all friends</a>
      </div>
      <div class="horizontal">
        <input id="public_radio" type="radio" name="share" value="on" />
        <label for="#public_radio">Public</label>
      </div>
      <div class='horizontal' id="share_allow_comments" style='display:none'>
        <input id="allow_comments_checkbox" type="checkbox" name="allow_comments" />
        <label for="#allow_comments_checkbox">Allow comments</label>
      </div>
    </fieldset>
    
    <fieldset class="state-unshared-hide" id='share_public_url'>
      <label  for="shared_webdoc_url" >Public URL</label>
      <input id="shared_webdoc_url" type="text"/>
    </fieldset>
  </form>
</div>


<!--<div id="invite_co_authors" class="collaborate-dialog" style="display: none">
  <h4>Invite co-authors</h4>
  <ul>
    <li><a id='collaborate_by_connection' class='collaborate_form' href=''>Your connections</a></li>
    <li><a id='collaborate_by_email' class='collaborate_form' href=''>By email</a></li>
  </ul>
  <form id="collaborate_by_connection_form" class="column triple_column of_five">
    <div id="invite_co_authors_friends_list" class='friends_list'>
      <h4>Choose friends</h4>
      <a id='collaborate_select_all_friends' href="" class="select_all_friends">Select all friends</a>
    </div>
    <div>
      <input type="radio" name="role_type_friends" value="full" checked='checked' /> Full access
      <br />
      <input type="radio" name="role_type_friends" value="limited"/> Limited access
    </div>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <form id="collaborate_by_email_form" class="column triple_column of_five" style='display:none'>
    <fieldset>
      <div class="vertical">
        <label>By email</label>
        <textarea id="wb-invitation-add-editors" rows="1" cols="20"></textarea>
        <div id="wb-invitation-failed"></div>
      <div class="vertical">
        <label>Personalisse the invitation</label>
        <textarea id="wb-invitation-add-editors-message" rows="3" cols="20"></textarea>
      </div>
      <div>
        <input type="radio" name="role_type_email" value="full" checked='checked' /> Full access
        <br />
        <input type="radio" name="role_type_email" value="limited"/> Limited access
      </div>
    </fieldset>
    
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <div class="column last_column double_column of_five" id="wb-access-list" style="overflow: hidden;">
    <h4>Current editors</h4>
    <ul id="document_access_list" class="vertical divided index"></ul>
  </div>
</div>-->