<!-- share a webdoc to people -->
<div class="box">
<div id="share_webdoc" class="share-dialog" title="">
  <form id="wd_share_form">
    <h3>Set the visibility of the webdoc</h3>
    
    <fieldset>
      <div class="horizontal">
        <input id="only_participants_radio" type="radio" name="share" value="off" />
        <label for="#only_participants_radio">Only participants can view</label>
      </div>
      <div class="horizontal">
        <input id="your_connections_radio" type="radio" name="share" value="on" />
        <label for="#your_connections_radio">Your connections & others</label>
      </div>
      <div id="your_connections_list" class='friends_list' style='display:none'>
        <h4>Choose friends</h4>
      </div>
      <div class="horizontal">
        <input id="public_radio" type="radio" name="share" value="on" />
        <label for="#public_radio">Public</label>
      </div>
    
    <fieldset class="" id='share_public_url' style='display:none'>
      <label  for="shared_webdoc_url" >Public URL</label>
      <input id="shared_webdoc_url" type="text" />
    </fieldset>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">Cancel</a>
      <input type="submit" name="share_document" value="Set visibility" />
    </div>
  </form>
  <form id="wd_email_share_form" style='display:none'>
    <h4>Invite people to see this webdoc</h4>
    <div class='emails_invitation'>
      
    </div>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">Cancel</a>
      <input type="submit" name="share_document" value="Set visibility" />
    </div>
  </form>
  
  <!-- comments check box is common for both forms-->
  <fieldset>
    <div class='horizontal' id="share_allow_comments" style='display:none'>
      <input id="allow_comments_checkbox" type="checkbox" name="allow_comments" />
      <label for="#allow_comments_checkbox">Allow comments</label>
    </div>
  </fieldset>

  <div id="share_webdoc_users_list">
    
  </div>
</div>

            <a href="#close" class="close" title="close window">x</a>
        </div>
