<!-- invite co-author on a webdoc -->

<div id="invite_co_authors" class="collaborate-dialog" style="display: none">
  <h4>Invite co-authors</h4>
  <ul>
    <li><a id='collaborate_by_connection_link' class='collaborate_form' href=''>Your connections</a></li>
    <li><a id='collaborate_by_email_link' class='collaborate_form' href=''>By email</a></li>
  </ul>
  <form id="collaborate_by_connection_form" class="column triple_column of_five">
    <div id="invite_co_authors_friends_list" class='friends_list'>
      <h4>Choose friends</h4>
    </div>
    <div>
      <input type="radio" name="role_type_friends" value="editor" checked='checked' /> Full access
      <br />
      <input type="radio" name="role_type_friends" value="contributor"/> Limited access
    </div>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <form id="collaborate_by_email_form" class="column triple_column of_five" style='display:none'>
    <div class='emails_invitation'>
      
    </div>
    <div>
      <input type="radio" name="role_type_email" value="editor" checked='checked' /> Full access
      <br />
      <input type="radio" name="role_type_email" value="contributor"/> Limited access
    </div>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <div class="column last_column double_column of_five" id="wb-access-list" style="overflow: hidden;">
    <h4>Current editors</h4>
    <ul id="document_access_list" class="vertical divided index"></ul>
  </div>
</div>