<div id="wb-change-access-dialog" class="collaborate-dialog" style="display: none">
  <h4>Invite co-authors</h4>
  <ul>
    <li><a id='collaborate_by_connection' class='collaborate_form' href=''>Your connections</a></li>
    <li><a id='collaborate_by_email' class='collaborate_form' href=''>By email</a></li>
  </ul>
  <form id="collaborate_by_connection_form" class="column triple_column of_five">
    <div id="invite_co_authors_friends_list">
      <h4>Choose friends</h4>
    </div>
    <div>
      <input type="radio" name="role_type" value="full" checked='checked' /> Full access
      <br />
      <input type="radio" name="role_type" value="limited"/> Limited access
    </div>
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <form id="collaborate_by_email_form" class="column triple_column of_five" style='display:none'>
    <fieldset>
      <div class="vertical">
        <label>By email</label>
        <textarea id="wb-invitation-add-editors" rows="1" cols="20"></textarea>
        <div id="wb-invitation-failed"></div>
      <div class="vertical">
        <label>Personalisse the invitation</label>
        <textarea id="wb-invitation-add-editors-message" rows="3" cols="20"></textarea>
      </div>
      <div>
        <input type="radio" name="role_type" value="full" checked='checked' /> Full access
        <br />
        <input type="radio" name="role_type" value="limited"/> Limited access
      </div>
    </fieldset>
    
    <div class="ui-actions state-readonly-hide">
      <a href="#cancel" class="cancel">close</a>
      <input type="submit" name="new-document" value="Add" />
    </div>
  </form>
  
  <div class="column last_column double_column of_five" id="wb-access-list" style="overflow: hidden;">
    <h4>Current editors</h4>
    <ul id="document_access_list" class="vertical divided index"></ul>
  </div>
</div>