<!-- create new document popup -->
<div class="box">
<form id="create_webdoc_form" action="" title="Create new webdoc">
  <h3 id="new-document-dialog-header">Create new webdoc</h3>
  
  <fieldset>
    <div class="vertical">
      <label for="wb-new-document-name">Title</label>
      <input id="wb-new-document-name" class="ui-corner-all" type="text" name="wb-new-document-name" placeholder="My new webdoc" />
    </div>
  </fieldset>
    
  <fieldset>
    <legend>Size</legend>
    
      <input id="wb-new-document-size-width" type="hidden" size="6" required="required" data-type="cssvalue" />
    
      <input id="wb-new-document-size-height" type="hidden" size="6" required="required" data-type="cssvalue" />
    
    <div class="horizontal">
      <ul class="index vertical">
        <li><a class="set_size" href="#600_400" data-webdoc-size-name="multi_space">Multi spaces</a></li
       ><li><a class="set_size" href="#6000_400" data-webdoc-size-name="vertical">Vertical</a></li
       ><li><a class="set_size" href="#400_6000" data-webdoc-size-name="horizontal">Horizontal</a></li>
      </ul>
    </div>
  </fieldset>
  
  <div class="ui-actions">
    <a href="#cancel" class="cancel">cancel</a>
    <input type="submit" name="new-document" value="Create" />
  </div>
</form>
            <a href="#close" class="close" title="close window">x</a>
        </div>