  
  <!-- related content -->
  
  <section class="site_wrap wrap">
    <div class="content_wrap wrap">
      <h2>Related webdocs</h2>
      
      <ul class="triple_column column of_six vertical thumbs_index index">
        <% (0..(documents.length - 1)).step(2) do |i| %>
          <%= render 'thumbnail', :document => documents[i]%>
        <% end %>
      </ul
      
      ><ul class="triple_column column of_six vertical thumbs_index index">
        <% (1..(documents.length - 1)).step(2) do |i| %>
          <%= render 'thumbnail', :document => documents[i]%>
        <% end %>
      </ul>
    </div>
  </section>
