<div id="social-inspector" class="inspector">
  <div class="head">
    <div>
      <div class="inspector-title">
        Meet the creator
      </div>
    </div>
  </div>
  <div class="content">
    <% if @document.creator == current_user %>
      <%= render :partial => "users/card", :locals => { :user => @document.creator } %>
    <% else %>
      <%= render :partial => "users/card", :locals => { :user => @document.creator, :subscribed => @document.creator.follower?(current_user) } %>
    <% end %>
  </div>
</div>