<div id="social-inspector" class="inspector" style="display: none">
  <div class="head">
    <div>
      <div class="inspector-title">
        About the author
      </div>
    </div>
  </div>
  <div class="content">
    <div id="creator-info" class="card">
      <h4 id="creator-name" class="card-name"></h4>
      <p id="creator-bio" class="card-bio"></p>
      <a id="subscribe-button" class="button subscribe-button" href="#author-subscribe">Follow</a>
      <a id="unsubscribe-button" class="button subscribe-button" href="#author-unsubscribe">Unfollow</a>
      <div id="creator-docs-count"></div>
    </div>
  </div>
</div>