<!-- title -->
<header class="title_panel panel horizontal">
  <h1><%= @document.title %></h1>
  <div class="dropdown_wrap wrap">
    <a class="settings_dropdown_button dropdown_button button" href="#doc_settings_dropdown">Settings</a>
    <ul class="vertical settings_dropdown_index dropdown_index index dropdown" id="doc_settings_dropdown">
      <li><a class="button" href="/" class="edit_button button">your profile</a></li
     ><li><a class="button" href="/" class="edit_button button">logout</a></li>
     <li><a id="invite_people_link" class="current state-filter-tab" href="#invite_people" data-webdoc-documents-filter-type="creator">Invite People on Webdoc</a></li>
    </ul>
  </div>
</header>