<!-- title -->
<header class="title_panel panel horizontal">
  <h1><%= @document.title %></h1>
  <div class="dropdown_wrap wrap">
    <a class="settings_dropdown_button dropdown_button button" href="#doc_settings_dropdown">Settings</a>
    <ul class="vertical settings_dropdown_index dropdown_index index dropdown" id="doc_settings_dropdown">
     <li><a class="edit_button button" href="#popup_properties">Properties</a></li>
     <li><a class="edit_button button" href="#popup_share">Share</a></li>
     <li><a class="edit_button button" href="#popup_collaborate">Collaborate</a></li>
    </ul>
  </div>
</header>