    <!-- webdoc -->
    
    <div class="frame_layer layer" style="overflow: hidden;">
      <div class="pushscroll_layer layer">
        <div id="webdoc" class="webdoc scroll layer">
          <div class="center">
            <div class="center_cell">
              <div id="board-container" class="center_box">
              </div>
            </div>
            <div id="panel_ghost">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ui elements -->

    <!--div id="webdoc_x_scrollbar" class="x_scrollbar_container">
      <div class="x_scrollbar scrollbar"></div>
    </div>

    <div id="webdoc_y_scrollbar" class="y_scrollbar_container">
      <div id="scrollbar_y" class="y_scrollbar scrollbar"></div>
    </div-->

    <div id="webdoc_loading" class="loading loading_icon layer"></div>