<%= include_stylesheets :page_viewer, :media => 'all' %>

<div class="content">
  <div id="explorer_content" class="wrap"></div>
</div>
<% content_for :scripts do %>
  <%= include_javascripts :page_editor %>
  <%= include_javascripts :explore %>
  <% if !Rails.env.production? %>
    <%= javascript_include_tag APP_CONFIG['shindig_server_base'] + "/js/core:rpc:pubsub:shindig-container.js?c=1&debug=1" %>
  <% end %>
  <% javascript_tag do -%>
    WebDoc.Application.main(function() {
      var explore = new WebDoc.Explore('featured');
      explore.start();
    });
  <% end -%>
<% end %>