<!-- app/views/documents -->

<div id="webdoc" class="scroll layer">
  <div class="center">
    <div class="center-cell">
      <div id="board-container" class="center-box">
        <div class="board-screen screen layer"></div>
        <div class="board-screen screen layer"></div>
        <div class="board-screen screen layer"></div>
        <div class="board-screen screen layer"></div>
      </div>
    </div>
    <div id="right-panel-ghost">
      <div class="panel-ghost"></div>
    </div>
  </div>
</div>

<div id="webdoc_loading" class="loading loading-icon layer"></div>

<%#= render :partial => "documents/panels/header_panel" %>
<%= render :partial => "documents/panels/toolbar_panel" %>
<%= render :partial => "documents/panels/right_panel" %>
<%= render :partial => "documents/panels/pages_panel" %>