%div#webdoc.scroll.layer
  %div.center
    %div#left-panel-ghost
      %div.panel-ghost
    %div.center-cell
      %div#document_loading
        %img{ :src => "/images/icons/waiting_bar.gif"}      
      %div#board-container.center-box
        %div.board-screen.screen.layer
        %div.board-screen.screen.layer
        %div.board-screen.screen.layer
        %div.board-screen.screen.layer
    %div#right-panel-ghost
      %div.panel-ghost

= render :partial => "documents/panels/toolbar_panel"
= render :partial => "documents/panels/left_panel"
= render :partial => "documents/panels/right_panel"