<!-- webdoc -->

<div id="webdoc" class="scroll layer">
  <div class="center">
    <div class="center-cell">
      <div id="board-container" class="center-box">
      </div>
      <div id="notification_bar"></div>
    </div>
    <div id="right-panel-ghost">
      <div class="panel-ghost"></div>
    </div>
  </div>
</div>

<!-- webdoc controls -->

<div id="webdoc_x_scrollbar" class="x_scrollbar_container">
  <div class="x_scrollbar scrollbar"></div>
</div>

<div id="webdoc_y_scrollbar" class="y_scrollbar_container">
  <div id="scrollbar_y" class="y_scrollbar scrollbar"></div>
</div>

<div id="webdoc_loading" class="loading loading-icon layer"></div>

<!-- panels -->

<%= render :partial => "documents/panels/toolbar_panel" %>
<%= render :partial => "documents/panels/right_panel" %>
<%= render :partial => "documents/panels/pages_panel" %>