<h3>documents/thumb</h3>

<%= render 'thumb' , :document => @document%>

<h3>documents/card</h3>

<%#= render 'card' , :document => @document%>

<h3>users/thumb</h3>

<%= render 'users/thumb' , :user => current_user %>

<h3>users/card</h3>

<%= render 'users/card' , :user => current_user %>

