.jmb-profile-cont {
    position:relative;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
    margin-right: 3px;
}

.jmb-profile-cont div.avatar{
	border: 1px solid white;
	height: 22px;
    	margin-left: 3px;
    	margin-top: 3px;
    	width: 22px;
}
.jmb-profile-cont div.avatar img{
    vertical-align: top;
}
.jmb-profile-cont div.login {
	margin-left: 3px;
    cursor: pointer;
}
.jmb-profile-cont div.login:hover {
    background-color: #86af67;
}
.jmb-profile-cont div.login span {
	color: white;
	font-weight: bold;
}
.jmb-profile-cont div.settings {
	position:relative;
}
.jmb-profile-cont div.settings div.button{
	background: url("../imgs/arrows.png") no-repeat scroll 0 -21px #6B944E;
	border-color: #6B944E;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 22px;
	margin-top: 3px;
	width: 22px;
}
.jmb-profile-cont div.settings div.button:hover{
    background: url("../imgs/arrows.png") no-repeat scroll -22px -22px #86af67;
}
.jmb-profile-cont div.settings div.button.active {
	background: url("../imgs/arrows.png") no-repeat scroll 0 0 white;
	border-color: #CCCCCC #CCCCCC white;
    	border-style: solid;
    	border-width: 1px;
}
.jmb-profile-cont div.settings div.menu {
    background: none repeat scroll 0 0 white;
    border-color: white #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin-left: -153px;
    padding: 10px;
    position: absolute;
    width: 155px;
}
.jmb-profile-cont div.settings div.menu div{
	background: url("../imgs/list.png") no-repeat scroll 3px 3px transparent;
	line-height: 16px;
	margin-top: 5px;
	margin-left: -3px;
}
.jmb-profile-cont div.settings div.menu div span {
	color: #153FC5;
	font-size: 14px;
	margin-left: 15px;
	cursor: pointer;
}
.jmb-profile-cont div.settings div.menu div:hover {
	background:#627AAD;
}
.jmb-profile-cont div.settings div.menu div:hover span {
	color:white;
}
.jmb-profile-cont div.facebook {
    background: url("../imgs/facebook-login-button.png") no-repeat scroll 0 0 transparent;
    border: 1px solid white;
    height: 25px;
    margin-left: 0;
    margin-top: 1px;
    width: 194px;
}
.jmb-profile-cont div.facebook span {
    color: white;
    cursor: pointer;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 34px;
    text-decoration: none;
}

.jmb-profile-famous-cont {
	background: none repeat scroll 0 0 white;
	border: 1px solid #CCCCCC;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 5px;
    z-index: 1;
}
.jmb-profile-famous-cont table{
	margin: 3px;
	width: 100%;
}
.jmb-profile-famous-cont .text {
	text-align: left;
}
.jmb-profile-famous-cont .text span{
	
}
.jmb-profile-famous-cont .avatar {
	border: 1px solid black;
	height: 50px;
    	width: 50px;
}
.jmb-profile-famous-cont .avatar img{}
.jmb-profile-famous-cont .name {
	text-align: center;
}
.jmb-profile-famous-cont .name span{
	font-weight: bold;
}
.jmb-profile-famous-cont .logout {
	text-align: center;
}
.jmb-profile-famous-cont .logout span{
	color:#686fe3;
	cursor: pointer;
}

.ui-dialog.language{
    background: none repeat scroll 0 0 #999999;
}
.ftt-profile-language-list.ui-dialog-content{
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    font-family: Tahoma;
}
.ftt-profile-language-list.ui-dialog-content ul{
    list-style: none outside none;
}
.ftt-profile-language-list.ui-dialog-content ul li{
    cursor: pointer;
}
.ftt-profile-language-list.ui-dialog-content ul li input{
    margin-left: 5px;
    margin-right: 5px;
}
.ftt-profile-language-list.ui-dialog-content ul li div{
    display: inline-block;
}
.ftt-profile-language-list.ui-dialog-content ul li div.flag{
    height: 24px;
    width: 24px;
}
.ftt-profile-language-list.ui-dialog-content ul li div.flag.en-GB{
    background: url("../imgs/en-GB.png") no-repeat scroll 0 0 transparent;
}
.ftt-profile-language-list.ui-dialog-content ul li div.flag.ru-RU{
    background: url("../imgs/ru-RU.png") no-repeat scroll 0 0 transparent;
}
.ftt-profile-language-list.ui-dialog-content ul li div.flag.pt-PT{
    background: url("../imgs/pt-PT.png") no-repeat scroll 0 0 transparent;
}
.ftt-button-ok {
    bottom: 10px;
    left: 80px;
    position: absolute;
    width: 150px;
}
.ftt-button-ok input {
    width: 150px;
}
.ftt-language-progressbar {
    background: none repeat scroll 0 0 white;
    height: 190px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 310px;
}
.ftt-language-progressbar div{
    background: url("../imgs/progressbar.gif") no-repeat scroll 0 25px transparent;
    height: 120px;
    left: 100px;
    position: absolute;
    top: 40px;
    width: 100px;
}
.ftt-language-progressbar div span{
    margin-left:10px;
}

.ftt-preloader-alert {
    background: url("../imgs/progressbar.gif") no-repeat scroll 105px 0 transparent;
    height: 160px;
}
.ftt-preloader-alert div{
    display: inline-block;
    margin-top: 100px;
}