<html>
<body>
<div>__MSG_DEAR__ __RECIPIENT_FIRST_NAME__,</div>
<p>
    __MSG_YOUR__ __RELATION__, __USER_NAME__, __MSG_HAS_INVITED__.
</p>
<p>
    <a href="__JPATH_BASE__index.php/invitation?token=__TOKEN__">__MSG_CLICK_HERE_TO_ACCEPT__</a>
</p>
<p>
    __MSG_CLICK__ <a href="http://www.facebook.com/profile.php?id=__USER_FACEBOOK_ID__">__MSG_HERE__</a> __MSG_TO_VIEW_PROFILE__ __OWNER_FIRST_NAME__
</p>
<p>
    __MSG_IF_YOU_WISH_TO_CONTACT__ __OWNER_FIRST_NAME__, __MSG_YOU_MAY_EMAIL_HIM_AT__ __EMAIL__
</p>
<p>
    __MSG_THIS_IS_AUTOMATED_MESSAGE__.
</p>
<p>
    __MSG_REGARDS__,
</p>
<p>
    __MSG_THE_FAMILY_TREETOP_TEAM__<br>
    <a href="__JPATH_BASE__">www.familytreetop.com</a>
</p>
</body>
</html>

