#content thead{
    border: 1px solid black;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
#content tbody td{
    text-align: center;
}
#content td{
    font-size:1em;
    border: 1px solid gray;
    max-width: 70px;
    padding: 1px;
}
#content th{
    cursor: default;
    height: 40px;
    padding: 1px;
    background-color: lightgray;
    font-size:1.3em;
    text-decoration: underline;
    border: 1px solid gray;
}
#content{
   overflow: scroll;

}

#table_container{
    overflow: auto;
    max-height: 280px;

}


