.jmb-progressbar-container {
    background: none repeat scroll 0 0 #F9EDBE;
    border: 1px solid #F0C36D;
    left: 45%;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 1002;
}
.jmb-progressbar-container span {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
}
