<div class="jmb-dialog-view-profile">
    <div class="jmb-dialog-view-profile-content">
        <table>
            <tr>
                <td>
                    <div class="jmb-dialog-avatar">
                        <div class="jmb-dialog-profile-death-marker">&nbsp</div>
                    </div>
                </td>
                <td valign="top">
                    <table style="margin-top: 10px">
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_FULL_NAME</span>:</div></td>
                            <td><div class="full_name text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_KWON_AS</span>:</div></td>
                            <td><div class="know_as text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_BIRTHDAY</span>:</div></td>
                            <td><div class="birthday text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_BIRTHPLACE</span>:</div></td>
                            <td><div class="birthplace text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_DEATHDAY</span>:</div></td>
                            <td><div class="deathday text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_DEATHPLACE</span>:</div></td>
                            <td><div class="deathplace text"><span></span></div></td>
                        </tr>
                        <tr>
                            <td><div class="title"><span>FTT_MOD_PROFILE_EDITOR_VIEW_PROFILE_RELATION</span>:</div></td>
                            <td><div class="relation text"><span></span></div></td>
                        </tr>
                     </table>
                </td>
            </tr>
        </table>
    </div>
</div>