.ftt_notifications_alert {
    background: url("../images/alert.png") no-repeat scroll 0 0 transparent;
    font-family: Tahoma;
    font-size: 12px;
    height: 35px;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.ftt_notifications_alert .message {
    background: none repeat scroll 0 0 #ED1C24;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 37px;
    padding: 5px;
    text-align: center;
}
.ftt_notifications_alert .message div:first-child {}
.ftt_notifications_alert .message .button {
    cursor: pointer;
    font-weight: bold;
}

.ui-dialog.notifications {
    background: none repeat scroll 0 0 #3F48CC;
    font-family: Tahoma;
    font-size: 12px;
}

.ui-dialog .notifications_manager{
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
}

.ui-dialog.notifications_link {
    background: none repeat scroll 0 0 #999;
    font-family: Tahoma;
    font-size: 12px;
}

.notifications_manager table.container{
    width:100%;
}

.notifications_manager table div.menu{
    border-right: 1px solid #000000;
}

.notifications_manager table div.menu div{
    background: none repeat scroll 0 0 #999999;
    border: 1px solid #999999;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}
.notifications_manager table div.menu div:hover{
    background:#575757;
}
.notifications_manager table div.menu div.active{
    background:#3F48CC;
}
.notifications_manager table div.data {
    margin: 10px;
    position: relative;
}
.notifications_manager .users div {
    cursor:pointer;
}
.notifications_manager .users .male {
    color:#0d04bd;
    background: url("../images/male.png") no-repeat scroll 0 0 transparent;
}
.notifications_manager .users .female {
    color:#d51ad5;
    background: url("../images/female.png") no-repeat scroll 0 0 transparent;
}
.notifications_manager .users span {
    margin-left: 17px;
}
.notifications_manager table div.data div.status {
    position: absolute;
    right: 0;
    top: 0;
}
.notifications_manager table div.data div.status span.title{
    font-weight: bold;
}
.notifications_manager table div.data div.status span.value{
    font-weight: bold;
    color:#ed1c24;
}
.notifications_manager .data div.prefix {
    font-weight: bold;
    padding: 30px 5px 10px;
}
.notifications_manager .data div.info {
    background: none repeat scroll 0 0 #F0F5E7;
    border: 1px solid #999999;
    margin: 5px;
}
.notifications_manager .data div.info div.user_box{
    background: none repeat scroll 0 0 white;
    border: 1px solid #000000;
}
.notifications_manager .data div.info div.user_box div.avatar{
    border: 1px solid #000000;
    height: 80px;
    width: 80px;
}
.notifications_manager .data div.info div.user_box div.text{
    font-weight:bold;
}
.notifications_manager .data div.info div.user_box div.link {
    margin-top: 5px;
    text-align: center;
}
.notifications_manager .data div.info div.user_box div.link a{
    color:#adb1e9;
    font-size:10px;
}
.notifications_manager .data div.info div.message_title {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.notifications_manager .data div.info div.message_text {
    background: none repeat scroll 0 0 white;
    border: 1px solid #000000;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.notifications_manager .data div.info div.parent_box{
    background: none repeat scroll 0 0 white;
    border: 1px solid #000000;
    margin-left: 5px;
    margin-top: 5px;
}
.notifications_manager .data div.info div.parent_box div.text {
    font-weight:bold;
}
.notifications_manager .data div.click_items {
    margin: 0 auto;
    width: 370px;
}
.notifications_manager .data div.click_items div.button {
    margin:3px;
}
.notifications_manager .data div.click_items div.button div{
    display:inline-block;
}
.notifications_manager .data div.click_items div.button div:last-child{
    margin-left: 5px;
}
.notifications_manager .data div.click_items div.button div:first-child{
    color:white;
    font-weight:bold;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    text-align: center;
    width: 70px;
    cursor:pointer;
}
.notifications_manager .data div.click_items div#accept.button div:first-child{
    background: none repeat scroll 0 0 #22B14C;
}
.notifications_manager .data div.click_items div#deny.button div:first-child{
    background: none repeat scroll 0 0 #ed1c24;
}

.notifications_link .ui-dialog-content {
    background: none repeat scroll 0 0 #F5FAE6;
    border: 1px solid #574F2E;
    border-radius: 5px 5px 5px 5px;
}
.notifications_link .users_select {
    margin:5px;
}
.notifications_link .users_select div:last-child{
    background: url("../images/facebook_personal.png") no-repeat scroll 0 0 transparent;
}
.notifications_link .users_select div:last-child select{
    margin-left: 30px;
    margin-top: 4px;
}
.notifications_link .user_info {
    margin: 20px 5px 5px;
}
.notifications_link .questions {
    margin: 15px;
    text-align: center;
}
.notifications_link .button {
    background: none repeat scroll 0 0 #22B14C;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    width: 70px;
}
.notifications_link .arrow {
    background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    height: 42px;
    width: 58px;
}
.notifications_link .user_box {
    background: none repeat scroll 0 0 white;
    border: 1px solid #000000;
    height: 180px;
    width: 250px;
}
.notifications_link .user_box .avatar {
    border: 1px solid #999999;
}
.notifications_link .user_box .text {
    font-weight: bold;
    font-size: 11px;
}

.ui-dialog.notifications_deny{
    background:#3F48CC;
    font-family:Tahoma;
    font-size:12px;
}
.notifications_deny .ui-dialog-content {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #574F2E;
    border-radius: 5px 5px 5px 5px;
}

.notifications_deny .header{
    text-align: center;
}
.notifications_deny .deny_content{
    background: none repeat scroll 0 0 #F5FAE6;
    border: 1px solid #999999;
    margin: 20px;
    padding: 5px;
}
.notifications_deny .deny_content .status{
    margin-left: 10px;
}
.notifications_deny .deny_content .text{
    margin: 10px;
}
.notifications_deny .deny_content .text div:last-child{
    margin-top:5px;
}
.notifications_deny .deny_content .edit{
    margin: 10px;
}
.notifications_deny .deny_content .edit textarea{
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid #808066;
    height: 110px;
    resize: none;
    width: 470px;
}
.notifications_deny .button{
    background: none repeat scroll 0 0 #22B14C;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}

.ui-dialog.notifications_accept{
    background:#3F48CC;
    font-family:Tahoma;
    font-size:12px;
}
.notifications_accept .ui-dialog-content {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #574F2E;
    border-radius: 5px 5px 5px 5px;
}
.notifications_accept .user-header {
    background: url("../images/facebook_icon.gif") no-repeat scroll 3px 2px #3B5998;
    border: 1px solid #4C67A1;
    height: 27px;
}
.notifications_accept .title {
    color: gray;
}
.notifications_accept .text {
    margin-left: 3px;
}
.notifications_accept .ui-dialog .ui-dialog-content {
    overflow: visible;
}

.ui-dialog.notifications_link{
    background:#3F48CC;
    font-family:Tahoma;
    font-size:12px;
}
.notifications_link .ui-dialog-content {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #574F2E;
    border-radius: 5px 5px 5px 5px;
}
.notifications_link .ui-dialog-buttonpane {
    background: none repeat scroll 0 0 #999999;
    border: medium none;
}
.notifications_link .user-header {
    background: url("../images/facebook_icon.gif") no-repeat scroll 3px 2px #3B5998;
    border: 1px solid #4C67A1;
    height: 27px;
}

.notifications_link .link-arrow {
    background: url("../images/arrow_down.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 52%;
    width: 33px;
}