<html>
<body>
<div style='margin:10px;'>__MSG_DEAR__ %TARGET_NAME%,</div>
<div style='margin:10px;'>%ME_NAME% __MSG_HAS_REQUESTED_MEMBERSHIP__.</div>
<div style='margin:10px;'>__MSG_TO_VIEW_THIS_REQUEST__ <a href='%BASE_URL%'>%BASE_URL%</a></div>
<div style='margin:10px;'>
    __MSG_THIS_IS_AS_AUTOMATED__.
    __MSG_PLEASE_DO_NOT_REPLY_TO_THIS_MESSAGE__.
    __MSG_PLEASE_CLICK__ <a href='%BASE_URL%/index.php/feedback'>__MSG_HERE__</a> __MSG_TO_REPORT_ANY_PROBLEMS__.
</div>
<div style='margin:10px;'>__MSG_REGARDS__,</div>
<div style='margin:10px;'>__MSG_THE_FAMILY_TREETOP_TEAM__<br><a href='%BASE_URL%'>%BASE_URL%</a></div>
</body>
</html>

