<h1><%= t('.title') %></h1>

<% semantic_form_for @theme, :url => admin_themes_path, :html => { :enctype => 'multipart/form-data' } do |f| %>
  <% f.inputs do %>
    <%= f.input :file, :as => :file %>
  <% end %>

  <%- f.buttons do %>
    <%= f.commit_button t('upload') %>
  <% end %>
  
<% end %>

<%= link_to t('back'), admin_themes_path %>