.jmb_header_profile_box {
	background: none repeat scroll 0 0 white;
	border: 1px solid #999999;
	font-family: Calibri,Tahoma,sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 60px;
	position: absolute;
	right: 50px;
	top: 5px;
	width: 200px;
}
.jmb_header_profile_box table{
	margin-top: -10px;
	width: 100%;
}

.jmb_header_profile_box .jmb-profile-box-body {
	position: relative;
	margin-top:10px;
}

.jmb-profile-login-button {
	margin-top: 20px;
	text-align: center;
}

.jmb-profile-box-avatar {
	border: 1px solid #999999;
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-top: 1px;
}
.jmb-profile-box-content{
	width:130px;
	display:inline-block;
}
.jmb-profile-box-content.jmb-profile-box-text{
	font-size: 14px;
	font-weight: bold;
    	padding: 7px;
}
.jmb-profile-box-title{
	font-size: 14px;
	font-weight: bold;
	margin-left:5px;
}
.jmb-profile-box-content ul li{
	display:inline;
}
.jmb-profile-box-content ul li span{
	color: blue;
	cursor: pointer;
    	margin-left: 3px;
}

