.jmb-families-container {
	position:relative;
}
.jmb-families-body{}
.jmb-families-body .home{
	background: url("icon-home.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
}
.jmb-families-header{}
.jmb-families-sircar{
	height: 260px;
	position: relative;
}
.jmb-families-event{}
.jmb-families-spouse{
	height: 260px;
	margin-left: 38px;
	position: relative;
}
.jmb-families-spouse-div{
	margin-bottom: 7px;
	margin-left: 30px;
}
.jmb-families-childs-container{
	/*height:180px;*/
	/*margin:10px;*/
}
.jmb-families-child{
	display: inline-block;
	margin-left: 3px;
	margin-top: 28px;
	position: relative;
}
.jmb-families-button {
	height: 24px;
	width: 24px;
}
.jmb-families-button.parent{
	margin-bottom: 3px;
	margin-left: 47px;
}
.jmb-families-button.childs{	
	margin-left: 28px;
	margin-top: 2px;
}
.jmb-families-button.parent.active{
	background: url("vector-up2.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
}
.jmb-families-button.childs.active{
	background: url("vector-down2.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
}
.jmb-families-button.childs.active.small {
	background: url("vector-down2.gif") no-repeat scroll 0 0 transparent;
	margin-left: 24px;
	margin-top: 1px;
} 
.jmb-families-button.childs.small{
	margin-left: 24px;
	margin-top: 1px;
}
img.jmb-families-avatar.view{
	cursor: url("magnify.png"), pointer;
}
.jmb-families-parent-img{
	background: white;
	border: 2px solid #000000;
	height: 120px;
	position: relative;
	width: 108px;
}
.jmb-families-child-img{
	background: white;
	border:2px solid #000;
	border: 2px solid #000000;
	position: relative;
}
.jmb-families-parent-name{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 112px;
}
.jmb-families-parent-date{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 112px;
}
.jmb-families-child-name{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.jmb-families-child-date{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.jmb-families-arrow-up {
	background: url("arrow.gif") no-repeat scroll 0 0 transparent;
	height: 28px;
	left: 39px;
	position: absolute;
	top: -26px;
	width: 1px;
}
.jmb-families-arrow-up.small{
	height: 25px;
	left: 36px;
	top: -25px;
}
.jmb-families-arrow-left {
	background: url("arrow.gif") no-repeat scroll 0 -27px transparent;
	height: 1px;
	left: 112px;
	position: absolute;
	top: 120px;
	width: 38px;
}
.jmb-families-arrow-right {
	background: url("arrow.gif") no-repeat scroll 0 -27px transparent;
	height: 1px;
	left: -38px;
	position: absolute;
	top: 120px;
	width: 38px;
}
.jmb-families-edit-button {
	background: url("edit2.jpg") no-repeat scroll 0 0 transparent;
	background-color: #3B5998;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 27px;
	font-weight: bolder;
	height: 18px;
	line-height: 17px;
	position: absolute;	
	width: 18px;
}
.jmb-families-edit-button.parent {
	left: 92px;
	position: absolute;
	top: -2px;
}
.jmb-families-edit-button.child{
	left: 56px;
	position: absolute;
	top: -2px;
}
.jmb-families-edit-button.child.small{
	left: 49px;
	top: -2px;
}
.jmb-families-edit-container{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.jmb-families-edit-container fieldset{
	margin:0;
	padding:0;
}
.jmb-families-edit-profile{
	background: url("gear.jpg") no-repeat scroll 0 0 transparent;
	cursor:pointer;
}
.jmb-families-edit-profile span {
	font-weight: bold;
	margin-left: 20px;
}
.jmb-families-edit-fieldset{
	margin-top: 10px;
}
.jmb-families-edit-parent{}
.jmb-families-edit-spouse{}
.jmb-families-edit-bs{}
.jmb-families-edit-child{}
.jmb-families-edit-fieldset div{
	background: url("add.gif") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	height: 14px;
   	margin: 3px;
}
.jmb-families-edit-fieldset div span{
	margin-left: 20px;
}
.jmb-families-edit-send{
	cursor:pointer;
	margin-top:10px;
}
.jmb-families-edit-send-img{
	background: url("email.jpg") no-repeat scroll 0 0 transparent;
	height: 14px;
	margin: 3px;
	width: 14px;
}
.jmb-families-edit-options{
	margin-left: 3px;
	margin-top:10px;
	height: 30px;
}
.jmb-families-edit-options legend {
	cursor:pointer;
	background: url("gear.jpg") no-repeat scroll 0 0 transparent;
	padding:0;
	margin:0;
}
.jmb-families-edit-options legend span {
	margin-left: 20px;
}
.jmb-families-edit-options div {
	margin-left: 10px;
	margin-top: 3px;
}
.jmb-families-edit-options-delete{
	background: url("remove.gif") no-repeat scroll 0 0 transparent;
	height: 14px;
	color: red;
	cursor:pointer;
}
.jmb-families-edit-options-delete span{
	margin-left: 20px;
}
.jmb-families-edit-options span{
	margin-left: 20px;
}
.jmb-families-edit-close {
	background: url("close.gif") no-repeat scroll 0 0 transparent;
	height: 12px;
	width: 12px;
	cursor:pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
}
.jmb-families-img-view {
	background: url("magnify.gif?111") no-repeat scroll 0 0 transparent;
	width:35px;
	height:33px;
	cursor:pointer;
	position: absolute;
}
.jmb-families-img-view.parent{
	left: 65px;
	top: 80px;
}
.jmb-families-img-view.child{
	left: 35px;
	top: 45px;
}
.jmb-families-fb-icon{
	cursor: pointer;
	height: 18px;
	position: absolute;
	width: 18px;
}
.jmb-families-fb-icon.parent{
	left: 90px;
	top: 102px;
}
.jmb-families-fb-icon.child{
	left: 54px;
	top: 54px;
}
