.item_warp{ :id => item.uuid }
  - case item.media_type
    - when 'text'
      = render 'items/statics/text', :item => item
    - when 'image'
      = render 'items/statics/image', :item => item
    - when 'widget'
      = render 'items/statics/widget', :item => item
    - when 'drawing'
      = render 'items/statics/drawing', :item => item
      