#content_manager_div {
	margin: 10px;
}

.cmPageName {
	cursor:pointer;
}

.cmBody {
	margin-top:10px;
	height: 360px;
	overflow: auto;
	width: 100%;
}

.cmIcon {
	height:32px;
	width:32px;
}

.cmIconF {
	height:16px;
	width:16px;
	margin-left: 9px;
	cursor:pointer;
}

.cmIconUpload {
	background: url('../imgs/upload.png');
}

.cmIconDelete {
	background: url('../imgs/delete.png');
}
