
.profile_div_title{
    position: relative;
    top:8px;
    left:12%;
    border-left: 3px solid #F0F8FF;
    border-right: 3px solid #F0F8FF;
    background-color: #F0F8FF;
}
.profile_div_box{
    border: 1px solid silver;
    width: 86%;
   /* margin-bottom: 10px;*/
    margin-left:5%;
}

.profile_div_status{
    margin-right:50px;
    margin-left:50px;
    display: inline-block;
    border:1px solid black;
    background-color: white;
    font-weight: bold;
}

.profile_div_basics{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    height: 100px;
}
.profile_div_events{
    height: 120px;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    overflow: auto;
}
.profile_add_label{
    background-color:yellow;
    cursor: pointer;
    display:inline-block;
    width: 100px;
    text-align:center;
}
.profile_div_other{
      text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    max-height: 68px;
    overflow:  auto;
}



.profile_bold_text{
    font-weight: bold;
}

#profile_edit_dialog{
    padding-left:0px;
    background-color:#F0F8FF;
    min-height:700px;
    display: inline-block;
    text-align: left;
    height: 100%;
    overflow: auto;
   /* width: 600px;*/
}