
#gallery ul img {

    border: 5px solid #F0F8FF;
   /*color: #FFFFFF;*/
}
#gallery ul a:hover img {

    border: 5px solid orange;
   /*color: #FFFFFF;*/
}
.media-manager-main{
    width:100%;
    height:100%;
}
.media-manager-right{
    vertical-align: top;
    width:300px;
}
.media-manager-left{
    vertical-align: top;
    width:470px;
}
.media-manager-input{
    
}
.media-manager-header{
    margin-top: 0px;
    background-color: gray;
    font-weight: bold;
     height: 1.5em;
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
   
}
.media-manager-controls-div input{
    font-size: smaller;
}
.media-manager-search{
    width:55px;

}
.media-manager-search-button{
    width:60px;
   
} 
.media-manager-margin{
    margin-left: 10px;
}
.media-manager-controls-div{
    margin-top: 5px;
    border-bottom: 1px solid black;
}
.media-manager-paging-area{
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid black;
}
.media-manager-paging-area a:hover{
    color: orange;
    margin-left: 3px;
    margin-right: 3px;
}
.media-manager-paging-area a{
    color: blue;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
   /* background-color: white;*/
}

.media-manager-paging-area .current{
    color: black;
    font-weight: bold;
    cursor: default;
    margin-left: 3px;
    margin-right: 3px;
   /* background-color: white;*/
}

.media-manager-paging-active{
    color: black;
    background-color: yellow;
}
.media-manager-gallery{
   /* overflow: none;*/
   background-color: #3E3E3E;
    width:470px;
   
        height:330px;
}
.manager_gallery_list ul{
    margin-top : 7px;
    margin:0;
    width:441px;
    padding-left: 15px;
}
.manager_gallery_list ul li{
    white-space:pre-line;
}
.manager-gallery-list-item {
    border: 5px solid #3E3E3E;
}
.manager_gallery_list ul a:hover img {
    
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
}
.manager-gallery-list-selected {
    border: 5px solid orange;
    color: orange;
}
.manager-gallery-form{
    border: 10px solid orange;
    border-top: 20px solid orange;
    margin-top: 1%;
    width:450px;
    
    height: 99%;
}
.manager-form-data{
    padding-left: 10px;
    border:1px solid black;
}
.manager-form-date-taken{
    width:80px;
    height: 13px;
    font-size: 0.7em;
}
.manager-form-text-input{
    width:180px;
    height: 13px;
    font-size: 0.7em;
}
.manager-form-description{
    width:90%;
    height: 50px;
    font-size: 0.7em;
}
.manager-family-select{
    max-width: 200px;
   
}
.manager-family{
 
   
    border: 10px solid orange;
    border-top: 20px solid orange;
    border-bottom: 20px solid orange;
    
   /* width:450px;*/

    /*height: 400px;*/
}
.manager-forms-border{
 position: relative;
    top:5px;
    border:1px solid black;
  
}
.manager-family-data{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid black;
    height: 360px;
    overflow: auto;
}
.manager-save-and-cancel-div{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.manager-execute-button{
    margin-top: 10px;
    width: 100px;
    margin-left: 20px;
}

