html, body {
	width: 100%;
	margin: 0px;

}

#pages {
	width: 980px;
	position: relative;
}
/**
* FMB STYLESHEET - MAIN
*/ 
* {
    margin: 0;
    padding: 0;
}
.content {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    margin: 20px auto 0;
    max-width: 760px;
    line-height: 1.28;
}
.header {
    position: relative;
}
.main {
	position:relative;
}
.right {
	padding-top: 46px;
}
.footer {
    color: gray;
    font-family: Tahoma;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
.footer ul li{
    cursor: pointer;
    display: inline-block;
    list-style: none outside none;
    margin: 5px;

}
.footer ul li a {
    text-decoration: none;
    color: gray;
}

#container {
	position:relative;
    min-width: 760px;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
}

/**
* FMB STYLESHHET - TOP MENU BAR
*/
.jmb-top-menu-bar{
	background: none repeat scroll 0 0 #6B944E;
	height: 30px;
}
.jmb-top-menu-bar .jmb-top-menu-bar-logo{
	background: url("../img/ftt_logo.png") no-repeat scroll 0 0 transparent;
	height: 35px;
	width: 115px;
    float: left;
}
.jmb-top-menu-bar .jmb-top-menu-bar-content{
	border-left: 1px solid #CCCCCC;
	height: 30px;
    float: left;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item{
	color: white;
	display: inline-block;
	margin: 5px;
	font-weight:bold;
    padding: 0 5px;
    border-radius: 1px;
}
/* header items */
.jmb-top-menu-bar .jmb-top-menu-bar-content .jmb-top-menu-bar-item:hover{
    background-color: #86af67;
}

.jmb-top-menu-bar .jmb-top-menu-bar-content .jmb-top-menu-bar-item span{
	cursor: pointer;
}

.jmb-top-menu-bar .jmb-top-menu-bar-content .jmb-top-menu-bar-item span.active{
	color:gold;
}
/* haeder after footer links */
.jmb-top-menu-bar .jmb-top-menu-bar-title{
    color: white;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 8px;
}
.jmb-top-menu-bar .jmb-top-menu-bar-title span{
    color: yellow;
}
.jmb-top-menu-bar .jmb-top-menu-bar-return{
    background: url("../img/arrow_left.png") no-repeat scroll 0 3px transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
}
.jmb-top-menu-bar .jmb-top-menu-bar-return span{
    color: white;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-left: 19px;
}
/* profile */

.jmb-top-menu-bar #_profile {
    float: right;
}