html, body {
	width: 100%;
	margin: 0px;       
}
	
#pages {
	width: 980px;
	position: relative;
}
/**
* FMB STYLESHEET - MAIN
*/ 
* {
    margin: 0;
    padding: 0;
}
.content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 solid;
	color: #333333;
	font-family: Calibri,Tahoma;
	font-size: 12px;
	margin: 50px auto 0;
	max-width: 760px;
	padding-top: 0;
}
.header {
    position: relative;
}
.main {
	position:relative;
}
.right {
	padding-top: 46px;
}
.footer {
    color: gray;
    font-family: Tahoma;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
.footer ul li{
    cursor: pointer;
    display: inline-block;
    list-style: none outside none;
    margin: 5px;

}
.footer ul li a {
    text-decoration: none;
    color: gray;
}

#container {
	position:relative;
    min-width: 760px;
}

/**
* FMB STYLESHHET - TOP MENU BAR
*/
.jmb-top-menu-bar{
	background: none repeat scroll 0 0 #6B944E;
	height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.jmb-top-menu-bar-logo{
	background: url("../images/ftt_logo.png") no-repeat scroll 0 0 transparent;
	height: 35px;
	left: 0;
	position: absolute;
	top: 0px;
	width: 115px;
}
.jmb-top-menu-bar div.jmb-top-menu-bar-content{
	border-left: 1px solid #CCCCCC;
	font-family: Calibri,Tahoma,sans-serif;
	font-weight: bold;
	left: 120px;
	position: absolute;
	top: 0;
    height: 30px;
}

.jmb-top-menu-bar .jmb-top-menu-bar-title{
    color: white;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    left: 130px;
    position: absolute;
    top: 7px;
}
.jmb-top-menu-bar .jmb-top-menu-bar-title span{
    color: yellow;
}
.jmb-top-menu-bar .jmb-top-menu-bar-return{
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
    cursor: pointer;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item{
	color: white;
	display: inline-block;
	margin: 5px;
	font-weight:bold;
    padding: 0 5px;
    border-radius: 1px;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item:hover{
    background-color: #86af67;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item span{
	cursor: pointer;
}

.jmb-top-menu-bar div.jmb-top-menu-bar-content div.jmb-top-menu-bar-item span.active{
	color:gold;
}
