/* app.color.css */

.app_layer {
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  
  background-image: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, rgb(220,220,220)), color-stop(1, rgb(255,255,255)) );
  background-image: -moz-linear-gradient(
    center bottom, rgb(220,220,220) 0%, rgb(255,255,255) 100% );
  
  background-color: #999999;
  
  border: none;
}

textarea {
  border: 1px solid rgb(160, 160, 160);

  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;

  background-image: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, rgb(220,220,220)), color-stop(1, rgb(255,255,255)) );
  background-image: -moz-linear-gradient(
    center bottom, rgb(220,220,220) 0%, rgb(255,255,255) 100% );
    
}

textarea:focus {
  border: none;
}

.app_question {
  color: white;
  
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  
  background-color: rgb(47,110,195);
  
  background-image: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, rgb(47,110,195)), color-stop(1, rgb(54,127,223)) );
  background-image: -moz-linear-gradient(
    center bottom, rgb(47,110,195) 0%, rgb(54,127,223) 100% );
}

.app_question .arrow {
  background-image: url('../../images/apps/arrow.png');
}

.option .grabber_button {
  background: ;
}

.option label {
  border: 1px solid transparent;
}

.option label:hover {
  border: 1px solid rgb(160, 160, 160);

  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;

  background-image: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, rgb(220,220,220)), color-stop(1, rgb(255,255,255)) );
  background-image: -moz-linear-gradient(
    center bottom, rgb(220,220,220) 0%, rgb(255,255,255) 100% );
    
}