/* Links as buttons, thumbnails,  classes */

.edit_button {
  position: absolute;
  left: 0.3333em;
}

.panel_button {
  background-position: 0 0;
}

.panel_button.active {
  background-position: 0 -24px;
}

.app_button {
  background-position: 0 0;
}

.app_button.active {
  background-position: 0 -24px;
}

.control_button {
  background-image: url('../images/control_buttons.png');
  background-position: 0 0;
}

.control_button.active,
.full_view a[href='#full'].control_button {
  background-position: 0 -24px;
}

