/*@stephen, I don't know where to put it !!!*/

.choose_friend {
	border: 1px dotted black;

}
.choose_friend:hover {
	border: 1px solid #919CA0;
}

.selected_friend{
  background-color: #919CA0;
  color:rgb(255,255,255);
  -moz-border-radius:		5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px;
	border:1px transparent solid;
}

/* Big Pulsing button */ 
	a.bigButton {
		display: inline-block;
		padding: 7px 15px;
		margin: 0 3px;
		background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), color-stop(.05, rgb(230,230,230)), to(rgb(196,196,196))) !important;
    background: #c4c4c4 -moz-linear-gradient(center top,rgb(255,255,255) 0%,rgb(230,230,230) 5%, rgb(196,196,196) 100%) !important;
		color: #444 !important;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,.9);
		-moz-border-radius:		20px;
		-webkit-border-radius: 	20px;
		border-radius: 			20px;
		border: 1px solid rgb(100, 150, 255);
    -moz-box-shadow:	0 0 4px #6998ff;
		-webkit-box-shadow:	0 0 4px #6998ff;
		box-shadow:			0 0 4px #6998ff;	
		-webkit-animation-name: 'glow';
		-webkit-animation-duration: .7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		-webkit-animation-timing-function: ease-in-out;		

	}
	
	@-webkit-keyframes 'glow'
	{		
		0% {
			border-color: rgba(100, 150, 255, .5);
			-webkit-box-shadow: 0 0 1px rgba(100, 150, 255, .3);
		}
		100% {
			border-color: rgba(100, 150, 255, 1);
			-webkit-box-shadow: 0 0 10px rgba(100, 150, 255, 1);
		}
	}
	
/* Express Box */
.express_box {
padding-top:40px;
text-align:center;
}