/* editor.layout.css */

body.full_view {
  overflow: hidden;
}

.transition_support body.transition {
  overflow: auto;
}

/* .wrap extensions ------------------------- */

.wrap {
  /* Transition to full view. Transitions can't go from % to length
     values. Boo, rubbish. We have to use a combination of height
     and min-height to get both types of value to cooperate. */
  -webkit-transition: width 0.3s linear, max-width 0.3s linear, height 0.3s linear, min-height 0.3s linear, max-height 0.3s linear, margin 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
  -moz-transition:    width 0.3s linear, max-width 0.3s linear, height 0.3s linear, min-height 0.3s linear, max-height 0.3s linear, margin 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
  transition:         width 0.3s linear, max-width 0.3s linear, height 0.3s linear, min-height 0.3s linear, max-height 0.3s linear, margin 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
}

.full_view .wrap {
  width: 100%;
}

.site_wrap {
  padding-right: 288px;
}

.full_view .site_wrap {
  max-width: 2400px;
}

.workspace_wrap {
  height: 50%;
  min-height: 466px;
  /* Makes room for Sharing panel */
  margin-bottom: 96px;
}

.full_view .workspace_wrap {
  padding-right: 0;
  height: 100%;
  min-height: 0;
  margin-bottom: 0;
}

.title_wrap {
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 1;
}

.full_view .title_wrap {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
}

.editor_wrap {
  width: 98%;
  height: 100%;
  min-height: 466px;
  margin-left: 0;
  margin-right: 0;
}

.full_view .editor_wrap {
  width: 100%;
  min-height: 0;
  margin-bottom: 0;
}

.content_wrap {
  width: 98%;
  height: auto;
  margin: 0 0 2em 0;
  opacity: 1;
}

.full_view .content_wrap {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  display: none;
}

.transition_support .full_view.transition .content_wrap {
  display: block;
}

/* .panel extensions ------------------------- */ 

.panel {
  -webkit-transition: opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, right 0.3s linear, bottom 0.3s linear;
  -moz-transition:    opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, right 0.3s linear, bottom 0.3s linear;
  transition:         opacity 0.8s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, right 0.3s linear, bottom 0.3s linear;
}
                                              
.full_view .panel.active {
  -webkit-transition: opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -moz-transition:    opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  transition:         opacity 0.12s linear, max-height 0.3s linear, margin 0.3s linear, top 0.3s linear, bottom 0.3s linear;
}

/* Manage layering of panels. Active panels 
   slide over other panels as they come into focus */

.browser_panel,
.inspector_panel,
.comments_panel,
.activity_panel,
.my_content_panel,
.packages_panel,
.browse_web_panel,
.page_inspector_panel,
.document_inspector_panel,
.apps_panel,
.side_panel {
  z-index: 4;
}
.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.activity_panel.active,
.my_content_panel.active,
.packages_panel.active,
.browse_web_panel.active,
.page_inspector_panel.active,
.document_inspector_panel.active,
.apps_panel.active,
.side_panel.active {
  z-index: 5;
}
.sharing_panel,
.pages_panel {
  z-index: 1;
}
.sharing_panel.active,
.pages_panel.active {
  display:block;
  opacity:1;
  z-index: 2;
}
.tools_panel,
.controls_panel {
  z-index: 3000000;
}

/* Manage show/hide of panels between page view
   and full view. */

.browser_panel,
.inspector_panel,
.comments_panel,
.activity_panel,
.my_content_panel,
.packages_panel,
.browse_web_panel,
.page_inspector_panel,
.document_inspector_panel,
.apps_panel,
.pages_panel
/*.sharing_panel,*/ {
  /* It would be great to make this happen after the fade... */
  display: none;
  opacity: 0;
}

.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.my_content_panel.active,
.packages_panel.active,
.browse_web_panel.active,
.page_inspector_panel.active,
.document_inspector_panel.active,
.apps_panel.active,
.activity_panel.active{
  display: block;
  opacity: 1;
}

.full_view .browser_panel,
.full_view .inspector_panel,
.full_view .comments_panel,
.full_view .activity_panel,
.full_view .my_content_panel,
.full_view .packages_panel,
.full_view .browse_web_panel,
.full_view .document_inspector_panel,
.full_view .page_inspector_panel,
.full_view .apps_panel
/*.full_view .sharing_panel,*/ {
  display: block;
  opacity: 0;
}

.full_view .browser_panel.active,
.full_view .inspector_panel.active,
.full_view .comments_panel.active,
.full_view .activity_panel.active,
.full_view .my_content_panel.active,
.full_view .packages_panel.active,
.full_view .browse_web_panel.active,
.full_view .page_inspector_panel.active,
.full_view .document_inspector_panel.active,
.full_view .apps_panel.active
/*.full_view .sharing_panel.active,*/{
  opacity: 1;
}

/* Panel types */

.side_panel {
  overflow: auto; 

  right: -2%;
  top: 0;
  margin-right: -288px;
  width: 288px;
  
  max-height: 1000%;
  min-height: 20%;
}

.full_view .side_panel {
  max-height: 100%;
  
  right: 0;
  top: 2.6667em;
  bottom: 2.6667em;
  background-color: white;
}

.full_view .side_panel.active {
  margin-right: 0;
}

.tools_panel {
  left: 0;
  top: 0;
  width: 100%;
  height: 2.6667em;
  padding: 0.3333em;
}

.controls_panel {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.6667em;
  padding: 0.3333em;
}

.browser_panel,
.inspector_panel,
.comments_panel,
.my_content_panel,
.packages_panel,
.browse_web_panel,
.page_inspector_panel,
.document_inspector_panel,
.apps_panel,
.activity_panel {
  width: 288px;
  margin-right: -288px;
  right: -2%;
  top: 0;
  bottom: 0;
}

.browser_panel.active,
.inspector_panel.active,
.comments_panel.active,
.activity_panel.active,
.my_content_panel.active,
.packages_panel.active,
.browse_web_panel.active,
.page_inspector_panel.active,
.document_inspector_panel.active,
.apps_panel.active{

}

.full_view .browser_panel,
.full_view .inspector_panel,
.full_view .comments_panel,
.full_view .my_content_panel,
.full_view .packages_panel,
.full_view .browse_web_panel,
.full_view .page_inspector_panel,
.full_view .document_inspector_panel,
.full_view .apps_panel,
.full_view .activity_panel {
  right: 0;
  top: 2.6667em;
  bottom: 2.6667em;
}

.full_view .browser_panel.active,
.full_view .inspector_panel.active,
.full_view .comments_panel.active,
.full_view .my_content_panel.active,
.full_view .packages_panel.active,
.full_view .browse_web_panel.active,
.full_view .page_inspector_panel.active,
.full_view .document_inspector_panel.active,
.full_view .apps_panel.active,
.full_view .activity_panel.active {
  margin-right: 0;
}

.pages_panel,
.sharing_panel {
  left: 0;
  bottom: 2.6667em;
  width: 100%;
  height: 96px;
  margin-bottom: -128px;
}
.pages_panel {
  height: 0px; /* set 0 for the moment otherwise it above full button */ 
}
.sharing_panel {
  height: 96px;
}

.full_view .pages_panel.active,
.full_view .sharing_panel.active {
  margin-bottom: 0;
}

/*.full_view .pages_panel,
.full_view .sharing_panel {
  height: 0;
}*/

/* .index extensions ---------------------- */

.author_index {
  height: 48px;
  overflow: hidden;
}

.author_index li {
  margin-right: 0.3333em;
}

.reader_index {
  height: 32px;
  overflow: hidden;
}

.reader_index li {
  margin-right: 0.3333em;
}

.message_index li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 0.3333em; /* 4px */
  min-height: 32px;
}

.message_index .user_thumb {
  position: absolute;
  top: 0; left: 0;
  /* This is the default size */
  /* 
  background-size: 32px 32px;
  padding-top: 32px;
  width: 32px;
  */
}

.thumbs_index li {
  margin-bottom: 0.3333em;
}

.view_index {
  width: 24px;
  position: absolute;
  right: 0.3333em;
}

.edit_index {
	position: absolute;
	left: 2.3333em;
}

.app_index {
	position: absolute;
  top: 0.3333em;
	left: 9em;
}

.panel_index {
  position: absolute;
  top: 0.3333em;
  right: 0.3333em;
}

.footpanel_buttons_index {
  position: absolute;
  right: 5em;
}


/* .button extensions ------------------------- */

.edit_button {
  position: absolute;
  left: 0.3333em;
}

.panel_button {
  width: 2em;
  /* hide button text */
  padding-top: 2em;
  background-position: 0 0;
}

.panel_button.active {
  background-position: 0 -24px;
}

.panel_button[href='#toggle_sharing_panel'] {
  display: none;
}

.full_view .panel_button[href='#toggle_sharing_panel'] {
  display: inline-block;
}

.app_button {
  background-position: 0 0;
}

.app_button.active {
  background-position: 0 -24px;
}

.control_button {
  background-image: url('../images/control_buttons.png');
  background-position: 0 0;
}

.control_button.active,
.full_view a[href='#full'].control_button {
  background-position: 0 -24px;
}


/* .thumb extensions ------------------------- */

.logo_thumb {
  -webkit-transition: margin-left 0.3s ease-in;
  -moz-transition:    margin-left 0.3s ease-in;
  transition:         margin-left 0.3s ease-in;
}

.full_view .logo_thumb {
  margin-left: 6px;
}

.author_thumb {
  background-size: 48px 48px;
  padding-top: 48px;
  width: 48px;
}

.user_thumb {
  background-size: 32px 32px;
  padding-top: 32px;
  width: 32px;
}

/* .message extensions */

.message {
  font-size: 0.8333em; /* 10px */
}

/* Drag and drop feedback */

#media_drag_feedback {
 padding:6px 8px 10px;
}

#media_drag_feedback.video { width:120px; height:90px; }
#media_drag_feedback.image { width:120px; height:120px; }
#media_drag_feedback.app { width:120px; height:120px; }

#media_drag_feedback img {
 -webkit-box-shadow:0 2px 8px #000;
 -moz-box-shadow:0 2px 8px #000;
}

#media_drag_feedback.video img { width:120px; height:90px; }
#media_drag_feedback.image img { width:120px; height:120px; }
#media_drag_feedback.app img { width:120px; height:120px; }

#media_drag_feedback span {
  display:block;
  position:absolute;
  top:6px;
  left:8px;
}
#media_drag_feedback.video span {
  width:120px;
  height:90px;
  background:transparent url(/images/libraries/drag_video.png) no-repeat;
}

#media_drag_feedback.image span {
  width:120px;
  height:120px;
  background:transparent url(/images/libraries/drag_image.png) no-repeat;
}

#media_drag_feedback.app span {
  width:120px;
  height:120px;
  background:transparent url(/images/libraries/drag_app.png) no-repeat;
}
