/* Extensions to index class */

.author_index {
  height: 48px;
  overflow: hidden;
}

.author_index li {
  margin-right: 0.3333em;
}

.reader_index {
  height: 32px;
  overflow: hidden;
}

.reader_index li {
  margin-right: 0.3333em;
}

.message_index li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 0.3333em; /* 4px */
  min-height: 32px;
}

.message_index .user_thumb {
  position: absolute;
  top: 0; left: 0;
  /* This is the default size */
  /* 
  background-size: 32px 32px;
  padding-top: 32px;
  width: 32px;
  */
}

.thumbs_index li {
  margin-bottom: 0.3333em;
}

.view_index {
  width: 24px;
  position: absolute;
  right: 0.3333em;
}

.edit_index {
	position: absolute;
	left: 2.3333em;
}

.app_index {
	position: absolute;
	left: 9em;
}

.panel_index {
  position: absolute;
  right: 0.3333em;
}

.footpanel_buttons_index {
  position: absolute;
  right: 5em;
}