

.inspector .content {
    padding-top: 0.8em;
}

.inspector input[type] {
	width: 80%;
}

/* .thumb extensions */

.search_thumb {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}