/* .panel classes */


/* .inspector panes */

.inspector>header h3 {
  color: white;
  background: rgba(0,0,0,0.4);
}

/* .thumb classes */

.app_thumb {
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  
  -webkit-box-shadow: 0 4px 8px 4px rgba(64, 64, 64, 0.8);
  -moz-box-shadow:    0 4px 8px 4px rgba(64, 64, 64, 0.8);
  box-shadow:         0 4px 8px 4px rgba(64, 64, 64, 0.8);
}

/* Temporary bg images for app icons */
.app_thumb[href='#face'] { background-image: url('../../prototype/images/face.png'); }
.app_thumb[href='#goog'] { background-image: url('../../prototype/images/goog.png'); }
.app_thumb[href='#poll'] { background-image: url('../../prototype/images/poll.png'); }
.app_thumb[href='#twit'] { background-image: url('../../prototype/images/twit.png'); }
.app_thumb[href='#sdcd'] { background-image: url('../../prototype/images/sdcd.png'); }
.app_thumb[href='#flkr'] { background-image: url('../../prototype/images/flkr.png'); }