/* .panel extensions */

.panel>header {
  text-align: center;
  margin-bottom: 0;
  height: 2.6667em;
}

.panel>header h3 {
	font-size: 1.6667em;
	line-height: 1.6;
	font-weight: normal;
}

.panel .content {
  position: absolute;
  /* top must match height of header */
  top: 2.6667em;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.pages_panel .content {
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

/* .index extensions */

.apps_index {
  margin: 0 auto;
  padding: 12px 0 0 12px;
}

.wee_thumbs_index {
  padding: 18px 0 0 18px;
  width: 282px;
}

.wee_thumbs_index>li {
  margin-right: 18px;
  margin-bottom: 18px;
}

.med_thumbs_index {
  padding: 20px 0 0 20px;
  width: 272px;
}

.med_thumbs_index>li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.big_thumbs_index {
  width: 280px;
  padding: 16px 0 0 16px;
}

.big_thumbs_index>li {
  margin-right: 16px;
  margin-bottom: 16px;
}

.pageedit_index {
	position: absolute;
	top: 0.3333em;
	left: 0.3333em;
	
	opacity: 0;
	display: none;
	-webkit-transition: opacity 0.18s ease-in;
	   -moz-transition: opacity 0.18s ease-in;
	        transition: opacity 0.18s ease-in;
}

.edit_mode .pageedit_index {
	opacity: 1;
	display: block;
	-webkit-transition: opacity 0.06s ease-out;
	   -moz-transition: opacity 0.06s ease-out;
	        transition: opacity 0.06s ease-out;
}

.editor_wrap.transition .pageedit_index {
	display: block;
}

/* .thumb extensions */

.big_thumb {
  width: 72px;
  padding-top: 72px;
  background-size: 72px 72px;
}
.med_thumb {
  width: 64px;
  padding-top: 64px;
  background-size: 64px 64px;
  
  /* Make the text show below the thumb */
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 1em;
  line-height: 2.3333em;
  
  font-size: 0.9167em;
  color: white;
  
  /* Needs index of 240 */
}
.wee_thumb {
  width: 48px;
  padding-top: 48px;
  background-size: 48px 48px;
  /* Needs index of 252 */
}

.page_thumb {
  width: 120px; height: 120px;
  position: relative;
  overflow: hidden;
  background-color: hsla( 208, 8%, 20%, 0.9);
}

.page_thumb .webdoc {
  position: absolute;
  left: 0; top: 0;
  overflow: hidden;
}

/* Sidebar */
.sidebar_wrap {
	background-color: rgb(248,248,248);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:10px;
	padding:10px;
}