/* Site colours */

body {
  background-color: white;
}

/* The site header */
body>header {
  background-color: #dddddd;
}

/* TEST COLORS - delete!!! */

.webdoc {
  background-color: yellow;
}

.center {
  background-color: orange;
}

.center_cell {
  background-color: red;
}

.center_box {
  background-color: purple;
}