/* layout.css */

html, body {
  height: 100%;
}

body {
  /* Top padding makes room for the top logo bar */
  padding-top: 3em;
  /* Set as position parent */
  position: relative;
}

/* The site header */
body>header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 3em;
}

.user {
  position: absolute;
  top: 0;
  right: 18em;
}

/* .wrap extensions */

.site_wrap {
  width: 88%;
  min-width: 720px;
  max-width: 1440px;
}

/* .index extensions */

.sitenav_index {
  position: absolute;
  top: 0;
  left: 180px;
}

.usernav_index {
  position: absolute;
  top: 0;
  right: 0;
}

/* .number */

.number {
	display: inline-block;

  width: 1.5em; height: 1.5em;
  -webkit-border-radius:  0.75em;
  -moz-border-radius:     0.75em;
  border-radius:          0.75em;
  	
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}