/* site.typography.css
 * 
 * Developed using ideas from:
 * www.blueprintcss.org
 * www.webtypography.net
 * 
 * The default font-size is 1em == 12px. to resize
 * text, Use this table as a guide:
 * 
 * 8px  == 0.666em
 * 9px  == 0.75em
 * 10px == 0.833em
 * 11px == 0.9167em
 * 12px == 1em
 * 14px == 1.1667em 
 * 15px == 1.25em
 * 16px == 1.3333em
 * 18px == 1.5em 
 * 20px == 1.6667em  
 * 21px == 1.75em
 * 24px == 2em
 * 
 */

html {
    font-size:100%;
}

body{
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a:focus,
a:hover           { color: hsl(208, 50%, 20%); text-decoration: none; }
a                 { color: hsl(208, 60%, 50%); text-decoration: none; }

/* Fonts */

pre, code { font-family: 'Courier', 'Andale Mono', 'Lucida Console', monospace; }

/* Block elements */

h1,h2,h3,h4,h5,h6 { font-weight: bold; margin: 0; word-spacing: -0.0833em; }

h1                { font-size: 1.5em;                        margin-bottom: 0.4167em; font-weight: normal; 	color:#919CA0;}
h2                { font-size: 1em;     line-height: 1.5;    margin-bottom: 0.5em;		color:#919CA0;}
h3                { font-size: 2em;     line-height: 1.25;   margin-bottom: 0.625em; }
h4                { font-size: 1.2em;   line-height: 1.0417; }
h5                { font-size: 1.1em;   line-height: 1.1364; }
h6                { font-size: 1em;                          }

*+h1              { margin-top: 0.4167em; }
*+h2              { margin-top: 0.5em; }
*+h3              { margin-top: 0.625em; }
*+h4              { margin-top: 1.0417em; }
*+h5              { margin-top: 1.1364em; }
*+h6              { margin-top: 1.25em; }

p                 { margin: 0; }

/* Things that should have margin after headings */
h1+p,
h2+p,
h3+p              { margin-top: 1.25em; }

/* Things that should have margin after paragraphs */
p+p,
p+ul,
p+dl,
p+ol,
p+table,
p+address,
p+pre,
p+blockquote      { margin-top: 1.25em; }

/* Make first letter different */
/*p::first-letter   { font-size: 1.3333em; line-height: 1em; font-style: italic; letter-spacing: 0.1333em; }
p+p::first-letter { font-size: 1em; line-height: 1.3333; font-style: normal; letter-spacing: 0em; }*/
/* Make first line different */
/*p::first-line     {  }
p+p::first-line   { font-weight: normal; }*/
/* Start paragraphs with a character or symbol */
/*p+p:before  { content: "\2767"; padding-right: 0.4em; }*/

p img             { float: right; margin: 1em 0 1em 1.25em; padding: 0; }

p,
li,
dt,
dd,
blockquote,
address           { word-spacing: 0.2em; }

li ul,
li ol,
dd                { margin: 0; }
ul,
ol,
dl                { margin: 0 0 1.25em 0; }
li,
dd                { margin-bottom: 0.625em;}

/*fix that would avoid a cutoff of digits in the ordered list, using a large font size*/
/* Yes, but it breaks the horizontal typographic grid, as well as the ability to add classes like .index to a list */
/*li,
dd        { margin-left: 0.625em;}*/

li li             { line-height: 1.4286; margin-bottom: 0; font-size: 0.875em; }
li li li          { line-height: 1.68; }

ul                { list-style-type: disc; }
ol                { list-style-type: decimal; }

dt                { font-weight: bold; }

blockquote        { margin: 0 0 1.25em 0; padding: 0; font-style: italic; }
blockquote:before { content: "\201C"; font-size: 3em; color: #484848; float: left; margin-left: -0.6em; line-height: 0.84em; }
pre               { margin: 1.25em 0; white-space: pre; }
address           { margin: 1.25em 0; }


/* Inline elements */

strong,
dfn               { font-weight: bold; }
em,
dfn               { font-style: italic; }
sup,
sub               { line-height: 0; font-size: 0.625em; }

abbr              { letter-spacing: 0.1em; }
pre,
code,
tt                { font: 1em 'andale mono', 'lucida console', monospace; }
del               { opacity: 0.6; filter: alpha(opacity=60%); font-style:italic; text-decoration: line-through; }

/* Tables */

table             { margin-bottom: 1.4em; width:100%; }
th                { font-weight: bold; }
th,
td,
caption           { padding: 4px 10px 4px 5px; }
tfoot             { font-style: italic; }
caption           { background: #eee; }

/* Indentation */

ul,
ol,
blockquote,
dd,
.webdoc_indent_1  { margin-left: 2.5em; }
.webdoc_indent_2  { margin-left: 5em; }
.webdoc_indent_3  { margin-left: 7.5em; }
.webdoc_indent_4  { margin-left: 10em; }
.webdoc_indent_5  { margin-left: 12.5em; }
.webdoc_indent_6  { margin-left: 15em; }
.webdoc_indent_7  { margin-left: 17.5em; }
.webdoc_indent_8  { margin-left: 20em; }
.webdoc_indent_9  { margin-left: 22.5em; }
.webdoc_indent_10 { margin-left: 25em; }
.webdoc_indent_11 { margin-left: 27.5em; }
.webdoc_indent_12 { margin-left: 30em; }

/*
ul, ol, blockquote, dd,
.webdoc_indent_1  { padding-left: 4%; }
.webdoc_indent_2  { padding-left: 8%; }
.webdoc_indent_3  { padding-left: 12%; }
.webdoc_indent_4  { padding-left: 16%; }
.webdoc_indent_5  { padding-left: 20%; }
.webdoc_indent_6  { padding-left: 24%; }
.webdoc_indent_7  { padding-left: 28%; }
.webdoc_indent_8  { padding-left: 32%; }
.webdoc_indent_9  { padding-left: 36%; }
.webdoc_indent_10 { padding-left: 40%; }
.webdoc_indent_11 { padding-left: 44%; }
.webdoc_indent_12 { padding-left: 48%; }*/