/* layout.css */

html, body {
  height: 100%;
}

body {
  /* Top padding makes room for the top logo bar */
  padding-top: 3.3333em;
  /* Set as position parent */
  position: relative;
}

/* manage layers */

.site_wrap      { z-index: 1; }
.workspace_wrap { z-index: 2; }
.header_panel   { z-index: 3; }
#flash          { z-index: 4; }

/* The site header */
.header_panel {
  top: 0; left: 0; right: 0;
  /* Must be matched with padding-top on the body */
  height: 3.3333em;
}

.logo_thumb {
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 107px;
  padding-top: 42px;
  background-size: 107px 25px;
  background-position: 0 0;
  background-image: url('../../images/thumbs/logo_thumb_white.png');
}

.user {
  position: absolute;
  top: 0;
  right: 18em;
}

/* .wrap extensions */

.site_wrap {
  width: 88%;
  min-width: 720px;
  max-width: 1440px;
}

/* .index extensions */

.nav_index {
  position: absolute;
  top: 0.75em;
  left: 180px;
}

.nav_index>li {
  margin-right: 0.3333em;
}

.usernav_index {
  position: absolute;
  top: 0.75em;
  right: 0;
}

.usernav_index>li {
  margin-right: 0.6666em;
}

.usernav_index>li:last-child {
  margin-left: 2em;
  margin-right: 0;
}

.dropdown_index {
	/* Reduce menu size a little ? */
  /*font-size: 0.9167em;*/
  top: 2em;
  opacity: 0;
  -webkit-transition: opacity 0.18s ease-out, top 0.18s ease-out;
     -moz-transition: opacity 0.18s ease-out, top 0.18s ease-out;
          transition: opacity 0.18s ease-out, top 0.18s ease-out;
}

.dropdown_index.active {
  top: 2.3333em;
  opacity: 1;
  -webkit-transition: opacity 0.06s ease-in, top 0.06s ease-in;
     -moz-transition: opacity 0.06s ease-in, top 0.06s ease-in;
          transition: opacity 0.06s ease-in, top 0.06s ease-in;
}

.messages_dropdown_index {
	left:-10em;
}

.messages_dropdown_index.active {
	background-color:rgba(248,248,248,1);
	padding:10px;

}

.messages_dropdown_index > li {
	padding-bottom:10px;
}

.messages_dropdown_index > li:first-child {
	padding-top:10px;
	padding-bottom:10px;
	height:5em;
}

.messages_dropdown_index > li:first-child:hover {
	background-color: rgba(248,248,248,1);
	padding-bottom:10px;
}

.messages_dropdown_index > li:hover {
	background-color: rgb(235,235,235);
}


.friends_index >li {
	width:25em;
	margin-bottom: 1em;
}

/* .button extensions */

.header_button {
  height: 1.8333em;
  line-height: 1.8333em;
  padding-left:		10px;
  padding-right:	10px;
  font-weight: bold; 
}

.sendmessage_button {
	top:0;
	float:right;
}

/* .number */

.number {
	display: inline-block;

  width: 1.5em; height: 1.5em;
  -webkit-border-radius:  0.75em;
  -moz-border-radius:     0.75em;
  border-radius:          0.75em;
  	
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}


/* flash messages */

#flash {
	position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-left: -300px;
  padding: 2em;
  width: 600px;
  
  color: yellow;
  background: rgba(220, 90, 10, 0.96);
  
	-webkit-border-radius: 0.8333em;
	-moz-border-radius:    0.8333em;
	border-radius:         0.8333em;
	
	opacity: 0;
	
	-webkit-transition: opacity 0.4s ease-in;
	   -moz-transition: opacity 0.4s ease-in;
	        transition: opacity 0.4s ease-in;
}

#flash.active {
	opacity: 1;
	
	-webkit-transition: opacity 0.06s ease-in;
	   -moz-transition: opacity 0.06s ease-in;
	        transition: opacity 0.06s ease-in;
}

.flash_message {
	border-bottom: 1px solid rgb(220,160,0);
	padding-bottom: 0.3333em;
	margin-bottom: 0.3333em;
}
.flash_message:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}


/* CSS Popup */
    #popup {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    }

    #popup li.lb {
    width: 100%;
    height: 9999px;
    position: relative;
    background: transparent;}

    #popup .box {
    position: absolute;
    width: 500px;
    height: auto;
    left: 50%;
    top: 50px;
    border: 10px solid #999;
    margin-left: -230px;
    background-color: #fff;
    padding: 20px;
     z-index:4;
     -moz-border-radius:		5px;
     -webkit-border-radius: 	5px;
     border-radius: 			5px;
     }

    #popup h3 {
    font-weight: normal;
    font-size: 1.8461em;
    margin: 0 0 0.4583em 0;}

    #popup a.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #ddd;
    text-decoration: none;
    font-weight: bold;
    color: #999;
    font-size: 1.2em;}

    #popup a.close:hover {
    background-color: #999;
    color: #fff;}

    #popup #close {
    background-color: transparent;
    z-index: -1;}
