/* layout.css */

html, body {
  height: 100%;
}

body {
  /* Top padding makes room for the top logo bar */
  padding-top: 3em;
  /* Set as position parent */
  position: relative;
}

/* manage layers */

.site_wrap { z-index: 1; }
.workspace_wrap {z-index:2;}
#flash 		 { z-index: 4; }
body>header { z-index:3;}

/* The site header */
body>header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 3em;
}

.logo_thumb {
  position: absolute;
  top: 0;
  left: 0;
}

.user {
  position: absolute;
  top: 0;
  right: 18em;
}

/* .wrap extensions */

.site_wrap {
  width: 88%;
  min-width: 720px;
  max-width: 1440px;
}

/* .index extensions */

.nav_index {
  position: absolute;
  top: 0.5em;
  left: 180px;
}

.nav_index>li {
  margin-right: 0.3333em;
}

.usernav_index {
  position: absolute;
  top: 0.5em;
  right: 0;
}

.usernav_index>li {
  margin-right: 0.6666em;
}

.usernav_index>li:last-child {
  margin-left: 2em;
  margin-right: 0;
}

.dropdown_index {
	top: 2em;
	opacity: 0;
	-webkit-transition: opacity 0.18s ease-out, top 0.18s ease-out;
	   -moz-transition: opacity 0.18s ease-out, top 0.18s ease-out;
	        transition: opacity 0.18s ease-out, top 0.18s ease-out;
}

.dropdown_index.active {
	top: 2.3333em;
	opacity: 1;
	-webkit-transition: opacity 0.06s ease-in, top 0.06s ease-in;
	   -moz-transition: opacity 0.06s ease-in, top 0.06s ease-in;
	        transition: opacity 0.06s ease-in, top 0.06s ease-in;
}

.user_index>li {
	margin-bottom: 0.3333em;
	width:100%;
	white-space: nowrap;
}

.user_index>li a {
	color:rgb(239,239,239);
	margin-bottom: 0.3333em;
	width:100%;
	padding-left:10px;
	padding-right:10px;
}

.user_index>li:hover {
/*white-space: nowrap;*/
	background-color: grey;
}
/* .number */

.number {
	display: inline-block;

  width: 1.5em; height: 1.5em;
  -webkit-border-radius:  0.75em;
  -moz-border-radius:     0.75em;
  border-radius:          0.75em;
  	
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}


/* flash messages */

#flash {
	position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-left: -300px;
  padding: 2em;
  width: 600px;
  
  color: yellow;
  background: rgba(220, 90, 10, 0.96);
  
	-webkit-border-radius: 0.8333em;
	-moz-border-radius:    0.8333em;
	border-radius:         0.8333em;
	
	opacity: 0;
	
	-webkit-transition: opacity 0.4s ease-in;
	   -moz-transition: opacity 0.4s ease-in;
	        transition: opacity 0.4s ease-in;
}

#flash.active {
	opacity: 1;
	
	-webkit-transition: opacity 0.06s ease-in;
	   -moz-transition: opacity 0.06s ease-in;
	        transition: opacity 0.06s ease-in;
}

.flash_message {
	border-bottom: 1px solid rgb(220,160,0);
	padding-bottom: 0.3333em;
	margin-bottom: 0.3333em;
}
.flash_message:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}