/** EDIT\VIEW BUTTONS */
.jmb-dialog-interface-button {
	color: #909293;
	font-family: tahoma;
	font-size: 14px;
	position: absolute;
	right: 50px;
	top: 8px;
}
.jmb-dialog-interface-button div {
	background: none repeat scroll 0 0 #DDDEDE;
	border: 1px solid #EFEFEF;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	padding: 3px;
	text-align: center;
	width: 60px;
}
.jmb-dialog-interface-button div.active {
	background: none repeat scroll 0 0 #F8A13B;
	border: 1px solid #FFB45C;
	color: white;
}

.jmb-dialog-interface-button span {

}

/** MAIN */
.jmb-dialog-profile-menu-container{
	border-right: 2px solid gray;
	font-family: tahoma;
	font-weight: bold;
}
.jmb-dialog-profile-menu-item-parent{
	background: none repeat scroll 0 0 #2D2D2D;
	color: white;
	font-size: 16px;
	margin: 5px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	text-align:center
}
.jmb-dialog-profile-menu-item-child{
	background: none repeat scroll 0 0 #8D8D8D;
	font-size: 14px;
	height: 24px;
	margin: 5px;
	line-height: 24px;
	cursor: pointer;
	text-align:left;
}
.jmb-dialog-profile-menu-item-child:hover{
	background: none no-repeat scroll 0 0 #aaaaaa;
}
.jmb-dialog-profile-menu-item-child.active {
	background: none no-repeat scroll 0 0 yellow;
}
.jmb-dialog-profile-menu-item-child span{
	margin-left:20px;
}
.jmb-dialog-profile-content{
	position:relative;
}
/* Basic */
.jmb-dialog-profile-content-basic {
	background: none repeat scroll 0 0 #9A7423;
	border-radius: 5px 5px 5px 5px;
	font-family: Calibri,Tahoma;	
	font-size: 12px;
	margin: 10px;
	padding: 5px;
}
.jmb-dialog-profile-content-basic .jmb-dialog-button-submit {
	position:absolute;
	top:1px;
	right: 12px;
}
.jmb-dialog-profile-content-basic-body{
	background: none repeat scroll 0 0 #F1E4B0;
	border: 1px solid #473E1B;
	border-radius: 5px 5px 5px 5px;
	font-family: Calibri,Tahoma !important;
	font-size: 12px !important;
	margin-top: 23px;
	padding-bottom: 10px;
	position: relative;
}
.jmb-dialog-profile-content-basic-body table span{
	font-weight:bold;
}
.jmb-dialog-profile-content-basic-body table input[type="text"]{
	border: 1px solid gray;
	font-family: tahoma;
	font-size: 12px;
	height: 16px;
	margin: 3px;
	width: 210px;
}
.jmb-dialog-profile-content-basic-body table select{
	border: 1px solid #999999;
	margin: 3px;
	padding: 1px;
	width: 80px;
}
/* Unions */
.jmb-dialog-profile-content-unions{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 20px;
}
.jmb-dialog-profile-content-union{
	background: none repeat scroll 0 0 #9A7423;
	border-radius: 5px 5px 5px 5px;
	width: 500px;
	padding-top: 27px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-top: 10px;
}
.jmb-dialog-profile-content-unions-header{
	position: relative;
	margin-top: -28px;
}
.jmb-dialog-profile-content-unions-header div#title{
	position: absolute;
	top: 1px;
	left: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.jmb-dialog-profile-content-unions-header div#button{
	position: absolute;
	top: 1px;
	right: 0px;
}
.jmb-dialog-profile-content-unions-header input{
	border: 2px solid black !important;
	border-radius: 5px 5px 5px 5px;
	font-family: Calibri,Tahoma;
	font-size: 14px;
	font-weight: bold;
	margin: 3px;
	width: 65px !important;
	cursor:pointer;
}
.jmb-dialog-profile-content-unions form {
	background: none repeat scroll 0 0 #F1E4B0;
	border: 1px solid #473E1B;
	border-radius: 5px 5px 5px 5px;
}
.jmb-dialog-profile-content-unions  table#container {
	 margin-bottom: 10px;
	 margin-top: 30px;
}
.jmb-dialog-profile-content-unions  table span{
	font-weight:bold;
}
.jmb-dialog-profile-content-unions  table input[type="text"] {
	border: 1px solid gray;
	font-family: tahoma;
	font-size: 12px;
	height: 16px;
	margin: 3px;
}
.jmb-dialog-profile-content-unions  table select {
	border: 1px solid #999999;
	margin: 3px;
	padding: 1px;
	width: 80px;
}


.jmb-dialog-profile-content-unions-body{
	margin: 5px;
	margin-top: 30px;
}
.jmb-dialog-profile-content-unions-part{}
.jmb-dialog-profile-content-unions-person{
	display: inline-block;
	margin-top: 10px;
}
.jmb-dialog-profile-content-unions-person table{
	border-spacing: 0px;
}
.jmb-dialog-profile-content-unions-person .avatar{
	border: 1px solid #9A7423;
	width: 72px;
	height: 80px;
	background: white;
}
.jmb-dialog-profile-content-unions-person .info{
	background: white;
	border: 1px solid #9A7423;
	padding: 10px;
	height: 60px;
}
.jmb-dialog-profile-content-unions-person .info .name{}
.jmb-dialog-profile-content-unions-person .info .date{}
.jmb-dialog-profile-content-unions-person .info .location{}
.jmb-dialog-profile-content-unions-add{
	width: 102px;
	margin: 0 auto;
	margin-top: 5px;
}
.jmb-dialog-profile-content-unions-add input{
	border: 1px solid #000000;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-family: Calibri,Tahoma;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;	
}

.jmb-dialog-profile-content-union.add table input[type="text"]{
	border: 1px solid gray;
	font-family: tahoma;
	font-size: 12px;
	height: 16px;
	margin: 3px;
	width: 170px;
}
/* EVENTS */
.jmb-dialog-events-content {
	font-family: calibri, tahoma;
	font-size: 12px;
	width: 450px;
	margin-top: 10px;
	margin-left: 40px;
}
.jmb-dialog-events-header {
	position: relative;
	text-align: center;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
}
.jmb-dialog-events-header div {
	display: inline-block;
}
.jmb-dialog-events-header div.active {
	color: #3B5997;
}
.jmb-dialog-events-header div span {
	cursor: pointer;
}
.jmb-dialog-events-edit {
	position: relative;
}
.jmb-dialog-events-edit-buttons {
	position: absolute;
	top: 6px;
	right: 10px;
}
.jmb-dialog-events-edit-buttons input {
	border: 1px solid #999;
	border-radius: 2px;
	width: 50px;
	font-size: 12px;
	font-family: calibri,tahoma;
	margin-left: 3px;
	cursor: pointer;
}
.jmb-dialog-events-edit-header {
	border: 2px solid #3B5997;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	text-align: center;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
}
.jmb-dialog-events-edit-body {
	border: 2px solid #3B5997;
	margin-top: -2px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}
.jmb-dialog-events-edit-body table {
	width: 410px;
	margin-left: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.jmb-dialog-events-edit-body div.title {
	width: 70px;
	text-align: left;
	font-weight: bold;
	margin-left: 3px;
}
.jmb-dialog-events-edit-body div.radio span {
	cursor:pointer;
}
.jmb-dialog-events-edit-body select {
	border: 1px solid #999;
	padding: 3px;
	font-family: calibri, tahoma;
	font-size: 12px;
	margin: 3px;
}
.jmb-dialog-events-edit-body input{
	margin: 3px;
	border: 1px solid #999;
}
.jmb-dialog-events-edit-body input[type="text"] {
	width: 100px;
}
.jmb-dialog-events-edit-body input[type="radio"] {
	position: relative;
	top: 3px;
}
.jmb-dialog-events-edit-body input[type="text"][name="place"] {
	width: 118px;
}
.jmb-dialog-events-edit-body input[type="text"][name="year"],.jmb-dialog-events-edit-body input[type="text"][name="start_year"],.jmb-dialog-events-edit-body input[type="text"][name="end_year"] {
	width: 50px;
}
.jmb-dialog-events-list{
	position:relative;
}
.jmb-dialog-events-list ul {
	list-style: none;
}
.jmb-dialog-events-list li div{
	display: inline-block;
	cursor:default;
	padding: 3px;
	border-radius: 2px;
	border: 1px solid white;
}
.jmb-dialog-events-list li.active div{
	cursor: pointer;
}
.jmb-dialog-events-list li div#edit.button {
	width: 30px;
	text-align: center;
	color: #FFF;
}
.jmb-dialog-events-list li.active div#edit.button {
	background: #F8A13B;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}
.jmb-dialog-events-list li.active div#edit.button:hover {
	background: #b6772d;
}
.jmb-dialog-events-list li div#delete.button {
	width: 14px;
	height: 14px;
}
.jmb-dialog-events-list li.active div#delete.button {
	background: url('../image/delete.png') no-repeat 3px 3px;
}
.jmb-dialog-events-list li .text{
	cursor:pointer;
}
.jmb-dialog-events-list li.active .text{
	border: 1px solid #3B5997;
	background: #FFF200;
}






