.jmb-ancestors-container{
	position:relative;
}
.jmb-ancestors-container .home {
	background: url("../images/icon-home.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
}
.jmb-ancestors-jit{
	width:750px;
	height:400px;
	margin:auto;
	overflow:hidden;
	position:relative;
}
.jit-node-item{
	background: none repeat scroll 0 0 #c3c3c3;
	border: 1px solid #000000;
	height: 80px;
	position: relative;
	width: 209px;
}
.jit-node-item-question {
	background: url("../images/icon-question-mark.png") no-repeat scroll 50% 50% transparent;
	height: 80px;
	position: relative;
	width: 209px;
}
.jit-node-item table{
	margin-left: -3px;
	margin-top: -3px;
}
.jit-node-item .photo{
	background: none repeat scroll 0 0 white;
	border: 1px solid #000000;
	height: 80px;
	position: relative;
	width: 72px;
}
.jit-node-item .photo img {
	cursor: url("../images/magnify.png"), pointer;
}
.jit-node-item .data{
	font-family: Calibri,Tahoma;
	font-size: 12px;
	height: 80px;
	margin-left: -2px;
	margin-top: 1px;
	width: 136px;
}
.jit-node-item .data.male{
	background:white;
}
.jit-node-item .data.female{
	background: antiqueWhite;
}
.jit-node-item .data div{
	height: 20px;
    	margin-left: 3px;
    	text-align: left;
}
.jit-node-arrow{
	border: medium none;
	cursor: pointer;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}
.jit-node-arrow.left {
	background: url("../images/vector-left.gif") repeat scroll 0 0 transparent;
	left: -20px;
    	position: absolute;
    	top: 30px;
}
.jit-node-arrow.right {
	background: url("../images/vector-right.gif") repeat scroll 0 0 transparent;
	position: absolute;
	right: -20px;
	top: 30px;
}
.jit-edit-button {
	background: url("../images/edit2.jpg") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 18px;
	position: absolute;
	right: 0;
	top: 0;
	width: 18px;
}
.jit-facebook-icon {
	cursor: pointer;
	height: 18px;
    	position: absolute;
    	right: 0;
    	top: 62px;
    	width: 18px;
}
