#JMBAncestorsContainer{
	position:relative;
}
div#jit-label div.node{
	background: #C3C3C3;
}
.jmb-ancestors-overlay{
	position:absolute;
	top:0;
	left:0;
}
.jmb-ancestors-home {
	background: url("../images/icon-home.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
}
.jmb-ancestors-jit{
	width:750px;
	height:400px;
	margin:auto;
	position:relative;
}
.jit-node-item{
	background: none repeat scroll 0 0 #c3c3c3;
	border: 1px solid #000000;
	height: 80px;
	position: relative;
	width: 209px;
}
.jit-node-item-question {
	background: url("../images/icon-question-mark.png") no-repeat scroll 50% 50% transparent;
	height: 80px;
	position: relative;
	width: 209px;
}
.jit-node-item table{
	margin-left: -3px;
	margin-top: -3px;
}
.jit-node-item .photo{
	background: none repeat scroll 0 0 white;
	border: 1px solid #000000;
	height: 80px;
	position: relative;
	width: 72px;
}
.jit-node-item .photo img {
	cursor: url("../images/cursor.png") 5 1, pointer;
}
.jit-node-item .data{
	font-family: Tahoma;
	font-size: 11px;
	height: 80px;
	margin-left: -2px;
	margin-top: 1px;
	width: 136px;
}
.jit-node-item .data.male{
	background: #d5f3fe;
}
.jit-node-item .data.female{
	background: #fcdbf0;
}
.jit-node-item .data div{
	height: 20px;
    	margin-left: 3px;
    	text-align: left;
}
.jit-node-arrow{
	border: medium none;
	cursor: pointer;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}
.jit-node-arrow.left {
	background: url("../images/vector-left.gif") repeat scroll 0 0 transparent;
	left: -20px;
    	position: absolute;
    	top: 30px;
}
.jit-node-arrow.right {
	background: url("../images/vector-right.gif") repeat scroll 0 0 transparent;
	position: absolute;
	right: -20px;
	top: 30px;
}
/**
* edit
*/
.jit-edit-button {
	border: 2px solid white;
	background-color: #22b14c;
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 0;
	top: 0;
	width: 9px;
}

.jit-edit-button:hover{
	border: 2px solid yellow;
} 
.jit-edit-button.hover {
	background: url("../images/edit.gif") no-repeat scroll 0 0 transparent;
	width: 18px;
	height: 18px;
}
/**
* facebook
*/
.jit-facebook-icon {
	background: url("../images/facebook_small.gif") no-repeat scroll 0 0 transparent;
	border: 2px solid white;
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 0;
	top: 66px;
	width: 9px;
}
.jit-facebook-icon.hover{
	width:18px;
	height:18px;
	top: 58px;
	background:url("../images/facebook.gif") no-repeat transparent;
}
.jit-facebook-icon:hover{
	border: 2px solid yellow;
}
/**
* death marker
*/
.jit-death-marker {
	background: url("../images/death_marker.png") no-repeat scroll -40px 0 transparent;
	height: 10px;
    	left: 0;
    	position: absolute;
    	top: 0;
    	width: 10px;
}
