/* Calendar: a Javascript class for Mootools that adds accessible and unobtrusive date pickers to your form elements <http://electricprism.com/aeron/calendar> */
/* Sunny CSS for Calendar by Les Arbres */

input.sunny,
select.sunny {
	width: 68px;
}

button.sunny {
	background: url(sunny-icon.png) no-repeat right top;
	border: 0;
	cursor: pointer;
	height: 20px;
	width: 22px;
	min-width: 0;
	min-height:0;
	margin: 2px 2px 2px 5px;
	vertical-align:middle;
}
button.sunny:hover {
	background: url(sunny-icon.png) no-repeat right top;
}

div.sunny {
	background: url(sunny.png) no-repeat;
	height: 175px;
	padding: 0 12px;
	text-align: center;
	width: 147px;
}	
div.sunny * {
	margin: 0;
	padding: 0;
}	
div.sunny div {
	background: none !important;
	cursor: move;
	height: 165px;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
	width: 147px;
}	

div.sunny caption {
	color: #8C8473;
	font: normal 12px/17px Arial, Helvetica, sans-serif;
	padding-top: 4px;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
div.sunny caption a {
	cursor: pointer;
	display: block;
	height: 11px;
	overflow: hidden;
	position: absolute;
	text-indent: -100px;
	top: 16px;
	width: 11px;
}
div.sunny caption a.prev {
	background-image: url(sunny-prev.gif);
	left: 1px;
}
div.sunny caption a.next {
	background-image: url(sunny-next.gif);
	right: 1px;
}
div.sunny caption a:hover {
	background-position: 0 11px;
}
div.sunny caption span {
	height: 25px;
	position: relative;
	text-align: center;
}
div.sunny caption span.month {
	padding-right: 8px;
}
div.sunny caption span.month:after {
	content: ',';
}

div.sunny table {
	border: none !important;
	border-collapse: collapse;
	border-spacing: 0;
	cursor: default;
	margin: 0 auto;
	overflow: hidden;
	width: 147px;
}

div.sunny tr {
	border: 0;
}

div.sunny th {
	border: 0;
	color: #8C8473;
	font: normal 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 19px;
	text-align: center;
	width: 21px;
}

div.sunny td {
	border: 0;
	height: 19px;
	color: gray;
	font: normal 12px Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 5px;
	text-align: right;
	width: 16px;
}

div.sunny td.invalid {
	color: #666;
}

div.sunny td.valid, div.sunny td.inactive {
	color: #666;
	cursor: pointer;
	font-weight: bold;
}

div.sunny td.today {
	color: red;
}

div.sunny td.active {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

div.sunny td.hover {
	background-color:#FEFBF1;
	cursor: pointer;
}