<div class='media_browser_wrap layer' style='display:none'>
  

  <div id="mb_header" class='toolbar'>
    <ul>
      <li>
        Home
      </li>
      <li>
        Web
      </li>
      <li>
        Packages
      </li>
      <li>
        Apps
      </li>
      <li>
        My content
      </li>
    </ul>
  </div>
  <div id="mb_content">
    <div id="mb_home">
       media browser home
    </div>
    <div id="mb_web" style="display:none">
      web search
    </div>
    <div id="mb_packages" style="display:none">
      package
    </div>
    <div id="mb_apps" style="display:none">
      apps
    </div>
    <div id="mb_my_content" style="display:none">
      my_content
    </div>
  </div>
</div>