<div class='media_browser_wrap layer' style='display:none'>
  <div id="mb_header" class=''>
    <ul>
      <li>
        <a href='#media-browser-home', title='Show Media Browser Home'>
          Home
        </a>
      </li>
      <li>
        <a href='#media-browser-web', title='Search On Web Service'>
          Web
        </a>
      </li>
      <li>
        <a href='#media-browser-packages', title='Show your packages'>
          Packages
        </a>
      </li>
      <li>
        <a href='#media-browser-apps', title='Browse Apps'>
          Apps
        </a>
      </li>
      <li>
        <a href='#media-browser-my-content', title='Show My Content'>
          My content
        </a>
      </li>
    </ul>
  </div>
  <div id="media_browser_content">
    <div id="media_browser_home" class='media_browser_tab'>
       media browser home
    </div>
    <div id="media_browser_web" style="display:none" class='media_browser_tab'>
      web search
    </div>
    <div id="media_browser_packages" style="display:none" class='media_browser_tab'>
      package
    </div>
    <div id="media_browser_apps" style="display:none" class='media_browser_tab'>
      apps
    </div>
    <div id="media_browser_my_content" style="display:none" class='media_browser_tab'>
      my_content
    </div>
  </div>
</div>