<div class='media-browser-wrap layer' style='display:none'>
  <div id="media-browser-header" class=''>
    <ul>
      <li>
        <a href='#media-browser-home', title='Show Media Browser Home'>
          Home
        </a>
      </li>
      <li>
        <a href='#media-browser-web', title='Search On Web Service'>
          Web
        </a>
      </li>
      <li>
        <a href='#media-browser-packages', title='Show your packages'>
          Packages
        </a>
      </li>
      <li>
        <a href='#media-browser-apps', title='Browse Apps'>
          Apps
        </a>
      </li>
      <li>
        <a href='#media-browser-my-content', title='Show My Content'>
          My content
        </a>
      </li>
    </ul>
  </div>
  <div id="media-browser-content">
    <div id="media-browser-home" class='media-browser-tab'>
      <h2>Most used apps</h2>
      <h2>Packages we recommand</h2>
      
    </div>
    <div id="media-browser-web" style="display:none" class='media-browser-tab'>
      <div id="web_images" class='web_media'>
        <form>
          <div>
            <label for='web_images_search_field'> <%= t('.images.web_detail') %>  </label>
            <input type='text' id='web_images_search_field' class='web_media_search_field' />
            <input type='submit' value='<%= t('.buttons.search') %>' id='web_images_search_submit' class='web_media_search_submit' />
          </div>
        </form>
        <div id="flickr_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.flickr')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
        
        <div id="google_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.google')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
      </div>
    </div>
    <!-- <div id="media-browser-web" style="display:none" class='media-browser-tab'>
          web search
        </div>
        <div id="media-browser-packages" style="display:none" class='media-browser-tab'>
          package
        </div>
        <div id="media-browser-apps" style="display:none" class='media-browser-tab'>
          apps
        </div>
        <div id="media-browser-my-content" style="display:none" class='media-browser-tab'>
          my_content
        </div> -->
  </div>
</div>