<h2>Most used apps</h2>
<ul class="apps-index thumbs index">
  <li><a href="#vimeo" style="background-image: url(&quot;/uploads/medias/widget/6ea6f283-c531-4ba4-a509-aa70f2dde22d/1.33/icon.png&quot;);" title="Vimeo player [1.33]"><span class="title">Vimeo player</span><span class="version">v1.33</span></a></li>
  <li><a href="#youtube" style="background-image: url(&quot;/uploads/medias/widget/ac47e86d-f89d-44ec-9ab1-af573544f272/1.33/icon.png&quot;);" title="Youtube player [1.33]"><span class="title">Youtube player</span><span class="version">v1.33</span></a></li>
  <li><a href="#myspacevideo" style="background-image: url(&quot;/uploads/medias/widget/cebc3b2a-3ee6-4f5c-b511-7622fe63e255/1.0/icon.png&quot;);" title="MySpace video player [1.0]"><span class="title">MySpace video player</span><span class="version">v1.0</span></a></li>
</ul>