<h2>Packages we recommand</h2>
<ul class="vertical thumbs themes-index ui-corner-all" style="left: -61.1973px; top: -14.3309px; -moz-transform-origin: 49.1973px 2.33094px; opacity: 1; -moz-transform: scale(1);">
  <li><a style="background-image: url(&quot;/uploads/theme/ac6dc086-c567-496b-b641-0f4ede1ebbf4/images/thumbs/theme.png&quot;);" data-theme-id="ac6dc086-c567-496b-b641-0f4ede1ebbf4" href="#theme"><h3>Swiss Chocolate</h3></a></li>
  <li><a style="background-image: url(&quot;/uploads/theme/6b9ef8a6-733c-40b0-8b43-8c3611fd66c4/images/theme_thumb_light.png&quot;);" data-theme-id="6b9ef8a6-733c-40b0-8b43-8c3611fd66c4" href="#theme"><h3>Webdoc Default</h3></a></li><div class="loading-icon layer ui-pop-loading"></div></ul>
