.jmb-dtpe-tooltip{
	border:2px solid #444;
	background:#5F8D34;
	margin:0;
	padding:6px 12px;
	height: 450px;
	width: 420px;
}

.jmb-dtpe-tooltip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
}
.jmb-dtpe-tooltip-button{
	display:block;
	height:18px;
	width:18px;
	background:url(images/closeBtn.png) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-15px;
	margin:2px;
	padding:4px;
}
.jmb-dtpe-tabs {
	background-color: #55713B;
	left: -182px;
	position: absolute;
	top: 140px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.jmb-dtpe-tabs-item {
	border: 2px solid #444444;
	color: white;
	float: left;
	font-size: 16px;
	height: 30px;
	margin: -1px;
	width: 100px;
	cursor:pointer;
}
.jmb-dtpe-tabs-item:hover{
	background-color: #475937;
}
.jmb-dtpe-tabs-item.active {
	background-color: #5F8D34;
	border-bottom: 2px solid #5F8D34;
}
.jmb-dtpe-tabs-body-item {
	background-color: #EFE4B0;
	margin: 5px;
	padding: 5px;
	border: 2px solid #444444;
}
.jmb-dtpe-tabs-fieldset-body{
	margin-top: -20px;
	margin-left: 10px;
}
.jmb-dtpe-tabs-fieldset-body.description{
	font-family: tahoma;
	font-size: 12px;
	text-align: left;
}
.jmb-dtpe-tabs-body-item fieldset {
	border: none;
	margin: 5px;
}
.jmb-dtpe-tabs-body-item legend {
	font-size: 14px;
	font-weight: bold;
}
.jmb-dtpe-tabs-body-item select {
	border: 1px solid #444444;
}
.jmb-dtpe-tabs-input-name span{
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
}
.jmb-dtpe-tabs-input-text{
	background-color: #FFFAE2;
	border: 1px solid #444444;
	font-size: 12px;
	margin: 5px;
	padding-left: 5px;
	width: 245px;
	font-family: Tahoma;
}
.jmb-dtpe-tab-input-submit {
	border: 1px solid #444444;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
}
.jmb-dtpe-tabs-input-text:focus{
	border: 1px solid #000000;
}
.jmb-dtpe-tabs-input-radio{
	cursor: pointer;
	font-size: 12px;
	margin-left: 3px;
}
.jmb-dtpe-tabs-input-radio input{
	cursor: pointer;
	position: relative;
	top: 3px;
}
/*
.jmb-dtpe-tabs-button{
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 10px;
	padding: 2px 6px;
	text-decoration: none;
	text-align:center;
};
*/
.jmb-dtpe-tabs-button{
	background-color: white;
	border: 1px solid #444444;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	cursor: pointer;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}
.jmb-dtpe-tabs-button.new{
	margin-left: 10px;
	width: 75px;
}
.jmb-dtpe-tabs-button-info span{
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
.jmb-dtpe-tabs-button-info span.loading {
	color:#ff7070;
}
.jmb-dtpe-tabs-button-info span.loaded {
	color:#2c7c1f;
}
.jmb-dtpe-tabs-edit{
	max-height: 160px;
	overflow: auto;
	padding: 5px;
}
.jmb-dtpe-tabs-edit .jmb-edit-text{
	border: 1px solid #444444;
	cursor: pointer;
	font-size: 12px;
	height: 14px;
	line-height: 16px;
	margin: 5px;
	padding-left: 5px;
	text-align: left;
	width: 245px;
	font-family: Tahoma;
}
.jmb-edit-input textarea{
	border: 1px solid #444444;
	height: 140px;
	margin: 3px;
	resize: none;
	width: 340px;
}

.jmb-dtpe-hide-button {
	border-radius: 10px 10px 10px 10px;
	background-color: #5F8D34;
	border: 1px solid #444444;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	line-height: 17px;
	margin-left: 180px;
	margin-top: -20px;
	width: 16px;
}
.jmb-dtpe-edit-events{

}
.jmb-dtpe-source{}
.jmb-dtpe-source-text{
	cursor: pointer;
	margin: 10px;
}
.jmb-dtpe-source-title{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.jmb-dtpe-source-publication{
	font-family: Tahoma;
	font-size: 12px;
	margin-left: 20px;
	text-align: left;
}
.jmb-dtpe-source-edit{}
.jmb-dtpe-source-edit textarea{
	border: 1px solid #444444;
	height: 140px;
	margin: 3px;
	resize: none;
	width: 340px;
}
.jmb-dtpe-source-input-text{
	border: 2px solid #444444;
	width: 340px;
}
.jmb-dtpe-source-add{
	background-color: #5F8D34;
	border: 1px solid #444444;
	border-radius: 5px 5px 5px 5px;
	color: white;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 10px;	
	font-weight: bold;
	height: 12px;
	line-height: 12px;
	width: 30px;
	text-align: center;
}
.jmb-dtpe-media-avatar{
	/*background-color: #444444;*/
	border: 1px solid #EFE4B0;
	height: 180px;
	margin: 20px;
	width: 180px;
}
.jmb-dtpe-media-buttons{
	margin-left: -15px;
	margin-top: 20px;
	width: 190px;
}
.jmb-dtpe-media-conteiner{
	height: 150px;
	overflow: auto;
}
.jmb-dtpe-media-conteiner ul{
	margin: 3px;
	width: 390px;
}
.jmb-dtpe-media-conteiner li{
	display:inline;
	white-space: pre-line;
	float: left;
}
.jmb-dtpe-media-conteiner img{
	border: 3px solid #EFE4B0;
	width: 50px;
	height: 50px;
	margin: 3px;
	cursor:pointer;
}
.jmb-dtpe-media-name{
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	width: 70px;
	text-align: left;
	line-height: 10px;
	margin-bottom: 3px;
}
.jmb-dtpe-media-text{
	font-family: Tahoma;
	font-size: 10px;
}

.jmb-dtpe-media-text input[type="text"]{
	width: 150px;
	border: 1px solid #444444;
}

.jmb-dtpe-media-text input[type="checkbox"]{
	margin-left: 3px;
	margin-right: 1px;
}


.jmb-dtpe-media-text input[type="text"][name="date"]{
	width: 110px;
}

.jmb-dtpe-media-text textarea{
	width: 185px;
	border: 1px solid #444444;
	resize:none;
}

.jmb-dtpe-media-avatar-box span{
	background-color: white;
	border: 1px solid #CDCDCD;
	color: #000000;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 10px;
	margin-left: 3px;
	padding: 5px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.jmb-dtpe-media-avatar-box span:hover{
	background-color: #CDCDCD;
}

