

@font-face {
	font-family: 'AdlerRegular';
	src: url('../fonts/Adler-fontfacekit/adler.eot');
	src: local('Adler Regular'), local('Adler'), url('../fonts/Adler-fontfacekit/adler.ttf') format('truetype');
}

@font-face {
	font-family: 'GoodDogRegular';
	src: url('../fonts/GoodDog-fontfacekit/GoodDog.eot');
	src: local('GoodDog Regular'), local('GoodDog'), url('../fonts/GoodDog-fontfacekit/GoodDog.ttf') format('truetype');
}