ul.jmbtabs {
	margin: 0 !important;
	padding: 0 !important;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.jmbtabs li {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px !important; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.jmbtabs li a {
	text-decoration: none;
	color: #000 !important;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #F5FAE6; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.jmbtabs li a:hover {
	color: #000 !important;
}
ul.jmbtabs li a:hover {
	background: #ccc;
}
html ul.jmbtabs li.active, html ul.jmbtabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #f5fae6;
	border-bottom: 1px solid #F5FAE6; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	position: relative;
}
.tab_content {
	font-size: 1.2em;
	background: #f5fae6;
}
#jmbtab{
	min-height:400px;
}
.jmb-core-overlay {
	background: url("progressbar.gif") no-repeat scroll 50% 50% white;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 47px;
}

div.buttons {
	bottom: -20px;
	position: absolute;
    	right: 10px;
}
div.buttons span {
	color: blue;
	cursor: pointer;
    	font-size: 14px;
    	font-weight: bold;
}

.jmb_layout_row {
	margin:0 auto;
}
.jmb_layout_row div {
	/*text-align:center;*/
}
.jmb_layout_cell_single{
	margin:0 auto;
 	width:100%; 
	max-width:100%; 
	min-width:100%; 
	height:100%;
}
.jmb_layout_cell_double{
	width:50%; 
	max-width:50%;
	margin:0 auto;
	min-width:50%; 
	height:100%;
}
.jmb_layout_cell_triple{
 	width:33%; 
	max-width:33%; 
	min-width:33%; 
	height:100%;
}
