- if flash.present?
  - if flash.length
    -# we do not support more then one flash at a time. So we display the last one
    #flash{ :class => "active #{flash.keys.last}" }
      %p= flash.values.last
- else
  #flash{ :style => "display: none;" }