<% if flash.present? %>
  <% if flash.length %>
    
    <!-- flash -->
    
    <% # we do not support more then one flash at a time. So we display the last one. %>
    <div id="flash" class="active <%= flash.keys.last %>">
      <div class="flash_message">
      	<p><%= flash.values.last %></p>
      </div>
    </div>
    
  <% end %>
<% end %>