%header
  %div.wrap
    %h1.logo webdoc
    -#%img{ :src => "/images/logo.png", :alt =>"WebDoc logo"}
    %div
      - if user_signed_in?
        = current_user.name + ' - ' + current_user.email
        = link_to "edit", edit_user_path(current_user)
        = link_to "logout", destroy_user_session_path
    = render "layouts/flash", :object => flash