%header
  %div.clear.wrap
    %a{ :href => "/" }
      %h1.logo webdoc
    
    - if user_signed_in?
      %ul.userbar.divided.index
        %li>
          %div.user-email.item
            = current_user.email
        %li>
          = link_to "edit", edit_user_path(current_user), { :class => "user-edit item" }
        %li>
          = link_to "logout", destroy_user_session_path, { :class => "user-logout item" }
    
    = render "layouts/flash", :object => flash