#titlebar.titlebar-panel.panel{ :style => "display:#{@is_reader?'none':''}"}
  %h1
    %img{ :src => "/images/logo.png", :alt =>"WebDoc logo"}
    
  %ul#tb_1_utilities
    %li#tb_1_utilities_preview.toggle_preview
      %a{ :href => "#mode-toggle"}
        quick preview
    %li#tb_1_utilities_docname
      %h2=@document.title
      %span#current_page 3
      %span#separation /
      %span#total_page 25
    %li#tb_1_utilities_settings
      %a#tb_1_utilities_settings_trigger{ :href => "#"}
        %img{ :src => "/images/icons/settings.png", :alt => "Document settings"}
      %ul#tb_1_utilities_settings_dropdown
        %li.action_button
          %a{ :href => "#"} Save
        %li.action_button
          %a{ :href => "#"} Presentation mode
        %li.action_button
          %a{ :href => "#"} Invite collaborators
        %li.action_button
          %a{ :href => "#"} Import
        %li.action_button
          %a{ :href => "#"} Publish        
        %li.action_button
          %a{ :href => "#"} Extend Uniboard
        %li.action_button
          %a{ :href => "#"} Export
        %li.action_button
          %a{ :href => "#"} Print
        %li#develop_sub_menu 
          %a{ :href => "#"} Develop
          %ul
            %li.action_button
              %a{ :href => "#disable-html"} Disable HTML
