<!-- site header -->

<header class="header">
  <div class="site_wrap wrap">
    <a href="/">
      <h2 class="logo_thumb thumb">webdoc</h2>
    </a>
    
    <% if user_signed_in? %>
    <ul class="horizontal nav_index index">
      <li><a class="button header" href="/">home</a></li
     ><li><a class="button header" href="/documents/featured">featured</a></li
     ><li><a class="button header" href="/documents/explore">explore</a></li>
    </ul>
    <% end %>
    
    <% if user_signed_in? %>
    <ul class="horizontal usernav_index index ">
      <li><a href="/" class="button header">Messages</a></li
     ><li><a href="/" class="button header">Friends</a></li
     ><li>
        <a href="#dropdown" class="button header" data-for="#account_dropdown">Account</a>
        <ul class="user_index dropdown_index index" id="account_dropdown">
          <li><a href="/" class="button header">your profile</a></li
         ><li><a href="/" class="button header">logout</a></li>
        </ul>
      </li>
    </ul>
    <% else %>
		<ul class="horizontal usernav_index index">
		  <li><%= link_to "login", root_path %></li
		 ><li><%= link_to "sign up", new_registration_path(:user) %></li
		 ><li><%= link_to "sign up/in with Facebook", user_oauth_authorize_url(:facebook) %></li>
		</ul>
    <% end %>
  </div>
</header>