      <!-- site header -->
      
      <header class="header">
        <div class="site_wrap wrap">
          <a href="/">
            <h2 class="logo_thumb thumb">webdoc</h1>
          </a>
          <ul class="nav_index index">
            <li><a href="/">home</a></li
           ><li><a href="/documents/featured">featured</a></li
           ><li><a href="/documents/explore">explore</a></li>
          </ul>
          
          <div class="userbar">
            <h5 class="user-email item">admin@mnemis.com</h5>
            <ul class="divided user_index index">
              <li><a href="/followships" class="item ">your contacts</a></li
             ><li><a href="/users/1/edit" class="user-edit item ">your profile</a></li
             ><li><a href="/users/sign_out" class="user-logout item">logout</a></li>
            </ul>
          </div>
        </div>
      </header>