<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <title>webdoc is under maintenance</title>
    <meta content='' name='keywords' />
    <meta content='' name='description' />
    <style type="text/css">
      html {
        font-size:100.01%;
      }
      body {
        font-size: 100%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      #wrapper {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      #header, #content, #footer {
        text-align: center;
      }
      a {
        border: 0px;
      }
      a img {
        border: 0px;
      }
    </style>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
         <h1><a href="/"><img src="images/logo_xl.png" alt="webdoc"></a></h1>
      </div>
      <div id='content'>
        <p>
          webdoc is currently unavailable due to maintenance being done. Please try again later.
        </p>
      </div>
      
      <div id='footer'>
        <p>© 2010 webdoc</p>
      </div>
    </div>
  </body>
</html>